{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scal=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi"/>
    <title>unbox</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- <link href="../static/css/unbox_custom.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet"> -->
    <link href="{% static 'css/unbox_custom.css' %}" rel="stylesheet">    
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  	<script src="{% static 'js/unbox_custom.js' %}"></script>
</head>

<body>
	<!--loading-->
    <div id="delay" class="loading" name="delay"></div>
    
    <!--btn_top-->
    <a class="page-scroll hover_effect" href="body" id="btn_top"></a>

    <header>
		<div class="container">
			<nav class="main_menu"> 
				<a href="index.html"><div id="logo"></div></a>
                <div class="left_nav">
					<span class="menu_item"><a href="index.html" id="menu_item_active">이벤트</a></span>
					<span class="menu_item"><a href="participation_page.html" >참여상자</a></span>
					<span class="menu_item"><a href="create_event.html">이벤트 만들기</a></span>
				</div>
                    
                    
                    <!----- moblie web ---->
                    <div class="moblie_menu_item">
                    	<a href="index.html">
                        <span class="menu_icon_wrap">
                        	<div class="menu_icon2 menu_icon_event" id="event_active"></div>
                        </span>
                        </a>
                        <a href="participation_page.html">
                        <span class="menu_icon_wrap">
                        	<div class="menu_icon2 menu_icon_participation"></div>
                        </span>
                        </a>
                        <a href="create_event.html">
                        <span class="menu_icon_wrap">
                        	<div class="menu_icon2 menu_icon_create"></div>
                        </span>
                        </a>
                    </div>
                <div class="right_nav">  
                
                	<a href="search_page.html">
                    <span class="menu_icon_wrap">
                        <div class="menu_icon menu_icon_search"></div>
                    </span>
                    </a>
                    <span class="menu_icon_wrap" onclick="toggle_push_selection()">
                        <div class="menu_icon menu_icon_push"></div>
                    </span>
                    
                    
					<span class="menu_icon_wrap"  onclick="toggle_more_selection()">
                    	<div class="menu_icon menu_icon_more"></div>
                    	
					</span>
                    <div class="mouseover" id="menu_icon_push_mouseover">
                        	<a href="#">
							<div class="push_content">
								<div class="nav_pic">
                                	<img class="img-responsive" src="{% static 'img/11.jpg' %}">
                                </div>
								<div class="nav_content_text ellipsis">알림내용알림내용알림내용알림내용알림내알림내용알림내용알림내용알림내용알림내알림내용알림내용알림내용알림내용알림내용알림내용</div>
								<div class="nav_content_text_time">5분전</div>
							</div>
                            </a>
							<a href="#">
							<div class="push_content">
								<div class="nav_pic">
                                	<img class="img-responsive" src="{% static 'img/1.jpg' %}">
                                </div>
								<div class="nav_content_text ellipsis">알림내용</div>
								<div class="nav_content_text_time">5분전</div>
							</div>
                            </a>
							<a href="#">
							<div class="push_content">
								<div class="nav_pic">
                                	<img class="img-responsive" src="{% static 'img/3.jpg' %}">
                                </div>
								<div class="nav_content_text ellipsis">알림내용</div>
								<div class="nav_content_text_time">5분전</div>
							</div>
                            </a>
                            <a href="#">
							<div class="push_content">
								<div class="nav_pic">
                                	<img class="img-responsive" src="{% static 'img/2.jpg' %}">
                                </div>
								<div class="nav_content_text ellipsis">알림내용</div>
								<div class="nav_content_text_time">5분전</div>
							</div>
                            </a>
                            <a href="#">
							<div class="push_content">
								<div class="nav_pic">
                                	<img class="img-responsive" src="{% static 'img/3.jpg' %}">
                                </div>
								<div class="nav_content_text ellipsis">알림내용</div>
								<div class="nav_content_text_time">5분전</div>
							</div>
                            </a>
                            <a href="#">
							<div class="push_content">
								<div class="nav_pic">
                                	<img class="img-responsive" src="{% static 'img/10.jpg' %}">
                                </div>
								<div class="nav_content_text ellipsis">알림내용</div>
								<div class="nav_content_text_time">5분전</div>
							</div>
                            </a>
							<a href="push_page.html"><div class="push_detail_btn">자세히 보기</div></a>
						</div>
                     <div class="mouseover" id="menu_icon_more_mouseover">
							<div class="more_mouseover_profile">
								<a href="profile.html">
								<div id="user_pic">
                                	<img class="img-responsive" src="{% static 'img/11.jpg' %}">
                                </div>
								<div id="user_name">신연석</div>
								</a>
							</div>
							<ul id="more_list_wrapper">
								<a href="join-invite-friend.html"><li class="more_list">친구초대</li></a>
								<a href="customer_service.html"><li class="more_list">고객지원</li></a>
								<a href="preferences_page.html"><li class="more_list">설정</li></a>
								<a href="logout.html"><li class="more_list">로그아웃</li></a>																								
							</ul>
					 </div>
                 </div>   
			</nav>  
		</div>
	</header>	
    <!--=====best_event======-->
    <div class="banner_wrap">
        <section class="best_event">
            <!-- <img class="img-responsive hover_effect2" src="../static/img/bg.jpg"> -->
            <img class="img-responsive hover_effect2" src="{% static 'img/bg.jpg' %}">
            <!--<img class="img-responsive hover_effect2" src="http://placehold.it/1080x600.png">-->
        </section>	
    </div>    
    <div class="container">

        <!--=====Event Filter======-->
        <section class="event_filter">
        	<div class="filter_wrap">
            	<div class="view_button_wrap">
                	<input type="radio" id="viewmode1" value="1" name="view"/>
                    <label class="view_button" id="view1" for="viewmode1"onclick="viewmode(1)"></label>
                    <input type="radio" id="viewmode2" value="2" name="view" checked />
                    <label class="view_button" id="view2" for="viewmode2"onclick="viewmode(2)"></label>
                </div>
                <div class="filter_button text-center" id="filter_button" onclick="toggle_filter_selection()">	
                    카테고리
                    <img src="{% static 'img/dropdown_arrow.png' %}">
                </div>
                
            </div>
         
            <div class="filter_selection" id="filter_selection">
                <div class="filter_open_wrap">
                		<!--
                        <label><input class="group-a-check-all" type="checkbox" name="" id="">Group A</label>
                        <label><input class="group-b-check-all" type="checkbox" name="" id="">Group B</label>
                        <label><input class="group-all-check-all" type="checkbox" name="" id="">Check All</label>-->
                        <div class="clear"></div>
                        <form class="clearfix group-all" action="">
                            <table class="group-a">
                                <thead>
                                    <tr>
                                        <th colspan="2">관심사</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                        	<input type="checkbox" name="" id="all_check1" checked>
                                            <label class="check_button all_check_button" for="all_check1">전체</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="like1">
                                            <label class="check_button" for="like1">연극</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="like2">
                                            <label class="check_button" for="like2">영화</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="like3">
                                            <label class="check_button" for="like3">미술</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="like4">
                                            <label class="check_button" for="like4">음악</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="like5">
                                            <label class="check_button" for="like5">공연</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="like6">
                                            <label class="check_button" for="like6">스포츠</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="group-b">
                               <thead>
                                    <tr>
                                        <th colspan="2">지역</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                        	<input type="checkbox" name="" id="all_check2" checked>
                                            <label class="check_button all_check_button" for="all_check2">전체</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="local1">
                                            <label class="check_button" for="local1">홍대/신촌</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="local2">
                                            <label class="check_button" for="local2">이태원</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="local3">
                                            <label class="check_button" for="local3">명동</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="local4">
                                            <label class="check_button" for="local4">대학로</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="local5">
                                            <label class="check_button" for="local5">분당</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="local6">
                                            <label class="check_button" for="local6"></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="group-c">
                                <thead>
                                    <tr>
                                        <th colspan="2">시간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                        	<input type="checkbox" name="" id="all_check3" checked>
                                            <label class="check_button all_check_button" for="all_check3">전체</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="time1">
                                            <label class="check_button" for="time1">오전</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="time2">
                                            <label class="check_button" for="time2">오후</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="group-d">
                                <thead>
                                    <tr>
                                        <th colspan="2">가격</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                        	<input type="checkbox" name="" id="all_check4" checked>
                                            <label class="check_button all_check_button" for="all_check4">전체</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<input type="checkbox" name="" id="price1">
                                            <label class="check_button" for="price1">무료</label>
                                        </td>
                                        <td>
                                        	<input type="checkbox" name="" id="price2">
                                            <label class="check_button" for="price2">유료</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <script type="text/javascript">
                            $('.group-a-check-all').checkAll({
                                scope: $('.group-a')
                            });
                    
                            $('.group-b-check-all').checkAll({
                                scope: $('.group-b')
                            });
                    
                            $('.group-all-check-all').checkAll({
                                scope: $('.group-all')
                            });
                        </script>  
                  		<div class="clear"></div>
                </div>
             </div>
          </section><!--=====Event Filter End======-->
    
    <!--=====Event Contents======-->
    <section id="event_container">
        <!--Content Box 1-->
        <article class="unbox_event view2">
        	<!--Event user-->
        	 <div class="event_user_info" style="display:none">
              	<img src="{% static 'img/5.jpg' %}">
                <p>이승호</p>
              </div>
              <!--Event thumbnail-->
              
              <div class="event_thumbnail hover_effect">
                    <a href="event_page.html">
                        <img class="img-responsive" src="{% static 'img/event1.jpg' %}">
                    </a>
                    
                    <!--See More Button-->
                    <div class="more_icon">
                         <ul class="more_btn_wrap">
                              <li class="more_btn_list">게시물 그만보기</li>
                              <li class="more_btn_list"><a href="#declare" class="text-center" data-toggle="modal">신고하기</a></li>
                         </ul>
                    </div>
              </div>
              <!--Event Details-->
              <div class="event_details">
                  <h1 class="event_title">여유있는 차 한잔</h1>
                  <!--icon-->
                  <div class="icon_wrap">
                      <!--Share Button-->
                      <div class="event_thumbnail_menu_icon">
                           <a href="#event_share" class="text-center" data-toggle="modal">
                           <div id="share_icon"></div>
                           </a>
                      </div>
                      <!--Bookmark Button
                      <div class="event_thumbnail_menu_icon">
                         <div id="bookmark_icon">
                         </div>
                      </div>-->
                  </div>
                  <p class="event_address">서울시 종로구 세종대로</p>
                  <div class="event_time_price">
                      <p class="event_time">2015년 6월 23일 (화) 오후 7:00 </p>
                      <p class="event_price">6000원</p>
                  </div>
              </div><!--Event detail End-->
              
    	</article> <!--Content Box End-->
    
    
        <!--Content Box 1-->
        <article class="unbox_event view2 2n_view2">
        	  <!--Event user-->
              <a href="profile.html">
        	  <div class="event_user_info hover_effect" style="display:none">
              	<img src="{% static 'img/2.jpg' %}">
                <p>이승호</p>
              </div>
              </a>
              <!--Event thumbnail-->
              <div class="event_thumbnail hover_effect">
                    <a href="event_page.html">
                        <img class="img-responsive" src="{% static 'img/event2.jpg' %}">
                    </a>
                    
                    <!--See More Button-->
                    <div class="more_icon">
                         <ul class="more_btn_wrap">
                              <li class="more_btn_list">게시물 그만보기</li>
                              <li class="more_btn_list"><a href="#declare" class="text-center" data-toggle="modal">신고하기</a></li>
                         </ul>
                    </div>
              </div>
              <!--Event Details-->
              <div class="event_details">
                  <h1 class="event_title">주말은 호수에서</h1>
                  <!--icon-->
                  <div class="icon_wrap">
                      <!--Share Button-->
                      <div class="event_thumbnail_menu_icon">
                           <a href="#event_share" class="text-center" data-toggle="modal">
                           <div id="share_icon"></div>
                           </a>
                      </div>
                  </div>
                  <p class="event_address">서울특별시 중구 필동3가</p>
                  <div class="event_time_price">
                      <p class="event_time">2015년 6월 27일 (토) 오후 1:00</p>
                      <p class="event_price">8000원</p>
                  </div>
              </div><!--Event detail End-->
              
    	</article> <!--Content Box End-->
    
    
        <!--Content Box 1-->
        <article class="unbox_event view2">
        	<!--Event user-->
        	 <a href="profile.html">
        	  <div class="event_user_info hover_effect" style="display:none">
              	<img src="{% static 'img/1.jpg' %}">
                <p>이승호</p>
              </div>
              </a>
              <!--Event thumbnail-->
              <div class="event_thumbnail hover_effect">
                    <a href="event_page.html">
                        <img class="img-responsive" src="{% static 'img/event4.jpg' %}">
                    </a>
                    
                    <!--See More Button-->
                    <div class="more_icon">
                         <ul class="more_btn_wrap">
                              <li class="more_btn_list">게시물 그만보기</li>
                              <li class="more_btn_list"><a href="#declare" class="text-center" data-toggle="modal">신고하기</a></li>
                         </ul>
                    </div>
              </div>
              <!--Event Details-->
              <div class="event_details">
                  <h1 class="event_title">아름다운 일본 음식점 탐방</h1>
                  <!--icon-->
                  <div class="icon_wrap">
                      <!--Share Button-->
                      <div class="event_thumbnail_menu_icon">
                           <a href="#event_share" class="text-center" data-toggle="modal">
                           <div id="share_icon"></div>
                           </a>
                      </div>
                  </div>
                  <p class="event_address">서울시 종로구 세종대로</p>
                  <div class="event_time_price">
                      <p class="event_time">2015년 6월 23일 (화) 오후 7:00 </p>
                      <p class="event_price">6000원</p>
                  </div>
              </div><!--Event detail End-->
              
    	</article> <!--Content Box End-->
    
    
        <!--Content Box 1-->
        <article class="unbox_event view2 2n_view2">
        	<!--Event user-->
        	<a href="profile.html">
        	  <div class="event_user_info hover_effect" style="display:none">
              	<img src="{% static 'img/3.jpg' %}">
                <p>이승호</p>
              </div>
              </a>
              <!--Event thumbnail-->
              <div class="event_thumbnail hover_effect">
                    <a href="event_page.html">
                        <img class="img-responsive" src="{% static 'img/event3.jpg' %}">
                    </a>
                    
                    <!--See More Button-->
                    <div class="more_icon">
                         <ul class="more_btn_wrap">
                              <li class="more_btn_list">게시물 그만보기</li>
                              <li class="more_btn_list"><a href="#declare" class="text-center" data-toggle="modal">신고하기</a></li>
                         </ul>
                    </div>
              </div>
              <!--Event Details-->
              <div class="event_details">
                  <h1 class="event_title">부산 친목동호회 - 해운대</h1>
                  <!--icon-->
                  <div class="icon_wrap">
                      <!--Share Button-->
                      <div class="event_thumbnail_menu_icon">
                           <a href="#event_share" class="text-center" data-toggle="modal">
                           <div id="share_icon"></div>
                           </a>
                      </div>
                  </div>
                  <p class="event_address">서울특별시 중구 필동3가</p>
                  <div class="event_time_price">
                      <p class="event_time">2015년 6월 27일 (토) 오후 1:00</p>
                      <p class="event_price">8000원</p>
                  </div>
              </div><!--Event detail End-->
    	</article> <!--Content Box End-->
        
        <!--Content Box 1-->
        <article class="unbox_event view2">
        	<!--Event user-->
        	 <div class="event_user_info" style="display:none">
              	<img src="{% static 'img/5.jpg' %}">
                <p>이승호</p>
              </div>
              <!--Event thumbnail-->
              
              <div class="event_thumbnail hover_effect">
                    <a href="event_page.html">
                        <img class="img-responsive" src="{% static 'img/event5.jpg' %}">
                    </a>
                    
                    <!--See More Button-->
                    <div class="more_icon">
                         <ul class="more_btn_wrap">
                              <li class="more_btn_list">게시물 그만보기</li>
                              <li class="more_btn_list"><a href="#declare" class="text-center" data-toggle="modal">신고하기</a></li>
                         </ul>
                    </div>
              </div>
              <!--Event Details-->
              <div class="event_details">
                  <h1 class="event_title">아름다운가게 세종로점 책과나눔</h1>
                  <!--icon-->
                  <div class="icon_wrap">
                      <!--Share Button-->
                      <div class="event_thumbnail_menu_icon">
                           <a href="#event_share" class="text-center" data-toggle="modal">
                           <div id="share_icon"></div>
                           </a>
                      </div>
                      <!--Bookmark Button
                      <div class="event_thumbnail_menu_icon">
                         <div id="bookmark_icon">
                         </div>
                      </div>-->
                  </div>
                  <p class="event_address">서울시 종로구 세종대로</p>
                  <div class="event_time_price">
                      <p class="event_time">2015년 6월 23일 (화) 오후 7:00 </p>
                      <p class="event_price">6000원</p>
                  </div>
              </div><!--Event detail End-->
              
    	</article> <!--Content Box End-->
    
    
        <!--Content Box 1-->
        <article class="unbox_event view2 2n_view2">
        	  <!--Event user-->
              <a href="profile.html">
        	  <div class="event_user_info hover_effect" style="display:none">
              	<img src="{% static 'img/2.jpg' %}">
                <p>이승호</p>
              </div>
              </a>
              <!--Event thumbnail-->
              <div class="event_thumbnail hover_effect">
                    <a href="event_page.html">
                        <img class="img-responsive" src="{% static 'img/event6.jpg' %}">
                    </a>
                    
                    <!--See More Button-->
                    <div class="more_icon">
                         <ul class="more_btn_wrap">
                              <li class="more_btn_list">게시물 그만보기</li>
                              <li class="more_btn_list"><a href="#declare" class="text-center" data-toggle="modal">신고하기</a></li>
                         </ul>
                    </div>
              </div>
              <!--Event Details-->
              <div class="event_details">
                  <h1 class="event_title">자연속에서</h1>
                  <!--icon-->
                  <div class="icon_wrap">
                      <!--Share Button-->
                      <div class="event_thumbnail_menu_icon">
                           <a href="#event_share" class="text-center" data-toggle="modal">
                           <div id="share_icon"></div>
                           </a>
                      </div>
                  </div>
                  <p class="event_address">서울특별시 중구 필동3가</p>
                  <div class="event_time_price">
                      <p class="event_time">2015년 6월 27일 (토) 오후 1:00</p>
                      <p class="event_price">8000원</p>
                  </div>
              </div><!--Event detail End-->
              
    	</article> <!--Content Box End-->
    
    
        <!--Content Box 1-->
        <article class="unbox_event view2">
        	<!--Event user-->
        	 <a href="profile.html">
        	  <div class="event_user_info hover_effect" style="display:none">
              	<img src="{% static 'img/1.jpg' %}">
                <p>이승호</p>
              </div>
              </a>
              <!--Event thumbnail-->
              <div class="event_thumbnail hover_effect">
                    <a href="event_page.html">
                        <img class="img-responsive" src="{% static 'img/event7.jpg' %}">
                    </a>
                    
                    <!--See More Button-->
                    <div class="more_icon">
                         <ul class="more_btn_wrap">
                              <li class="more_btn_list">게시물 그만보기</li>
                              <li class="more_btn_list"><a href="#declare" class="text-center" data-toggle="modal">신고하기</a></li>
                         </ul>
                    </div>
              </div>
              <!--Event Details-->
              <div class="event_details">
                  <h1 class="event_title">분당 주민 볼링대회</h1>
                  <!--icon-->
                  <div class="icon_wrap">
                      <!--Share Button-->
                      <div class="event_thumbnail_menu_icon">
                           <a href="#event_share" class="text-center" data-toggle="modal">
                           <div id="share_icon"></div>
                           </a>
                      </div>
                  </div>
                  <p class="event_address">경기도 성남시 분당구</p>
                  <div class="event_time_price">
                      <p class="event_time">2015년 6월 23일 (화) 오후 7:00 </p>
                      <p class="event_price">6000원</p>
                  </div>
              </div><!--Event detail End-->
              
    	</article> <!--Content Box End-->
    
    
        
      
    </section>  <!--event_container_end  -->
   
    
  </div> <!--Container End--> 
  
  <!--=====Footer======-->
  <footer>
		<div id="wrapper_footer">
			<ul id="footer_menu">
				<li class="footer_menu"><a href="unbox_team.html">회사소개</a></li>
				<li class="footer_menu"><a href="partnership_proposal.html">제휴제안</a></li>
				<li class="footer_menu"><a href="unbox_policy.html">이용약관</a></li>
				<li class="footer_menu" id="last_menu"><a href="customer_service.html">고객지원</a></li>
			</ul>
            <div class="hr_short"></div>
            <p id="copyright">
				Copyright © 2015 unbox Inc. All rights reserved.
			</p>
		</div>	
  </footer>

        
    <!--modal popup1 report-->
	<div class="modal fade in" id="declare" aria-hidden="false">
		<div class="modal-dialog2">
			<div class="modal-content2 popup_section">
                  <p class="section"></p>
                  <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true">
                       <img src="{% static 'img/participation_page/x_btn.png' %}">
                  </button>
                  <div class="report_wrap">
                       <form>
                            <input type="radio" class="select" id="select1" name="select"/>
                            <label for="select1" class="report_select">1. 불쾌한 내용이 있습니다</label><br>
                            <input type="radio" class="select" id="select2" name="select"/>
                            <label for="select2" class="report_select">2. 관련 없는 이벤트입니다.</label><br>
                            <input type="radio" class="select" id="select3" name="select"/>
                            <label for="select3" class="report_select">3. 이런저런 이유</label><br>                            <textarea class="reason_txt" placeholder="이유를 적어주세요."></textarea>
                            <button type="button" class="popup_btn">신고하기</button>
                       </form>
                 </div>    
          	</div><!--modal-content end-->
		</div>
	</div>
		
        
    <!--=====modal popup share======-->
    <div class="modal fade in" id="event_share" aria-hidden="false">
		<div class="modal-dialog2">
			<div class="modal-content3 popup_section">
                 <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true">
                      <img src="{% static 'img/participation_page/x_btn.png' %}">
                  </button>
                  <div class="sns_icon_wrap">
                               <a href="#" ><div class="icon" id="facebook"></div></a>
                               <a href="#" ><div class="icon" id="instagram"></div></a>
                               <!--<a href="#" ><div class="icon" id="twitter"></div></a>-->
                               <a href="#" ><div class="icon" id="kakaostory"></div></a>
                               <a href="#" ><div class="icon" id="naver"></div></a>
                               <a href="#" ><div class="icon" id="link"></div></a>
                               <div style="clear:both"></div>
                 </div>
          	</div><!--modal-content end-->
		</div>
	</div>
    


</body>
</html>