html, body {
	width: 100%;
	height: 100%;
}
.container {
	position: relative;
	width: 100%;
	height: auto;
	min-width: 740px;
	padding:0 15px;
	margin: 0 auto;
	
}
.container2 {
	width: 100%;
	max-width: 1000px;
	min-width: 740px;
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	margin: 0 auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.step {
	width: 100%;
	height:15%;
	text-align: center;
	font-size: 13px;
	position: relative;
	padding:7%;
	color: #888;
}
.section_text{
	margin-top:70px;
	}

/*---========step 1======---*/

.step_1_wrapper {
	padding-top: 70px;
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
	height: auto;
	position: relative;
	margin-bottom: 10px;
}



/*------load image----*/
.event_picture {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom:67%;
	border: 1px solid #eee;
	background-color: #eee;
}
.event_picture_description{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: hidden;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
#upload_icon{
	width:70px;
	height:70px;
	margin:0 auto;
	background:url(../img/create_event/upload_icon.png) no-repeat center center;
	}
#section_described{
	height:auto;
	width:100%;
	text-align:center;
	font-size:15px;
	letter-spacing:3px;
	line-height:normal;
	  margin-top: 15px;
	}
.load_wrap {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
	border-top:1px solid #ddd;
	background-color:#eee;
}
.load_icon_wrap {
	width: auto;
	height: inherit;
	display: inline-block;
	margin: 5px;
}
.load_icon_wrap p {
	font-size: 1em;
	color: #444;
}
#image_load_wrapper_left:hover, #image_load_wrapper_right:hover {
	opacity: 0.5;
	transition-duration: 0.3s;
}
.image_load {
	width: 60px;
	height: 45px;
	border: none;
	text-align: center;
	cursor: pointer;
}
#pic_icon {
	background: url(../img/create_event/pic_icon.png) no-repeat center center;
	background-size: contain;
}
#video_icon {
	background: url(../img/create_event/video_icon.png) no-repeat center center;
	background-size: contain;
}
#music_icon {
	background: url(../img/create_event/music_icon.png) no-repeat center center;
	background-size: contain;
}
/*------detail input-----*/




.event_page_detail {
	padding-top: 100px;
	max-width: 700px;
	width: 100%;
	margin:0 auto;
	height: 100%;
}
.event_create_input {
	padding-top: 100px;
	width: 100%;
	margin: 0 auto;
}
.event_input {
	width: 100%;
	background-color: transparent;
	border: none;
	color: #333;
}
.event_input:hover {
	background-color: transparent;
}

input::-moz-placeholder {
 color: #aaa;
}
 textarea:-ms-input-placeholder {
 color: #aaa;
}
input:-ms-input-placeholder {
 color: #aaa;
}

#event_title {
	width:85%;
	float:left;
	height: 45px;
	font-size: 22px;
	font-weight:bold;
	line-height: 45px;
}
.event_detail_category {
	float: right;
	border:1px solid #eee;
	width:15%;
	font-size: 14px;
	height: 35px;
  margin: 5px 0;
  line-height: 33px;
	color: #08c;
	text-align:center;
	cursor:pointer;
}
.event_detail_category:hover{
	border:1px solid #08c;
	}
#short_description {
	margin-top: 60px;
	height: auto;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #066ab3;
	color:#333;
}
#long_description {
	clear: both;
	margin-top: 20px;
	margin-bottom: 50px;
	min-height:180px;
	height:auto;
	font-size: 14px;
	line-height: 24px;
	resize: none;
}

#event_hashtag{
	height:40px;
	line-height:40px;
	margin-bottom: 36px;
	margin-top: 16px;
	color: #80c172;
	}
.event_page_detail p{
	display:block;
	width:100%;
	color:#767676;
	height:200px;
	padding:10px;
	background-color:#f9f9f9;
	}	
/*-------*/

.event_creator {
	position:relative;
	max-width: 700px;
	width: 100%;
	height: auto;
	
	margin:0 auto;
	margin-top: 20px;
}

/*---- profile ---*/
.wrapper_2 {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 48px;
}
#profile_img_wrap {
	position:absolute;
	left:0;
	top:0;
	width:auto;
	height: 80px;
	margin-right: 5%;
	float: left;
}
#profile_img {
	width: 50px;
	height: 50px;
	background: #eee;
	border:1px solid #eee;
	/*border-radius: 50%;*/
	cursor: pointer;
}
#profile_img img{
	width:100%;
	height:100%;
	}
#profile_img:hover {
	opacity: 0.6;
	transition-duration: 0.4s;
}
#profile_name {
	text-align: center;
	color: #545454;
	width: 100%;
	font-size: 13px;
	padding-left: 2%;
	height: 30px;
	line-height: 30px;
}
#profile_about_wrap {
	position: relative;
	width:100%;
	padding-left:70px;
	height: inherit;
	color: #545454;
	float: right;
	font-size: 14px;
}
#profile_about {
	color: #545454;
	line-height: 160%;
	min-height: 50px;
	height:50px;
	width: 80%;
	font-size: 14px;
	border: none;
	resize: none;
}
#profile_homepage {
	color:#57ad68;
	width: 80%;
	height: 30px;
	font-size: 14px;
}
#profile_homepage:hover {
	text-decoration: underline;
}
#edit_btn {
	position: absolute;
	right: 0;
	top: 30px;
	width:auto;
	margin-left: 5%;
	height: 20px;
	text-align: right;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
#edit_btn:hover {
	text-decoration: underline;
}
.event_detail_hr_2 {
	position: relative;
	display: block;
	height: 1px;
	width: 100%;
	max-width: 700px;
	border: 0;
	margin: 0 auto;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 0;
}

/*------ 세부사항 -----*/
.label1 {
	width: 20%;
	margin-right: 3%;
	min-width: 140px;
	float: left;
	font-size: 14px;
	color: #545454;
	height: 36px;
	line-height: 38px;
	margin-bottom: 10px;
}
.input_wrapper {
	width: 77%;
	height: 100%;
	float: right;
	color: #333;
	position: relative;
	margin-bottom: 10px;
}
/*------map-----*/
#map-canvas {
	margin: 0;
	padding: 0;
	height: 0;
  padding-bottom: 60%;
	width: 100%;
	clear: both;
	/*border: 1px solid rgba(0,0,0,0.05);*/
	background-color: #eee;
}
.map_search {
	width: 100%;
	height: 100%;
	line-height: 36px;
	color: #545454;
}
#search_input {
	padding-left: 10px;
	height: 36px;
	width: 87%;
	float: left;
	background-color: transparent;
	border: 1px solid #eee;
	border-right:none;
}
#search_btn {
	float: right;
	height: 36px;
	width: 13%;
	line-height: 36px;
}
#search_btn:hover {
	cursor: pointer;
}
#search_btn:active {
	background-color: rgba(250,250,250,0.2);
	border: 1px solid #ddd;
}
#map_description {
	resize: none;
	border: 1px solid #eee;
	padding: 10px;
	height: 70px;
	width: 100%;
	line-height: 170%;
	font-size: 14px;
}


/*------date_time-----*/


.date_select, .time_select {
	max-width: 414px;
	width: 74.7%;
	height: 36px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	outline: none;
	border: 1px solid #e5e5e5;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	float: left;
	cursor: pointer;
	padding-left: 10px;
	text-align: left;
}
.date_select:hover, .time_select:hover {
	border: 1px solid #71a5cc;
	background-color: transparent;
}
.date_select:focus, .time_select:focus {
	background-color: white;
	border: 1px solid #066ab3;
}
.time_input {
	max-width: 100px;
	width: 30%;
	height: 34px;
	padding-left: 10px;
	font-weight: 500;
	float: left;
	margin: 0 1%;
}
.time_select span {
	float: left;
	height: 34px;
	line-height: 34px;
	margin: 0 10px;
}
.time_select > .price_input {
	width: 20%;
	text-align: right;
	height: 34px;
	font-weight: 500;
	float: right;
}
.price_input_label {
	float: right;
	height: 34px;
	line-height: 34px;
	margin: 0 10px;
}
.input_plus {
	height: 36px;
	text-align: center;
	max-width: 130px;
	width: 23.4%;
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
/*---input----*/

.input_box {
	border: 1px solid #ddd;
	height: 36px;
	margin-right: 1.8037%;
	max-width: 130px;
	width: 23.4%;
	text-align: center;
	display: inline-block;
	float: left;
	background-color: transparent;
	font-size: 14px;
}
.money_input_label {
	position: relative;
	left: -40px;
	height: 36px;
	line-height: 36px;
	margin: 0 10px;
}	

/*---------checkbox---------*/

input[type="radio"] {
	display: none;
}
.input_box2 {
	display: inline-block;
	float: left;
	border: 1px solid #ddd;
	height: 36px;
	margin-right: 1.8037%;
	max-width: 130px;
	width: 23.4%;
	text-align: center;
	background-color: transparent;
	font-size: 14px;
	line-height: 34px;
}
.cbox:hover {
	background-color: #fafafa;
	transition-duration: 0.3s;
	cursor: pointer;
}
input[type="radio"]#free:checked + .input_box2, input[type="radio"]#paid:checked + .input_box2, input[type="radio"]#event_public:checked + .input_box2, input[type="radio"]#event_private:checked + .input_box2, input[type="radio"]#list_public:checked + .input_box2, input[type="radio"]#list_private:checked + .input_box2 {
	border: 1px solid rgba(0,0,0,0);
	color: #fff;
	background-color: #066ab3;
	transition-duration: 0.3s;
}
.line {
	clear:both;
	position: relative;
	height: 1px;
	max-width:700px;
	width: 100%;
	margin:auto;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #eee;
	border: none;
}

#money {
	padding-left: 10px;
	text-align: left;
	max-width: 134px;
	width: 24.17%;
}
#account_number {
	max-width: 274px;
	width: 49.4227%;
	text-align: left;
	padding: 0 10px;
}
#name {
	max-width: 130px;
	width: 23.4%;
	margin-right: 0;
	float: right;
}
#bank_option {
	padding: 0 10px;
	background-color: #fff;
	background: url(../img/create_event/down.png) no-repeat right center;
}
#policy_wrap{
	height:auto;
	padding-bottom:40px;
	}
.policy {
	border: 1px solid #ddd;
	background-color: transparent;
	height: 128px;
	width: 100%;
	padding: 10px;
	float: right;
	margin-bottom: 10px;
}
.policy:hover{
	border: 1px solid #71a5cc;
	background-color: transparent;
}
input[type=checkbox] {
	display: none;
}
#chk_button{
	display:none;
	}
#chk_btn {
	cursor:pointer;
	margin-right: 5px;
	float: left;
	width: 22px;
	height: 22px;
	background-color: transparent;
	background:url(../img/checkbtn_before.png) no-repeat center center;
	border: 1px solid #ddd;
}
#chk_btn:hover{
	border: 1px solid  #71a5cc;
	}
input[type=checkbox]#chk_button:checked + #chk_btn{
	border: 1px solid #066ab3;
	background:url(../img/checkbtn.png) no-repeat center center;
	background-color:#066ab3;
	}
#chk_btn_label {
	width: auto;
	height: 22px;
	text-align: left;
	font-size: 13px;
	line-height: 22px;
	color: #666;
}
#btn_wrap {
	clear: both;
	width: 100%;
	height: 180px;
	text-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#btn_wrap > a > .btn1{
	width:100px;
	height:36px;
	line-height:36px;
	}
	
/*---  input fucus---*/

.input_box:hover, .input_box2:hover, #search_input:hover ,#map_description:hover{
	cursor:pointer;
	border: 1px solid #71a5cc;
	background-color: transparent;
}
.input_box:focus, .input_box2:focus, #search_input:focus ,#map_description:focus {
	background-color: white;
	border: 1px solid #066ab3;
}

	
#plus_friend{
	max-width: 270px;
	width:48.6037%;
	background: url(../img/create_event/plus.png) no-repeat right center;
}
#plus_friend:hover {
	background: url(../img/create_event/plus_hover.png) no-repeat right center;
}		
	
.clear{
	clear:both;
	width:100%;
	height:100px;
	}	
.clear2{
	clear:both;
	width:100%;
	height:300px;
	}	
	
	
/*---========step 2======---*/

.step_2_wrapper {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	min-height:400px;
	height: 55%;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.wrap {
	position:relative;
	width: inherit;
	height: 420px;
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
}
#from_wrapper {
	width: 40%;
	height: 50%;
}
.from_input {
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
	font-size: 14px;
	width: 100%;
	background-color:#fefefe;
}
#from_name {
	height: inherit;
	line-height: inherit;
	padding-left: 10px;
	font-size: 14px;
	width: auto;
	background-color: transparent;
}
.section_1 {
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	padding-left:8px;
	margin-top: 10px;
	margin-bottom: 16px;
	color: #333;
}
#to_wrapper {
	position:absolute;
	right:20px;
	bottom:20px;
	height:auto;
	width: 50%;
	float: right;
}
.to_input {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 14px;
	width: 100%;
	color: #666;
	background-color: #fefefe;
}
.to_input input,
.to_input select{
	position: relative;
	background-color: #fff;
	height: 34px;
	line-height: 34px;
	margin: 3px;
	font-size: 14px;
	padding-left:10px;
	width: 70%;
	float: right;
	border: 1px solid #eee;
	border:1px solid rgba(0,0,0,0);
	color: #666;
	}

.to_input input:focus,
.to_input select:focus{
	border: 1px solid #71a5cc;
}
#next_btn_wrap {
	width: 100%;
	text-align: center;
}
#next_btn_wrap > a > .btn1{
	width: 100px;
	height: 36px;
	line-height: 36px;
	}	
	
	
	
	
	
/*--------modal popup reaffirm------*/
.modal-content4 {
	height: auto;
}
.reaffirm_wrap {
  position: relative;
  width: inherit;
  height: 100%;
  padding:0;
  margin: 0 auto;
  clear: both;
  display: block;
  background-color: white;
}
.reaffirm-footer {
	clear: both;
	padding: 15px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.reaffirm-footer #ok_btn {
	display: block;
	width: 100px;
	height: 44px;
	text-align: center;
	color: #545454;
	font-size: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0;
	cursor: pointer;
	margin: 0 auto;
}
.reaffirm-footer #ok_btn:hover {
	background: #fff;
	border: 1px solid orange;
	color: #333;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
}
#reaffirm_img{
	width: 100%;
	  height: 0;
  padding-bottom: 67%;
}
#reaffirm_img img{
	width:100%;
	height:auto;
	}
#step_3_list_left_wrapper {
	width: 30%;
	padding: 20px;
	text-align: left;
	font-size: 15px;
	color: #333;
	float: left;
}
#step_3_list_right_wrapper {
	width: 70%;
	padding: 20px;
	text-align: left;
	font-size: 15px;
	color: #333;
	float: right;
}
.list_left {
	width: 100%;
	height: 34px;
	line-height: 34px;
}
.list_right {
	height: 34px;
	line-height: 34px;
	margin-right: 8px;
}
#reaffirm_text {
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 1em;
	color: #333;
}

/*--- 이미지업로드 팝업 ---*/

/*--------modal-dialog3 - 이미지업로드 ------*/
.modal-dialog3 {
	padding: 15px;
	max-width:100%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
/*---- modal-imgcrop ---*/
.modal-imgcrop {
	position: relative;
	background-color:#fafafa;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	outline: 0;
	max-width:970px;
	width:100%;
  height:auto;
  min-height: 500px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
	box-shadow: 0 3px 9px rgba(0,0,0,.2);
}
.modal-imgcrop .section{
	height:40px;
	line-height:40px;
	padding-left:15px;
	  font-size: 15px;
}
.modal-imgcrop .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	  z-index: 1;
	
}
/*--- preview---*/
.preview_wrap{
	width:35%;
	height:100%;
	float:left;
	padding:40px;
	background-color:transparent;
	}
.img_wrap{
	width:100%;
	height:auto;
	overflow:hidden;
	  padding-bottom: 20px;
	background-color:#fff;
	}
#croparea{
	width:100%;
  height: 0;
  padding-bottom: 72%;
  overflow: hidden;
  background-color:#eee;
	}	
#event_deco1{
	margin:15px;
	width:70%;
	height:8px;
	background-color:#eee;
	}
#event_deco2{
	margin:15px;
	width:50%;
	height:8px;
	background-color:#eee;
	}	

.section_text {
  margin-top: 0;
}
/*자르기영역*/	
.crop_wrap{
	width:65%;
	height:100%;
	float:right;
	background-color:transparent;
	padding:40px;
	position:relative;
	}

.image_box {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom:72%;
  border: 1px solid #eee;
  background: #fff;
  overflow: hidden;
  background-repeat: no-repeat;
  cursor: move;
}		
.thumb_box {
  position: absolute;
  left:0;
  top:0;
  width: 300px;
  height:300px;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 0 1000px rgba(230, 230, 230, 0.6);
  background: none repeat scroll 0% 0% transparent;
}


.image_box .thumb_box {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 0;
  padding-bottom: 36%;
  border: 1px dashed #eee;
  background: none repeat scroll 0% 0% transparent;
}

/* 자르기 툴 */
.tools{
  width: 100%;
  height:auto;
  padding-top:40px;
        
    }
 .tools span{
        float: left;
		text-align:center;
		width:36px;
		height:36px;
		background-size:cover;
        display: inline-block;
        color: #fff;
        cursor: pointer;
    }
	
#crop{
	width:100px;
	height:36px;
	line-height:36px;
	float:right;
	background-color:#08c;
	 color: #fff;
	}	
	
   
    .upload-wapper{
        position: relative;
        float: left;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
		background-color:#eee;
		height:36px;
	line-height:36px;
	  padding: 0 10px;
	 color: #545454;
    }
    #upload-file{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 132px;
        height: 26px;
        cursor: pointer;
    }





a.upload-img {
  width: 165px;
  display: inline-block;
  margin-bottom: 10px;
  height: 57px;
  line-height: 57px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #f38e81;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  border: 0px #fff solid;
  box-shadow: 0px 0px 5px #B0B0B0;
}

a.upload-img:hover { background-color: #ec7e70; }



   @media screen and (max-width:420px) {

.container, .container2 {
	min-width: 100px;
	padding:0;
}
.section_text {
margin-top:0;
padding-left:15px;
	   }


#section_described {
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.step_1_wrapper {
  padding-top:0;
}
.image_load {
  width: 45px;
}

/* 이벤트 내용 */

.event_creator {
  padding: 0 ;
  margin:0 auto;
}
.event_page_detail {
	position:relative;
	padding:0 15px;
}
#event_title {
  font-size: 17px;
	 width:100%;
	 height: auto;
	 float:none;
	 padding:15px 0 ;
}
.event_page_detail .event_detail_category {
	position:absolute;
	top:60px;
	left:0;
	width:100%;
	padding:0 15px;
	clear:both;
	float: none;
	font-size: 12px;
	height:45px;
	line-height: 45px;
	margin:15px auto;
	color: #08c;
	background-color:#f3f3f3;
}
#short_description {
  clear: both;
  margin-top: 0;
  padding-top: 70px;
  font-size: 13px;
  color: #066ab3;
  color: #333;
}

#long_description {
	margin: 0;
  font-size: 13px;
}

	#event_hashtag{font-size: 13px;
	}	
	/* 개설자 프로필 */
	#profile_img_wrap {
  position: absolute;
  left: 15px;
}

.wrapper_2{
	position:relative;
	padding:0 15px;}
#profile_about_wrap {
  padding-left: 52px;
}
#profile_about {
  min-height: 42px;
  height: 42px;
  font-size:12px;
}
#profile_img {
  width: 42px;
  height: 42px;
}
#profile_homepage {
  font-size: 12px;
}


/* 상세정보 입력 */




.line {
	display:none;
  margin-top: 20px;
  margin-bottom: 20px;
}



.label1 {
	padding: 0 15px;
	width:100%;
  font-size: 12px;
  margin-bottom: 10px;
}
.input_wrapper {
  width: 100%;
  padding:0 15px;
   }
   
 /* map */

#map_description {
  margin-bottom: 30px;
  font-size:12px;
}  
#search_input {  font-size: 12px; 
}
   
  .date_select, .time_select {
  max-width: 100%;
  width: 100%;
  height: 42px;
  font-size: 13px;
  margin-bottom:10px;
  }
  
 .input_plus {
  max-width: 100%;
  width: 100%;
  float: none;
  margin-right: 0;
  margin-left: 0;
} 
.time_input {
  max-width: 80px;
  width: 25%;
}
.time_select span {
   margin:0;
}
.input_box {
  max-width: 100%;
  width: 100%;
  height:42px;
  font-size: 12px;
    margin-bottom: 10px;
}
.input_box2 {
  margin-bottom: 10px;
  max-width: 50%;
  margin-right: 0;
  width: 50%;
  height: 42px;
  font-size: 12px;
  line-height: 42px;
}
.chk_free{
	border-right:none;
	}
#money, #bank_option, #account_number, #name{
  max-width: 100%;
  width: 100%;
  font-size: 12px;
}
  
 #chk_btn {
  width: 32px;
  height: 32px;
 }
 #chk_btn_label {
	 font-size: 12px;
  height: 32px;
  line-height: 32px;
 }
 
 
 #plus_friend {
  max-width: 100%;
  width: 100%;
 }
 
/*-- 2단계 -*/

.wrap {
  position: relative;
  width: inherit;
  height: auto;
  padding:15px;
}
.section_1 {
  font-size: 12px;
}
#from_wrapper {
  width: 100%;
  height: 50%;
    margin-bottom: 50px;
}
#to_wrapper {
  position:relative;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}  
.to_input input,
.to_input select{
	font-size: 12px;
}
.from_input, .to_input {
  height: 44px;
  line-height: 44px;
  font-size: 12px;
}
.category, .from_hashtag  {
  height: 38px;
  line-height: 38px;
}
/*-- 팝업 -*/
#step_3_list_left_wrapper {
	width: 30%;
	padding: 15px;
	text-align: left;
	font-size: 12px;
}
#step_3_list_right_wrapper {
	width: 70%;
	padding: 15px;
	padding-left: 0;
	text-align: left;
	font-size: 12px;
}
.list_right {
  margin-right: 1px;
}

#reaffirm_text {
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}


/* 이미지 자르기 */
.modal-dialog3 {
  padding: 0;
}
.modal-imgcrop {
  height: 100%;
}

.preview_wrap {
  display: none;
}

.crop_wrap {
  width: 100%;
  height: 100%;
  float:none;
  background-color: transparent;
  padding: 0;
  padding-top:46px;

}

.tools {
  position: absolute;
  bottom: 0;
}

#crop {
  width: 50%;
}
.upload-wapper {
  width: 50%;
}




}