@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
.fng {
	font-family: '나눔고딕', NanumGothic, 'Nanum Gothic';
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'NanumGothic';
}

a{	
    text-decoration: none;
    list-style:none;
    color:#939393;
}


body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header{
	width: 100%;
	background-color:#222;
	text-align:center;
	height: 100px;
}

h1{font-size:20px;
	line-height:100px;
	color:white;
}

h2{font-size:18px;
	color:white;
	font-weight:300;
}


#container{
	width: 600px;
	text-align:center;
	height: 100%;
	margin:0 auto;
	padding:0;
    /*border:1px solid red;*/
}
	
nav{
	width: 100%;
    /*border:1px solid red;*/
	text-align:center;
	height: 45px;
	margin-top:50px;
	margin-bottom:20px;
}	
	
#nav_menu{
	width: 600px;
	height:45px;
	text-align:center;
	line-height:45px;
	border-collapse:collapse;
	border-bottom:1px solid #dbdbdb;
    /*border:1px solid red;*/
	display:inline-block;
	color:#939393;
	table-layout:fixed;
	cursor:pointer;
}	
	
.nav{
	width:200px;
}	
	
.nav:hover{
	color:#000;
	border-bottom:1px solid #666;
	transition:all;
}	

#select_menu{
	color:black;
	border-bottom:1px solid #000;
}




/**********Find Friend**********/


.find_content_wrapper{
	width: 100%;
	height: 100%;
	color:#444;
	line-height: 180%;
	text-align: center;
}

.find_sns_wrapper {
	width: 100%;
	height: 600px;
	padding-top:60px;
	margin: 30px auto;
    /*border: 1px solid red;*/
}
.fb_icon {
	background-size:cover;
	background-color:#365b9a;
	border-radius:50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}

.tw_icon {
	background-size:cover;
	background-color:#365b9a;
	border-radius:50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}

.find_txt {
	width: 100%;
	height: 20px;
	line-height:20px;
	margin-top:30px;
	margin-bottom:50px;
	text-align: center;
	font-size: 16px;
    /*font-weight:bold;*/
}
.find_btn{
	background: transparent;
	width: 100px;
	line-height: 40px;
	text-align: center;
	color: #545454;
	font-size:0.9em;
	border: 1px solid #aaa;
	border-radius: 20px;
	height: 40px;
	padding:0;
	margin: 20px auto;
	cursor:pointer;
}
.find_btn:hover {
	border: 1px solid  #333;
	color: #333;
	transition-delay:0.1s;
	transition-duration:0.3s;
}

/**********facebook after**********/

.find_content_wrapper_fb_after{
	width: 100%;
	height: 100%;
	line-height:20px;
	margin-top:30px;
	margin-bottom:50px;
	text-align: center;
	font-size: 16px;
    /*border: 1px solid red;*/

}
	
.fb_friend{
	width: 100px;
	margin:0 auto;
	margin-bottom:4px;
	height: 134px;
    /*border: 1px solid red;*/
	display:inline-block;
	padding:21px;
}	
	
.fb_friend_pic{
	width: 100px;
	height: 100px;
	background-color:#bfbfbf;
	border-radius:50%;
}

.fb_friend_pic:hover{
	opacity:0.7;
	transition-duration:0.4s;
	cursor:pointer;
}

.fb_friend_name{
	width: 100%;
	height: 20px;
	line-height:20px;
	font-size:16px;
	margin-top:10px;
}


/**********share**********/

#unbox_logo{
	background-size:cover;
	background-color:#eee;
	border-radius:50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top:90px;
}

.find_share_txt{
	font-size:18px;
	line-height:40px;
	margin-top:30px;
	height:40px;
	width:100%;
	color:#333;
}

.find_share_wrapper{
	width: 500px;
	height: 100%;
	padding-top:40px;
	margin:0 auto;
	margin-top:150px;
    /*border: 1px solid red;*/
}

#share_wrapper{
	width: 500px;
	height:100px;
	text-align:center;
	line-height:20px;
	border-collapse:collapse;
    /*border: 1px solid red;*/
	display:inline-block;
	color:#939393;
	table-layout:fixed;
	cursor:pointer;
}


	
td{
	width:90px;
	cursor:pointer;
}	
	
td:hover{
	opacity:0.7;
	transition-delay:0.1s;
	transition-duration:0.4s;
}	




/**********Footer**********/

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #f2f2f2;
}


.footer_wrapper{
	margin:0 auto;
	width: 600px;
	height: 80px;
    /*border: 1px solid red;*/
}

.find_footer_txt1 {
	width:400px;
	line-height: 80px;
	font-weight: normal;
	font-size: 16px;
	color:#424242;
}

span{line-height:80px;}

a:link{	color:#767676;}
	
a:hover{
	color:#000;
	transition-duration:0.4s;
}
	


#footer_menu{
	width:200px;
	text-align:right;
	height:80px;
    /*border: 1px solid red;*/
	float:right;
}	
.footer_menu{
	font-size:16px;
	line-height:80px;
	color:#4c4c4c;
	display:inline;
	padding:0 10px 0 10px;
	text-decoration:none;
	border-right:1px solid #999;
}	
#last_menu{
	border-right:none;
}
	






