.container {
	height: 100%;
	padding-top: 40px;
}
body {
	overflow: auto;
	background-color: rgba(245,245,245,1);
	width: 100%;
	height: 100%;
	margin: 0 auto;
 /*background: url(../img/intro/bg_img_.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1;
}
input, input:hover, input:active {
	background-color: transparent;
}
#detail_header .main_menu #back_btn {
	display: none;
}
#detail_header {
	position: fixed;
	top: 0;
	padding: 0;
	width: 100%;
	height: 46px;
	background-color: transparent;
	border-bottom: none;
	z-index: 1;
}
#detail_header a p {
	color: #767676;
	padding: 0 20px;
	float: right;
	height: 46px;
	line-height: 46px;
}
#detail_header a p:hover {
	color: #08c;
}
.section_head {
	padding-top: 0;
}
.intro_container {
	padding-top: 46px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#skip_btn a {
	position: absolute;
	top: 0;
	right: 0;
	height: 46px;
	line-height: 46px;
	color: #767676;
	padding: 0 20px;
}
#skip_btn a:hover {
	color: #08c;
}
#section_title {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	color: #767676;
	text-align: center;
	margin-bottom: 40px;
	letter-spacing: 3px;
}
/*-----------join_verify---------*/
#verify_wrap {
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
#verify_description {
	width: 100%;
	margin-top: 50px;
	color: #545454;
	height: auto;
	background-color: transparent;
}
#verify_description_wrap {
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
h2 {
	margin-top: 0;
	margin-bottom: 10px;
}
#verify_description_wrap > h1 {
	color: #333;
	font-weight: bold;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 15px;
}
#verify_description_wrap > h2 {
	color: #333;
	line-height: 150%;
	font-weight: 100;
	font-size: 14px;
}
#verify_description_wrap > h2 > a {
	color: #08c;
}
#verify_description_wrap > h2 > a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.verify_input_wrap {
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	font-size:14px;
	margin-top: 80px;
	margin-bottom: 200px;
}
.verify_input {
	padding-left: 10px;
	width: 70%;
	height: 40px;
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid #f1f1f1;
	background-color: #fefefe;
}
.verify_input:hover {
	background-color: transparent;
}
.verify_input:focus {
	background-color: transparent;
}
.verify_input_button {
	height: 40px;
	width: 30%;
	color: #08c;
	float: right;
	border: none;
	border-bottom: 1px solid #f1f1f1;
	background-color: #fefefe;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}
/*-----------join_profile---------*/

.profile_wrap {
	max-width: 360px;
	width: 100%;
	height: auto;
	height: 90%;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 80px;
}
/*-------upload_image------------*/

.join_img_wrap {
	width: 100%;
	height: 70px;
	margin-top: 40px;
	margin-bottom: 20px;
	background-color: transparent;
	display: block;
}
.upload_img {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	display: block;
	background: url(../img/intro/photoicon.png) no-repeat center center;
	background-color: rgba(160,160,160,0.3);
	background-color: #fefefe;
	border: 1px solid #eee;
	border: none;
	color: #333;
}
.upload_img:hover {
	cursor: pointer;
	opacity: 0.7;
	border: 1px solid #066ab3;
	transition-duration: 0.3s;
}
/*-------------------*/
.join_txt {
	clear: both;
	border: none;
	width: 100%;
	font-size: 14px;
	padding-left: 10px;
	line-height: 40px;
	height: 40px;
	color: #333;
	border-bottom: 1px solid #aaa;
	border: none;
	border-bottom: 1px solid #f1f1f1;
	background-color: transparent;
	background-color: #fefefe;
}
.join_txt > span {
	width: 20%;
	color: #545454;
	height: inherit;
	line-height: inherit;
	float: left;
}
.join_input {
	padding: 0 10px;
	border: none;
	color: #333;
	line-height: inherit;
	height: 40px;
	background-color: transparent;
	font-size: 14px;
	max-width: 280px;
	width: 80%;
	float: right;
}
input[type=radio] {
	display: none;
}
label {
	margin-bottom: 0;
}
.sex_cbox {
	max-width: 140px;
	width: 40%;
	height: inherit;
	font-size: 14px;
	line-height: inherit;
	color: #545454;
	font-weight: normal;
	border: none;
	float: right;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.sex_cbox:hover {
	background-color: transparent;
	color: #08c;
}
input[type="radio"]#sex_cbox_men:checked + .sex_cbox, input[type="radio"]#sex_cbox_women:checked + .sex_cbox {
	background-color: #08c;
	color: #fff;
}
#reason {
	width: 100%;
	padding: 10px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	color: #767676;
	margin-bottom: 60px;
}
/*-------------------*/
.join_txt2 {
	border: none;
	width: 100%;
	font-size: 14px;
	padding: 10px;
	line-height: 150%;
	height: 80px;
	color: #545454;
	border-bottom: 1px solid #f1f1f1;
	background-color: #fefefe;
}
.join_txt2 > span {
	width: 20%;
	color: #545454;
	height: auto;
	line-height: inherit;
	float: left;
}
.join_input2 {
	padding-left: 10px;
	border: none;
	color: #333;
	min-height: 40px;
	overflow: auto;
	color: #545454;
	background-color: transparent;
	font-size: 14px;
	max-width: 280px;
	width: 80%;
	float: right;
}
.join_input2:focus {
	border-bottom: 1px solid #066ab3;
}
#textarea {
	resize: none;
	line-height: 150%;
	border: 0;
}
/*-------------------*/
#join_btn {
	width: 100px;
	height: 36px;
	position: relative;
	display: block;
	margin: 30px auto;
	clear: both;
}
/*-----------join_invite---------*/

.invite_wrap {
	height: 100%;
	width: 85%;
	padding-right: 15%;
	float: right;
	text-align: center;
	position: relative;/*-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;*/
}
#nav_menu {
	position: relative;
	width: 15%;
	padding-right: 25px;
	float: left;
	height: 40px;
	text-align: left;
	border: none;
	background-color: transparent;
	z-index: 1000;
}
#nav_menu > a {
	width: 100%;
	font-size: 13px;
	height: 100%;
	color: #767676;
	line-height: 40px;
	cursor: pointer;
}
#nav_menu a p {
	padding-left: 6px;
}
.nav_facebook, .nav_invite {
	display: block;
	width: 100%;
	height: inherit;
	margin: 0;
	float: left;
	border-top: 1px solid #ddd;
}
.nav_invite {
	border-right: none;
}
.nav_facebook:hover {
	color: #08c;
}
.nav_invite:hover {
	color: #08c;
}
#select_menu {
	border-top: 1px solid #08c;
	color: #08c;
}
/*----------find friend------------*/


.find_sns_wrapper {
	border-top: 1px solid #ddd;
	padding-top: 40px;
	margin: 0 auto;
	text-align: center;
}
.fb_icon {
	background-size: cover;
	background-color: transparent;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-top: 30px;
}
.find_txt {
	width: 100%;
	line-height: 180%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 14px;
	color: #767676;
}
.find_btn {
	width: 80px;
	height: 32px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 80px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	background-color: #08c;
	padding: 0;
	cursor: pointer;
}
.find_btn:hover {
	border: 1px solid #d4af37;
	color: #d4af37;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
}
/*----------facebook after----------*/

.invite_wrap2 {
	border-top: 1px solid #ddd;
	width: 100%;
	padding-top: 40px;
	height: inherit;
}
.find_friend_wrapper {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	height: 100%;
	overflow: auto;
	padding-bottom: 25%;
	text-align: center;
}
.fb_friend {
	width: 25%;
	margin: 0 auto;
	margin-bottom: 30px;
	height: auto;
	float: left;
	display: inline-block;
	text-align: center;
}
.fb_friend_pic {
	margin: 0 auto;
	;
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	background-color: #eee;
	overflow: hidden;
	z-index: 0;
}
.fb_friend_pic > img {
	width: 100%;
	height: 100%;
	z-index: -1;
}
.fb_friend_pic:hover {
	background: url(../img/intro/follow_hover_icon.png) no-repeat center center;
	background-color: rgba(200,100,220,0.7);
	cursor: pointer;
	z-index: 1000;
}
.fb_friend_pic:active {
	background: url(../img/intro/follow_icon.png) no-repeat center center;
	background-color: rgba(200,100,220,0.7);
}
.fb_friend_name {
	width: 100%;
	height: 20px;
	color: #333;
	line-height: 20px;
	font-size: 15px;
	margin-top: 5px;
}
.follow_btn {
	display: none;
}
/*----------facebook after follow----------*/


.find_friend_footer {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	z-index: 2;
	background-color: #eee;
	box-shadow: 0 -1px 5px rgba(140,140,140,0.1);
}
.footer_wrap {
	width: 100%;
	height: 100%;
	display: table;
	max-width: 500px;
	padding: 0 15px;
	margin: 0 auto;
}
.vertical_align {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.follow_info {
	width: 40%;
	height: 32px;
	color: #767676;
	line-height: 32px;
	border: none;
	resize: none;
	float: left;
}
#all_check_btn {
	position: absolute;
	left: -9999px;
}
input[type="checkbox"]#all_check_btn:checked + .all_check {
	background-color: #98c7ed;
	transition-duration: 0.3s;
}
.all_check, .ok_btn {
	width: 80px;
	height: 32px;
	line-height: 30px;
	float: right;
	margin-left: 6px;
	text-align: center;
	color: #545454;
	font-weight: normal;
	font-size: 14px;
	background-color: transparent;
	border: 1px solid #999;
	padding: 0;
	cursor: pointer;
}
.all_check:hover, .ok_btn:hover {
	border: 1px solid #d4af37;
	color: #d4af37;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
}
/*----------friend---------*/

.share_wrapper {
	border-top: 1px solid #ddd;
	margin: 0 auto;
	display: block;
	width: 100%;
	padding: 70px 15px 15px 15px;
	height: auto;
	text-align: center;
}
.invite_wrap p {
	width: 100%;
	line-height: 180%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 14px;
	color: #767676;
}
a > div {
	display: inline-block;
	background: none;
	margin: 0 auto;
	width: 38px;
	height: 38px;
	margin: 6px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#share_line {
	width: 280px;
	height: 1px;
	background: #bbb;
}
.link_share {
	margin: 0 auto;
	margin-bottom: 80px;
	display: block;
	width: 100%;
	padding: 15px;
	height: auto;
	text-align: center;
}
.link_share p {
	width: auto;
	margin: 0 auto;
	font-size: 13px;
	color: #969696;
	text-align: center;
	position: relative;
	top: -10px;
}
.share_wrapper > a > #facebook {
	background-image: url('../img/facebook_icon.png');
}
.share_wrapper > a > #instagram {
	background-image: url('../img/instagram_icon.png');
}
.share_wrapper > a > #twitter {
	background-image: url('../img/twitter_icon.png');
}
.share_wrapper > a > #kakaostory {
	background-image: url('../img/kakaostory_icon.png');
}
.share_wrapper > a > #naver {
	background-image: url('../img/naver_icon.png');
}
a > #link {
	background-image: url('../img/link_icon.png');
}
/*-----------footer---------*/


footer {
	position: fixed;
	margin-top: 0;
	bottom: 60px;
	width: 100%;
	height: 80px;
	height: 5%;
	border-top:none;
	background-color: transparent;
}
footer nav {
	margin: 0 auto;
	height: auto;
	line-height: 100%;
	text-align: center;
}
footer nav button {
	width: 75px;
	padding: 5px;
	background-color: transparent;
	border: none;
	opacity: 0.65;
	font-size: 13px;
}
footer nav button:hover {
	opacity: 1;
	cursor: pointer;
}
footer nav button .footer_btn {
	width: 36px;
	height: 36px;
	background-color: #aaa;
	border: 1px solid #777;
	border-radius: 50%;
	margin-bottom: 10px;
	display: block;
	margin: 10px auto;
}
#footer_back_btn {
	background: url(../img/intro/footer_back_btn.png) no-repeat center center;
	background-size: contain;
	opacity: 0.7;
	background-color: #ddd;
}
#footer_ok_btn {
	background: url(../img/intro/footer_ok_btn.png) no-repeat center center;
	background-size: contain;
	opacity: 0.7;
	background-color: #ddd;
}
/*--------modal-dialog3 - 이미지업로드 ------*/
.modal-dialog3 {
	padding: 15px;
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: auto;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
/*---- modal-img_upload ---*/
.modal-img_upload {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	outline: 0;
	width: 360px;
	min-height: 360px;
	height: auto;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
	box-shadow: 0 3px 9px rgba(0,0,0,.2);
}
.modal-img_upload .section {
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 15px;
}
.modal-img_upload .close{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	  z-index: 1;
	
}
.image_box {
	position: relative;
	width: 360px;
	height: 300px;
	border: none;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
}
.thumb_box {
	box-shadow: 0 0 0 1000px rgba(250, 250, 250, 0.4);
	background: none repeat scroll 0% 0% transparent;
	border-bottom:1px solid #eee;
}
.image_box .thumb_box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	margin-top: -75px;
	margin-left: -75px;
	box-sizing: border-box;
	border: 1px dashed #eee;
	background: none repeat scroll 0% 0% transparent;
}


#crop {
	float: right;
	background-color: #08c;
	color: #fff;
}
.tools {
	width: 100%;
	padding: 15px;
}
.tools_text{
	text-align:center;
	width: 100px;
	height: 36px;
	line-height: 36px;
	background-color: #f3f3f3;
	color: #545454;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before {
	content: " ";
	display: table;
}
.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
.cropPoint {
	position: absolute;
	height: 8px;
	width: 8px;
	background-color: rgba(255,255,255,0.7);
	cursor: pointer;
}
.upload-wapper {
	position: relative;
	float: left;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
#upload-file {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 132px;
	height: 26px;
	cursor: pointer;
}
 @media screen and (min-width:960px) {
}
 @media screen and (min-width:768px) and (max-width:959px) {
}
 @media screen and (max-width:767px) {
}
 @media screen and (max-width:420px) {
body {
	padding-top: 0;
	overflow: hidden;
}
#detail_header {
	padding: 0 10px;
	display: block;
	border-bottom: 1px solid #eee;
	background-color: rgba(245,245,245,1);
}
#detail_header .main_menu #back_btn {
	display: block;
}
.section_head {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}
#detail_header a p {
	display: none;
	padding: 0 10px;
}
.intro_container {
	padding: 46px 15px;
}
.intro_container2 {
	height: auto;
}
.hr_short {
	display: none;
}
/* 본인인증 ----------- */

#verify_description_wrap > h1 {
	font-size: 15px;
	margin-bottom: 10px;
}
#verify_description_wrap > h2 {
	width: 65%;
	margin: 0 auto;
	font-size: 13px;
}
.verify_input_wrap {
	max-width: 100%;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
}
.verify_input {
	width: 65%;
	font-size: 13px;
}
.verify_input_button {
	width: 35%;
	font-size: 13px;
}
/* 프로필 ----------- */ 
.profile_wrap {
	padding: 0;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 0;
}
.join_img_wrap {
	height: 60px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.upload_img {
	position: relative;
	width: 60px;
	height: 60px;
}
#reason {
	font-size: 12px;
	margin-bottom: 20px;
}
.sex_cbox {
	width: 39%;
	font-size: 13px;
}
.join_txt > span {
	width: 22%;
	font-size: 13px;
}
.join_input {
	width: 78%;
	font-size: 13px;
}
.join_txt2 > span {
	width: 22%;
	font-size: 13px;
}
.join_input2 {
	font-size: 14px;
	width: 78%;
	font-size: 13px;
}
.clear {
	width: 100%;
	height: 100px;
	background-color: transparent;
	display: block;
	clear: both;
}
/*친구불러오기*/
.container {
	height: auto;
	padding-top: 0;
}
.find_friend_wrapper {
	padding-top: 46px;
}
.invite_wrap {
	height: 100%;
	width: 100%;
	padding-right: 0;
	float: none;
}
/* LNB */
#nav_menu {
	position: fixed;
	top: 46px;
	left: 0;
	padding-right: 0;
	width: 100%;
	max-width: 100%;
	height: 46px;
	line-height: 46px;
	background-color: #fefefe;
}
.nav_facebook, .nav_invite {
	display: inline-block;
	width: 50%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border-top: none;
	border-bottom: 1px solid #eee;
}
#nav_menu a p {
	padding-left: 0;
}
#select_menu {
	background-color: #fefefe;
	border-top: none;
	border-bottom: 1px solid #08c;
	color: #08c;
}
/* ---- */


/*--페북--*/
.fb_icon {
	margin-top: 0;
}
.fb_friend {
	width: 100%;
	margin: 0 auto;
	height: auto;
	float: none;
	margin-bottom: 15px;/*padding-bottom:15px;
 
  border-bottom:1px solid #ddd;*/
}
.fb_friend_pic {
	width: 52px;
	height: 52px;
	margin: 0;
	float: left;
}
.fb_friend_name {
	width: auto;
	float: left;
	height: 52px;
	color: #333;
	line-height: 52px;
	font-size: 14px;
	margin: 0;
	margin-left: 15px;
}
.follow_btn {
	display: block;
}
.footer_wrap {
	padding: 0;
}
.find_friend_footer {
	height: 80px;
	position: fixed;
	bottom: 0;
}
.follow_info {
	width: 100%;
	height: 32px;
	color: #767676;
	line-height: 32px;
	padding: 0 15px;
	background-color: #fff;
}
.all_check, .ok_btn {
	width: 50%;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	float: right;
	margin-left: 0;
	text-align: center;
	color: #545454;
	font-weight: normal;
	font-size: 14px;
	background-color: transparent;
	border: none;
	border-top: 1px solid #ddd;
	padding: 0;
	cursor: pointer;
}
/*--친구초대--*/
.find_sns_wrapper {
	border-top: none;
	padding-top: 100px;
}
.find_txt {
	width: 65%;
	margin: 0 auto;
	line-height: 180%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 13px;
}
.invite_wrap2 {
	border-top: none;
	padding-top: 30px;
}
a > div {
	margin: 3px;
}
/* --푸터-- */

footer {
	width: 100%;
	bottom: 0;
	height: 46px;
	background-color: #eee;
}
footer nav button {
	width: 49%;
	height: inherit;
	line-height: inherit;
	padding: 0;
	border: none;
	border-top: #ddd;
	opacity: 1;
	color: #656565;
	font-size: 14px;
}
footer nav button:hover, footer nav button:active {
	opacity: 1;
	cursor: pointer;
	background-color: #ddd;
}
footer nav button .footer_btn {
	display: none;
}
}
/* 스마트폰 (가로 및 세로) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* 스마트폰 (가로 ) ----------- */
@media only screen and (min-width : 321px) {
}

/* 스마트폰 (세로) ----------- */
@media only screen and (max-width : 320px) {
}

/* 아이패드 (가로 및 세로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* 아이패드 (가로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* 아이패드 (세로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* PC 및 노트북 ----------- */
@media only screen and (min-width : 1224px) {
/* 사용자 코드 */
}

/* 대형 스크린 ----------- */
@media only screen and (min-width : 1824px) {
/* 사용자 코드 */
}

/* 아이폰 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}
body {
	overflow: auto;
}
.intro_container {
	height: auto;
	padding: 44px 15px 40px 15px;
}
/* 아이폰 5 & 5S 가로 및 세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
}
/* 아이폰 5 & 5S 가로 ------ */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 5 & 5S 세로 ------ */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이폰 6 세로 및 가로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
/* 사용자 코드 */
}

/* 아이폰 6 가로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 6 세로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 가로 및 세로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 가로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 세로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이패드 미니 가로 및 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}

/* 아이패드 미니 가로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}

/* 아이패드 미니 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}
