
	
/*--unbox video--*/	
.cam_container{
	background-color:transparent;
	width: 100%;
	height: auto;
	min-height:98%;
	padding:15px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.cam_container h1{
	font-weight:bold;
	width:100%;
	color:#545454;
	text-align:center;
	}
.contents_wrap{
	width: auto;
	height: auto;
	  margin: 30px auto;
}

.contents_wrap a{
	width:inherit;
	max-width:500px;
	display:block;
	}
.video_img{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:400px;
	height:auto;
	background-color:#eee;
	z-index:1;
	}
.cam_container p{
	text-align:center;
	width: 100%;
  margin:30px 0 60px 0;
	 font-size: 14px;
	 line-height: 1.7;
	 color: #545454;
}
	
/*--unbox work--*/	
.work_container{
	background-color:#fafafa;
	width: 100%;
	height: auto;
	min-height:200%;
	padding:150px 15px 50px 15px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.work_container	h1{
	color:#333;
	}
.work_wrap{
	max-width:1000px;
	width:100%;
	margin-top:40px;
	}
.work_contents{
	width:100%;
	margin:0 auto;
	float:left;
	margin-bottom:180px;
	}	
.content1{
	float:left;
	padding-right:30%;}	
.content2{
	float:right;
	padding-left:40%;
	margin-bottom:260px;
	}
.content3{
	float:right;
	width:60%;
	padding:0;}
.content4{
	float:left;
	width:40%;
	padding-right:3%;}	
.work_contents img{
	width:100%;
	height:auto;
	}
.work_contents p{
	width:100%;
	padding:20px 10px;
	font-size:14px;
	}		
/*--unbox philosophy--*/
.philosophy_container{
	
	background-color:#222;
	background:url(../img/unbox_team/bg_img.jpg) no-repeat center center;
	background-size:cover;
	overflow:hidden;
	width: 100%;
	height:600px;
	padding:15px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.philosophy_container h1{
	color:#333;
	}
.philosophy_container p{
	margin:30px auto;
	font-size:14px;
	color:#545454;
	line-height:1.7;
	}		
/*--unbox item description--*/
.contents_container{
	margin:0 auto;
	background-color:#fafafa;
	width: 100%;
	height:auto;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index:1;	
}
.contents_wrap2{
	max-width:1000px;
	margin:0 auto;
	background-color:transparent;
	width: 100%;
	height: 100%;
}

.item_img1{
	max-width:900px;
	margin:0 auto;
	width:100%;
	height:auto;
	}
.article2{
	text-align:left;
	max-width:720px;
	width: 100%;
	height:1500px;
	font-size:16px;
	color:#333;
	line-height:1.8;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:100px;
}	
		
/*--unbox team--*/		
.contents_container2{
	margin:0 auto;
	background-color:#090909;
	width: 100%;
	height:100%;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index:1;	
}	

.contents_wrap3{
	max-width:720px;
	margin:0 auto;
	background-color:transparent;
	width: 100%;
	height:auto;
	text-align:center;
}
.contents_wrap3 h1{
	color:#aaa;
	}
.contents_wrap3 p{
	margin:30px auto;
	font-size:14px;
	color:#999;
	line-height:1.7;
	}	
.article3{
	text-align:center;
	width: 100%;
	height:auto;
	padding: 15px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:80px;
}	
#team_img_wrap{
	width:100%;
	margin:80px 0;
	}
.team_info{
	text-align:center;
	width:20%;
	height:auto;
	display:inline-block;
	float:left;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.team_pic{
	background-color:#aaa;
	width:120px;
	height:120px;
	}
.team_info > p{
	margin:4px auto;
	font-size:15px;
	color:#ccc;
	
	}
.team_info > .team_name{
	margin-top:10px;
	font-size:15px;
	}

h1{
	text-align:center;
	width:100%;
	height:auto;
	color:#aaa;
	margin:30px auto;
	font-size:17px;
	letter-spacing:3px;
	}
.hr_short {
  background-color: #333;
}	
.thanks{
	margin-top:30px;
	color:#999;
	}
.thanks li{
	width:100%;
	height:30px;
	line-height:30px;
	}

footer {
	clear: both;
	display: block;
	margin-top: 0;
	border-top: 1px solid #040404;
	background-color: #090909;;
}

/*--- 언박스 홍보영상 ---*/


/*---- modal-content3 ---*/
.modal-open .modal {
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: auto;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.9);
	}
.modal-dialog-video{
	width: 100%;
	margin: 0 auto;
}
	
.modal-content3 {
	position:static;
	background-color:#fefefe;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	outline: 0;
	width:100%;
	height: 100%;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.1);
	box-shadow: 0 3px 9px rgba(0,0,0,.1);
}
.modal-content3 .section{
	height:40px;
	line-height:40px;
	padding-left:15px;
	  font-size: 15px;
	}
.modal-content3 .close{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}	
.video_player{
	width:100%;
	height:auto;
	}		
	
.video_player video,
.video_player iframe{
	display: block;
  text-align: center;
  margin: 0 auto;
	width:100%;
	}	
   @media screen and (max-width:420px) {

.work_container {
  padding: 50px 15px;
}

.work_contents{
	width:100%;
	margin:0 auto;
	float:left;
	margin-bottom:80px;
	}	
.content1{
	float:left;
	padding-right:20%;}	
.content2{
	float:right;
	padding-left:20%;
	margin-bottom:60px;
	}
.content3{
	float:right;
	width:100%;
	padding:0;}
.content4{
	float:left;
	width:80%;
	padding-right:0;}	
.work_contents img{
	width:100%;
	height:auto;
	}
.work_contents p{
	padding:10px;
	font-size:12px;
	}		


	
.contents_wrap3{
	padding:0 15px;
}	
.team_pic {
  background-color: #aaa;
  width: 50px;
  height: 50px;
}
.contents_wrap3 p {
  width: 60%;
}
   }