@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.fng {
	font-family: 'Noto Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, input, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	resize: none;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: -0.4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
html, body {
	width: 100%;
	height: 100%;
	min-height: 640px;
	background-color: #fefefe;
}
.container, .container2 {
	max-width: 1000px;
	min-width: 720px;
	width: 100%;
	margin: auto;
	position: relative;
	min-height: 1px;
	padding:0 15px;
}
a, a:link {
	text-decoration: none;
	list-style: none;
	color: #545454;
	outline: none;
}
a:hover {
	text-decoration: none;
	list-style: none;
	color: #333;
}
/*-----------scroll decoration--------------*/

html {
	width: 100%;
	height: 100%;
	scrollbar-3dLight-Color: rgba(255,255,255,0);
	scrollbar-arrow-color: #ddd;
	scrollbar-base-color: #eee;
	scrollbar-Face-Color: #ddd;
	scrollbar-Track-Color: #eee;
	scrollbar-DarkShadow-Color: #ccc;
	scrollbar-Highlight-Color: #eee;
	scrollbar-Shadow-Color: #ddd;
}


/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {
width: 9px;
height: 4px;
border: 1px solid rgba(255,255,255,0.1);
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
display: block;
height: 10px;
background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-track {
background:rgba(255,255,255,0.1);
-webkit-border-radius:0;
border-radius:0;
}
::-webkit-scrollbar-thumb {
height: 30px;
width: 30px;
background:#ccc;
-webkit-border-radius: 1px;
border-radius:1px;
-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.4)
}
/*-----------loading effect--------------*/
.loading {
	position: fixed;
	width: 100%;
	height: 2px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 800;
	background-color:transparent;
}
.loading:before {
	content: "";
	position: absolute;
	background-color: orange;
	top: 0px;
	left: 0px;
	height: 2px;
	width: 1px;
	z-index: 1000;
	opacity: 1;
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	-webkit-animation: loading 1s ease-in-out infinite;
	animation: loading 1s ease-in-out infinite;
}
.loading:after {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 0;
	z-index: 900;
}
 @-webkit-keyframes loading {
 0% {
width: 0px;
}
 70% {
width: 100%;
opacity: 1;
}
 90% {
opacity: 0;
width: 100%;
}
 100% {
opacity: 0;
width: 0px;
}
}
 @keyframes loading {
 0% {
width: 0px;
}
 70% {
width: 100%;
opacity: 1;
}
 90% {
opacity: 0;
width: 100%;
}
 100% {
opacity: 0;
width: 0px;
}
}

#btn_top{
	display:none;
	position:fixed;
	bottom:15px;
	right:15px;
	width:40px;
	height:40px;
	  border: 1px solid #ccc;
  background-color: #ddd;
  background:url(../img/pagetop.png) no-repeat center center;
	opacity:0.6;
	z-index:10;
	}
#btn_top:hover{
	cursor:pointer;
	opacity:1;
	}	
/*---------- input style ----------*/

input {
	-webkit-appearance: none;
	border-radius: 0;
	background-color: transparent;
}
 select::-ms-expand {
 display: none;
}
select {
	-webkit-appearance: button;
	-moz-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	border-radius: 0;
}
textarea {
	border: none;
	outline: none;
	background-color: transparent;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 0;
	font-weight: normal;
}
/*-----------input required------------

input:required {
	border: 1px solid blue;
}
input:valid {
	border: 1px solid green;
}
input:invalid {
	border: 1px solid red;
}	--*/
/*---------- button style ----------*/


.btn1 {
	border: 1px solid #71a5cc;
	color: #71a5cc;
	background-color: transparent;
	font-size: 14px;
}
.btn1:hover {
	transition: all 0.2s;
	border: 1px solid #066ab3;
	background-color: transparent;
	color: #066ab3;
	cursor: pointer;
}
.btn2 {
	background-color: rgba(250,250,250,0.3);
	border: 1px solid #eee;
	color: #767676;
	font-size: 14px;
}
.btn2:hover {
	transition: all 0.2s;
	border: 1px solid #066ab3;
	color: #fff;
	background-color: #066ab3;
	cursor: pointer;
}
.btn2:active {
	border: 1px solid #0047ab;
	background-color: #0047ab;
}
.btn3 {
	clear: both;
	display: block;
	width: 100px;
	height: 36px;
	color: #eee;
	line-height: 36px;
	text-align: center;
	padding: 0;
	border: none;
	margin: 0 auto;
	background-color: #066ab3;
}
.btn3:hover {
	transition: all 0.2s;
	color: #fff;
	background-color: #0047ab;
	cursor: pointer;
}
.btn3_disable {
	width: 100px;
	height: 36px;
	color: #aaa;
	cursor:default;
	background-color: #eee;
}
.change_btn {
	width: 74px;
	height: 32px;
	line-height: 32px;
	background-color: rgba(250,250,250,0.3);
	border: 1px solid #eee;
}
.change_btn:hover {
	color: #fff;
	background-color: #71a5cc;
	cursor: pointer;
}
.change_btn:active {
	color: #fff;
	background-color: #066ab3;
}
.follow_btn {
	display: block;
	width: 70px;
	height: 34px;
	color: #555;
	margin: 8px 0;
	border: 1px solid #eee;
	background-color: transparent;
	float: right;
}
.follow_btn:hover {
	border: 1px solid #71a5cc;
	color: #71a5cc;
	background-color: transparent;
	cursor: pointer;
}
.follow_btn:active {
	color: #fff;
	border: 1px solid #066ab3;
	background-color: #066ab3;
	float: right;
}
.popup_btn {
	width: 90px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	line-height: 32px;
	border: 1px solid #71a5cc;
	color: #71a5cc;
	background-color: transparent;
	margin: 0 auto;
	display: block;
}
.popup_btn:hover {
	transition: all 0.2s;
	border: 1px solid #066ab3;
	color: #fff;
	background-color: #066ab3;
	cursor: pointer;
}
#all_check {
	position: absolute;
	left: -9999px;
}
.all_check_btn {
	width: 90px;
	height: 34px;
	font-size: 14px;
	text-align: center;
	color: #555;
	line-height: 34px;
	border: 1px solid #eee;
	background-color: transparent;
}
input[type="checkbox"]#all_check:checked + .all_check_btn {
	background-color: #066ab3;
	color: #fff;
	transition-duration: 0.3s;
}
.hr {
	width: 100%;
	height: 1px;
	background-color: #ddd;
	margin: 25px auto;
}
.hr_middle {
	width: 50%;
	height: 1px;
	background-color: #ddd;
	margin: 25px auto;
}
.hr_short {
	width: 30px;
	height: 1px;
	background-color: #ddd;
	margin: 10px auto;
}
.hr_short2 {
	display: block;
	clear: both;
	width: 30px;
	height: 1px;
	background-color: #999;
	margin: 10px auto;
}
.img-circle {
	border-radius: 50%;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}
	
/*-----------placeholder--------------*/
input::-moz-placeholder {
 color: #999;
}
 textarea:-ms-input-placeholder {
 color: #999;
}
input:-ms-input-placeholder {
 color: #999;
}
::-webkit-input-placeholder {
color:#999;
} /* 웹킷 전용 속성 */
textarea:-moz-placeholder, input:-moz-placeholder {
color:#999;
} /* 파이어폭스 전용 속성 */
/*--------- hover effect ----------*/
.hover_effect {
	opacity: 1;
}
.hover_effect:hover {
	opacity: 0.8;
	transition: 0.2s;
	cursor: pointer;
}
.left_section {
	width: 69%;
	height: 100%;
	min-height:300px;
	padding:50px 0;
	margin-right: 5%;
	margin-bottom: 60px;
	float: left;
}
.right_section {
	width: 26%;
	height: 100%;
	min-height:300px;
	padding:50px 2% 20px 2%;
	float: right;
	background-color: #f8f8f8;
}
.section_text {
	font-size: 13px;
	line-height: 14px;
	color: #888;
	width: 100%;
	clear: both;
	height: auto;
	padding-top: 10px;
	padding-bottom: 24px;
	border-top: 1px solid rgba(0,0,0,0.05);
}
.section_info {
	font-size: 13px;
	line-height: 14px;
	color:#80c172;
	height: 14px;
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 24px;
}
.clickable {
	font-size: 15px;
	color: #71a5cc;
	cursor: pointer;
}
.clickable:hover {
	text-decoration: underline;
}
/*-----no result-----*/


.no_result_img {
	width: 100%;
	height: 100%;
	min-height: 500px;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background:url(../img/bg_img4.jpg) no-repeat center center;
	background-size:cover;
}
.no_result_img p {
	font-size: 28px;
	color: #333;
	font-weight: normal;
}
.no_result_img #solutions {
	font-size: 14px;
	color: #066ab3;
	margin-top: 18px;
}
.no_result_img p a {
	font-size: 14px;
	color: #066ab3;
	text-decoration: underline;
}
.article_no_result {
	width: 100%;
	height: auto;
	min-height: 300px;
	margin-bottom: 80px;
}
.no_result_txt {
	width: 100%;
	height: 50px;
	text-align: center;
}
.no_result_txt p {
	width: inherit;
	height: inherit;
	line-height: 50px;
	font-size: 22px;
	color: #ccc;
	margin-top: 30px;
}
/*----------header----------*/

header {
	width: 100%;
	  height: 46px;
	background-color: rgba(255,255,255,1);
	background-color: #fefefe;
	border-bottom: 1px solid rgba(240,240,240,0.6);
	z-index: 1;
}
.main_menu {
	position:relative;
	width: 100%;
	margin-left: auto;
	height: 46px;
	line-height: 46px;
	display: inline-block;
}
.main_menu #logo {
	background: url(../img/unboxlogo.png) no-repeat center center;
	background-size: cover;
	position: absolute;
	width: 90px;
	height: 30px;
	margin-top: 6px;
	margin-right: 40px;
	cursor: pointer;
}

.left_nav{
	padding-left:120px;
	float:left;
	width:60%;
	
	}
.right_nav{
	float:right;
	width:40%;
	height: 46px;
	text-align:right;
	}	

.main_menu .menu_item {
	height: inherit;
	margin-right: 8px;
}
.main_menu .menu_item a {
	color: #999;
	height: inherit;
	font-size: 14px;
	padding: 14px 5px;
	letter-spacing: -0.4px;
	cursor: pointer;
	font-weight: normal;
}
.main_menu .menu_item a:hover {
	color: #333;
	font-weight: bold;
}
#menu_item_active {
	color: #333;
	font-weight: bold;
}
/*------------- moblie web --------------*/
.moblie_menu_item{
	display:none;
}

/*------------- menu icon --------------*/
.menu_icon_wrap{
	display: inline-block;
	position: relative;
	background-color:transparent;
	outline:none;
	border:none;
	width: 44px;
	padding:8px;
	height: 46px;
	}
.menu_icon {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size:contain;
	margin:0 auto;
	width: 30px;
	height: 30px;
}

.menu_icon2 {
	background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:contain;
  margin:0 auto;
  width: 30px;
  height: 30px;
}


.main_menu .menu_icon_more {
	background-image: url('../img/bt_more.png');
	cursor: pointer;
	padding-right: 0;
}
.main_menu .menu_icon_more:hover {
	background-image: url('../img/bt_more_hover.png');
}
.main_menu .menu_icon_push {
	background-image: url('../img/bt_push.png');
	cursor: pointer;
}
.main_menu .menu_icon_push:hover {
	background-image: url('../img/bt_push_hover.png');
}
.main_menu .menu_icon_search {
	background-image: url('../img/bt_search.png');
	cursor: pointer;
}
.main_menu .menu_icon_search:hover {
	background-image: url('../img/bt_search_hover.png');
}
/*---------- menu_icon_mouseover ----------*/


.mouseover {
	display: none;
	position: absolute;
	top: 46px;
	right: 0;
	z-index: 100;
	background: #fff;
}

#menu_icon_push_mouseover {
	display: none;
	width: 320px;
	height: auto;
	right: 0;
	border:1px solid #eee;
	/*box-shadow: 1px 1px 5px #ddd;*/
}
.push_content {
	line-height: 150%;
	color: #000;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #f1f1f1;
}
.push_content:hover {
	background-color: #f5f5f5;
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}
.nav_pic {
	width: 40px;
	height: 40px;
	float: left;
	background: #ddd;
	border: 1px solid #eee;
	margin: 10px;
}
.nav_pic > img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.nav_content_text {
	font-size: 13px;
	margin: 10px 0 0 0;
	color: #545454;
	width: 206px;
	float: left;
	  text-align: left;
	height: 40px;
	line-height: 140%;
}
.nav_content_text_time {
	float: right;
	font-size: 12px;
	color: #767676;
	height: 20px;
	line-height: 20px;
	position: relative;
	top: 30px;
	margin-right: 10px;
}
.push_detail_btn {
	clear: both;
	font-size: 14px;
	color: #767676;
	text-align: center;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.push_detail_btn:hover {
	background-color: #f5f5f5;
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}
/*-----------more----------*/

#menu_icon_more_mouseover {
	display: none;
	width: 140px;
	height: 220px;
	right: 0;
	border:1px solid #eee;
}
.more_mouseover_profile {
	width: 100%;
	height: 60px;
	text-align: left;
}
.more_mouseover_profile:hover, .more_list:hover {
	background-color: #f5f5f5;
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}
#user_pic {
	width: 40px;
	height: 40px;
	float: left;
	background: #aaa;
	border: 1px solid #eee;
	margin: 10px;
}
#user_pic > img {
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	outline: none;
}
#user_name {
	width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	float: right;
	margin: 10px 10px 0 0;
	color: #333;
	font-weight: 500;
}
#more_list_wrapper {
	clear: both;
	width: 100%;
	line-height: 40px;
	height: 40px;
	border-top: 1px solid #ddd;
}
.more_list {
	padding-left: 10px;
	height: 40px;
	text-align: left;
}
/*---detail header ---*/

#detail_header {
	width: 100%;
	padding: 0 10px;
	background-color: rgba(255,255,255,0);
	border-bottom: 1px solid rgba(240,240,240,0);
	z-index: 1;
}
#detail_header > .main_menu {
	width: inherit;
	margin-left: auto;
	height: 46px;
	line-height: 46px;
}
#detail_header .main_menu #back_btn {
	background: url(../img/back_btn.png) no-repeat center center;
	background-size:contain;
	width: 36px;
	height: 36px;
	float: right;
	border: none;
	margin-top: 7px;
	cursor: pointer;
	opacity: 0.3;
}
#detail_header .main_menu #back_btn:hover {
	opacity: 1;
}
#detail_header .main_menu #home_btn {
	background: url(../img/home_btn.png) no-repeat center center;
	background-size:contain;
	width: 36px;
	height: 36px;
	float: right;
	border: none;
	margin-top:5px;
	cursor: pointer;
	opacity: 0.3;
}
#detail_header .main_menu #home_btn:hover {
	opacity: 1;
}
/*--------footer------*/

.footer_fix {
	position: absolute;
	bottom: 0;
}
footer {
	clear: both;
	display: block;
	width: 100%;
	height: 180px;
	margin-top: 140px;
	border-top: 1px solid #f7f7f7;
	background-color: #f9f9f9;
}
#wrapper_footer {
	max-width: 1000px;
	min-width: 740px;
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding: 45px 15px;
}
#copyright {
	position: relative;
	text-align: center;
	width: 100%;
	height: 30px;
	color: #959595;
	font-size: 13px;
	line-height: 30px;
}
#ci {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: #CCC;
}
#footer_menu {
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.footer_menu {
	font-size: 0.9em;
	height: inherit;
	line-height: inherit;
	color: #4c4c4c;
	display: inline;
	padding: 0 10px;
	text-decoration: none;
}
#last_menu {
	border-right: none;
}
.footer_menu > li {
	text-decoration: none;
	list-style: none;
}
.footer_menu > a, .footer_menu > a:link {
	text-decoration: none;
	list-style: none;
	color: #767676;
	outline: none;
}
.footer_menu > a:hover {
	color: #066ab3;
}
/*--------modal popup------*/
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: 100%;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.4);
}
/*--------modal content - attendent, comment ------*/
.modal-dialog {
	padding: 15px;
	max-width: 465px;
	min-width: 200px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(100,100,100,0.1);
	border-radius: 0;
	outline: 0;
	top: 12%;
	height: 76%;
	min-height: 500px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
	box-shadow: 0 3px 9px rgba(0,0,0,.2);
}

.close, .close2 {
	opacity: .4;
}
.close:hover, .close2:hover {
	opacity: 0.8;
}
.modal-header {
	width: 100%;
	height: 10%;
	min-height: 30px;
	padding: 15px 20px;
	margin: 0 auto;
	border: none;
	display: table;
	background: #fff;/*border-bottom: 1px solid #f2f2f2;*/
}
.modal-header .close {
	width: 30px;
	height: 30px;
	border: none;
	float: right;
	background-color: transparent;
	cursor: pointer;
}
.modal-header .vertical_align .section {
	width: auto;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	color: #545454;
	font-weight: bold;
	text-align: left;
	float: left;
	margin-left:4px;
}
.modal-header .vertical_align .section_info {
	width: auto;
	height: 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	color: #066ab5;
	text-align: left;
}
.popup_wrap {
	position: relative;
	width: inherit;
	height: 90%;
	margin: 0 auto;
	clear: both;
	display: block;
	background-color: white;
}
.popup_contents_wrap {
	width: inherit;
	min-height: 300px;
	height: 87%;
	text-align: left;
	padding: 30px;
	overflow: auto;
	overflow-x: hidden;
}
.modal-footer1 {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #f2f2f2;
	display: table;
	text-align: right;
	width: 100%;
	height: 13%;
	padding:15px 30px;
	background: rgba(255,255,255,1);/*box-shadow: 0 -1px 15px rgba(140,140,140,0.1);*/
}
.vertical_align {
	position:relative;
	display: table-cell;
	vertical-align: middle;
}

/*--------modal-dialog2 - share, report ------*/
.modal-dialog2 {
	padding: 15px;
	max-width: 360px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: auto;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
/*---- modal-content2 report ---*/
.modal-content2 {
	position: relative;
	background-color:#fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	outline: 0;
	width: 340px;
	height: 340px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
	box-shadow: 0 3px 9px rgba(0,0,0,.2);
}
.modal-content2 .section{
	height:40px;
	line-height:40px;
	padding-left:15px;
	  font-size: 15px;
	}
.report_wrap {
	padding:15px;
	width: 100%;
	margin:0 auto;
	  height: 300px;
}
input[type=radio] {
	display: none;
}
textarea{
	border:none;
	}
.report_select {
	position: relative;
	height:36px;
	padding-left:10px;
	line-height:36px;
	width: 100%;
	color: #545454;
	border: 1px solid #eee;
	background:#fcfcfc;
	margin-bottom: 6px;
}
.report_select:hover {
	border: 1px solid #066ab5;
}
input[type="radio"]#select1:checked + .report_select,
input[type="radio"]#select2:checked + .report_select,
input[type="radio"]#select3:checked + .report_select
{
	border: 1px solid #066ab5;
	background:#066ab5;
	color:#fff;
	transition:0.3s;
}
.reason_txt{
	box-sizing:inherit;
	position: relative;
	height: 80px;
	width:100%;
	padding:5px;
	background:#fcfcfc;
	border: 1px solid #eee;
	margin-bottom: 18px;
	}
.reason_txt:focus{
	border: 1px solid #066ab5;
	}	
/*---- modal-content3 share ---*/
.modal-content3 {
	position: relative;
	background-color:#fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	outline: 0;
	width: 320px;
	height: 320px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
	box-shadow: 0 3px 9px rgba(0,0,0,.2);
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.sns_icon_wrap {
	width: 100%;
	margin:0 auto;
	display:block;
	text-align: center;
}
.sns_icon_wrap > a > div {
	display:inline-block;
	background:none;
	margin: 0 auto;
	width: 38px;
	height: 38px;
	margin:4px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.modal-content2 .close, .modal-content3 .close, .modal-content4 .close {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 40px;
	min-width: 40px;
	width: 10%;
	height: 40px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	  z-index: 1;
	
}
/*--------modal-dialog3 - receipt ------*/
.modal-dialog3{
	padding: 15px;
	max-width: 450px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 15px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: auto;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
/*---- modal-content4 receipt, reaffirm ---*/
.modal-content4 {
	position: relative;
	background-color:#fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	outline: 0;
	width: 420px;
	height: 700px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
	box-shadow: 0 3px 9px rgba(0,0,0,.2);
	outline: 0;
}


/*--------  modal popup attendant --------*/	

.popup_wrap > .popup_contents_wrap > .follow {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 24px;
	height: 50px;
}
.follow_pic {
	margin-right: 8px;
	width: 50px;
	height: 50px;
	border:1px solid #ddd;
	background-color: #eee;
	float: left;
	overflow: hidden;
}
.followt_pic:hover {
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}
.follow_pic img{
	width:100%;
	height:100%;
	
	}
.follow_name {
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	float: left;
	color: #333;
	width: auto;
	font-weight: 500;
}
.follow_location {
	line-height: 50px;
	font-size: 14px;
	text-align: center;
	margin-left: 10px;
	float: left;
	color: #767676;
	width: auto;
	font-weight: 500;
}
/*-------- modal popup comment --------*/

.comments {
	color: #000;
	width: 100%;
	min-height: 50px;
	height: auto;
	margin-bottom: 26px;
	clear: both;
}
.user_pic {
	width: 10%;
	min-width: 50px;
	max-width: 50px;
	height: 50px;
	border:1px solid #eee;
	/*border-radius: 50%;*/
	background: #eee;
	cursor: pointer;
	float: left;
}
.user_pic img{
	width:100%;
	height:100%;
	}
.user_pic:hover {
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}	
.user_comment_wrap {
	position: relative;
	width: 89%;
	min-height: 50px;
	height:auto;
	float: right;
}
.user_name {
	font-size: 13px;
	color: #333;
	width:100%;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}
.comments_text {
	font-size: 13px;
	color: #767676;
	margin-bottom: 26px;
	width: 85%;
	min-height: 20px;
	height:auto;
	line-height: 20px;/*border:1px solid red;*/
}
.more_btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	margin: 0;
	cursor: pointer;
	float: right;
}
.more_btn_wrap {
	position: absolute;
	top: 30px;
	right: 0;
	width: 84px;
	height: 84px;
	text-align: center;
	background: white;
	border: 1px solid #ddd;
	display: none;
	z-index: 5;
}
.more_btn_wrap > li {
	font-size: 13px;
	height: 28px;
	color: #767676;
	line-height: 28px;
}
.more_btn_wrap > li:hover {
	background: #eee;
	color: #333;
	cursor: pointer;
}
.more_btn:hover .more_btn_wrap, .more_btn:active .more_btn_wrap {
	display: block;
	transition-duration: 0.3s;
}
.my_pic {
	width: 10%;
	min-width: 50px;
	max-width: 50px;
	height: inherit;
	border:1px solid #eee;
	/*border-radius: 50%;*/
	background: #eee;
	float: left;
}
.my_pic img{
	width:100%;
	height:100%;
	}
.my_comments {
	font-size: 14px;
	color: #333;
	width: 83%;
	height: inherit;
	margin-left: 0;
	padding-left: 10px;
	padding-right:60px;
	float: right;
	line-height: 170%;
	background-color:transparent;
	border: 1px solid #eee;
	  border-right: none;
	  overflow:auto;
}
#comment_enter{
	position:absolute;
	right:0;
	width:55px;
	height:48px;
	color:#fff;
	background-color:#71a5cc;
	}	
#comment_enter:hover{
	background-color:#066ab3;
	}
	#comment_enter:active{
	background-color:#0047ab;
	}
	

	
/*-- animation --*/

.animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated2 {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
.animated3 {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 3.4s;
	animation-delay: 3.4s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
.animated4 {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
 @-webkit-keyframes fadeOutUp {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 50% {
 opacity: 0.9;
 transform: translateY(0%);
}
 100% {
 opacity: 0;
 transform: translateY(-100%);
}
}
@keyframes fadeOutUp {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 50% {
 opacity: 0.9;
 transform: translateY(0%);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(-15px);
 transform: translateY(-15px);
}
}
.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
@-webkit-keyframes fadeIn {
 0% {
 opacity: 0;
}
 60% {
 opacity: 0.7;
}
 100% {
 opacity: 1;
}
}
@keyframes fadeIn {
 0% {
 opacity: 0;
}
 60% {
 opacity: 0.8;
}
 100% {
 opacity: 1;
}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}


@-webkit-keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-10%);
}
 60% {
 opacity: 0.7;
 transform: translateY(-40%);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0%);
}
}
@keyframes fadeInUp {
 0% {
 opacity: 0;
 transform: translateY(-40%);
}
 60% {
 opacity: 0.8;
 transform: translateY(-10%);
}
 100% {
 opacity: 1;
 transform: translateY(0%);
}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

 @-webkit-keyframes fadeInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-15px);
 transform: translateY(-15px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
 @keyframes fadeInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-15px);
 -ms-transform: translateY(-15px);
 transform: translateY(-15px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(15px);
 transform: translateY(15px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
 @keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(15px);
 -ms-transform: translateY(15px);
 transform: translateY(15px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
 @media screen and (min-width:960px) {
}
 @media screen and (min-width:768px) and (max-width:959px) {
}
 @media screen and (max-width:767px) {
	 .container, .container2 {
	max-width:100%;
  min-width: 100px;
 }
 #wrapper_footer {
  min-width: 100px;
 }
 }
 
   @media screen and (max-width:420px) {
.container, .container2 {
	padding:0;
}

#btn_top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #ddd;
  background: url(../img/pagetop.png) no-repeat center center;
  opacity: 0.6;
  z-index: 10;
}

header > .container{
		   height:46px;
		   }
	   
.main_menu #logo {
  display: none;
}
.main_menu {
	width: 100%;
	height: 46px;
	line-height: 46px;
	display: inline-block;
}
.main_menu .menu_item {
	display:none;
	width:20%;
  height: inherit;
  margin-right: 0;
}
.main_menu .menu_item a {
	color: #999;
	width: 16%;
	padding: 14px 0;
	height: inherit;
	font-size: 14px;
	letter-spacing: -0.4px;
	cursor: pointer;
	font-weight: normal;
}
.moblie_menu_item{
	display:block;
	width:50%;
	height: 46px;
	float:left;
	}
.moblie_menu_item a li{
	border:1px solid blue;
	}
	

.menu_icon_wrap {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 33.3%;
  height: 46px;
  float: left;
  padding:10px;
}	
.menu_icon2 {;
  background-position: 50% 50%;
  background-size:contain;
  margin:0 auto;
    width: 26px;
  height: 26px;
}
.moblie_menu_item .menu_icon_event {
	background-image: url('../img/bt_event.png');
}
.moblie_menu_item #event_active {
	background-image: url('../img/bt_event_hover.png');
}
.moblie_menu_item .menu_icon_participation {
	background-image: url('../img/bt_participation.png');
}
.moblie_menu_item #participation_active  {
	background-image: url('../img/bt_participation_hover.png');
}
.moblie_menu_item .menu_icon_create {
	background-image: url('../img/bt_create.png');
}
.moblie_menu_item #create_active {
	background-image: url('../img/bt_create_hover.png');
}
.menu_icon {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size:contain;
	margin:0 auto;
	  width: 26px;
  height: 26px;
}	
	
.right_nav{
	float:right;
	width:50%;
	height: 46px;
	text-align:right;
	}	
#menu_icon_push_mouseover {
	display: none;
	width: 100%;
}
  

#detail_header .main_menu #back_btn {
  float: left;
}


 .left_section {
  width:100%;
  height: 100%;
  padding: 10px 0;
  margin-right: 0;
  margin-bottom: 60px;
  float:none;
	   
   }
   .right_section {
  width: 100%;
  height: 100%;
   padding: 50px 15px 20px 15px;
  float:none;
}

/*---------- 푸터 ----------- */
.footer_menu {
	font-size: 0.9em;
	padding: 0 6px;
}
/*---------- 팝업 ----------- */
.modal-content4 {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0;
  outline: 0;
  width: 100%;
  height: 90%;
   padding-right:0;
    padding-left:9;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
  box-shadow: 0 3px 9px rgba(0,0,0,.2);
  outline: 0;
}	 
.modal-content {
   top: 0; 
  height: 100%;

	   
   }
   
  .popup_contents_wrap {
  padding: 15px; 
   
   }
 .modal-footer1 {
  padding: 15px;
 }
   }
/* 스마트폰 (가로 및 세로) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
}

/* 스마트폰 (가로 ) ----------- */
@media only screen and (min-width : 321px) {

}

/* 스마트폰 (세로) ----------- */
@media only screen and (max-width : 320px) {

}

/* 아이패드 (가로 및 세로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* 아이패드 (가로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* 아이패드 (세로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* PC 및 노트북 ----------- */
@media only screen and (min-width : 1224px) {
/* 사용자 코드 */
}

/* 대형 스크린 ----------- */
@media only screen and (min-width : 1824px) {
/* 사용자 코드 */
}

/* 아이폰 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	.footer_menu {
	font-size: 0.9em;
	padding: 0 6px;
}
}
/* 아이폰 5 & 5S 가로 및 세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

}
/* 아이폰 5 & 5S 가로 ------ */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 5 & 5S 세로 ------ */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이폰 6 세로 및 가로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
/* 사용자 코드 */
}

/* 아이폰 6 가로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 6 세로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 가로 및 세로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 가로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 세로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이패드 미니 가로 및 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}

/* 아이패드 미니 가로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}

/* 아이패드 미니 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}
 
 
