
/*----------header----------*/
/*
header {
	position:absolute;
	top:0;
	background-color:rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(240,240,240,0.1);
	}

.main_menu {
	width: 100%;
	margin-left: auto;
	height: 46px;
	line-height: 46px;
	display: inline-block;
}
.main_menu #logo {
	background: url(../img/unboxlogogray.png) no-repeat center center;
	background-size: cover;
	width: 90px;
	height: 30px;
	float: left;
	margin-top: 6px;
	margin-right: 40px;
	cursor: pointer;
}
.main_menu .menu_item {
	height: inherit;
	margin-right: 8px;
}
.main_menu .menu_item a {
	color: #ccc;
	height: inherit;
	font-size: 14px;
	padding: 14px 5px;
	letter-spacing: -0.4px;
	cursor: pointer;
	font-weight: normal;
}
.main_menu .menu_item a:hover {
	color: #f1f1f1;
	font-weight: bold;
}
#menu_item_active {
	color: #f1f1f1;
	font-weight: bold;
}
.menu_icon {
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 44px;
	height: 46px;
	float: right;
}
.main_menu .menu_icon_more {
	background-image: url('../img/bt_moregray.png');
	cursor: pointer;
	padding-right: 0;
}
.main_menu .menu_icon_more:hover {
	background-image: url('../img/bt_moregray_hover.png');
}
.main_menu .menu_icon_push {
	background-image: url('../img/bt_pushgray.png');
	cursor: pointer;
}
.main_menu .menu_icon_push:hover {
	background-image: url('../img/bt_pushgray_hover.png');
}
.main_menu .menu_icon_search {
	background-image: url('../img/bt_searchgray.png');
	cursor: pointer;
}
.main_menu .menu_icon_search:hover {
	background-image: url('../img/bt_searchgray_hover.png');
}	
	*/
	
	
/*--unbox video--*/	
.cam_container{
	background-color:transparent;
	width: 100%;
	height: auto;
	min-height:98%;
	padding:15px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.cam_container h1{
	font-weight:bold;
	width:100%;
	color:#545454;
	text-align:center;
	}
.contents_wrap{
	width: auto;
	height: auto;
	  margin: 30px auto;
}

.contents_wrap a{
	width:inherit;
	max-width:500px;
	display:block;
	}
.video_img{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:500px;
	height:auto;
	background-color:#eee;
	z-index:1;
	}
.cam_container p{
	text-align:center;
	width: 100%;
  margin:30px 0 60px 0;
	 font-size: 14px;
	 line-height: 1.7;
	 color: #545454;
}
/*--unbox philosophy--*/
.philosophy_container{
	
	background-color:#222;
	background:url(../img/unbox_team/bg_img.jpg) no-repeat center center;
	background-size:cover;
	overflow:hidden;
	width: 100%;
	height:600px;
	padding:15px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.philosophy_container h1{
	color:#333;
	}
.philosophy_container p{
	margin:30px auto;
	font-size:14px;
	color:#545454;
	line-height:1.7;
	}		
/*--unbox item description--*/
.contents_container{
	margin:0 auto;
	background-color:#fafafa;
	width: 100%;
	height:auto;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index:1;	
}
.contents_wrap2{
	max-width:1000px;
	margin:0 auto;
	background-color:transparent;
	width: 100%;
	height: 100%;
}

.item_img1{
	max-width:900px;
	margin:0 auto;
	width:100%;
	height:auto;
	}
.article2{
	text-align:left;
	max-width:720px;
	width: 100%;
	height:1500px;
	font-size:16px;
	color:#333;
	line-height:1.8;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:100px;
}	
		
/*--unbox team--*/		
.contents_container2{
	margin:0 auto;
	background-color:#090909;
	width: 100%;
	height:100%;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index:1;	
}	

.contents_wrap3{
	max-width:720px;
	margin:0 auto;
	background-color:transparent;
	width: 100%;
	height:auto;
	text-align:center;
}
.contents_wrap3 h1{
	color:#aaa;
	}
.contents_wrap3 p{
	margin:30px auto;
	font-size:14px;
	color:#999;
	line-height:1.7;
	}	
.article3{
	text-align:center;
	width: 100%;
	height:auto;
	padding: 15px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:80px;
}	
#team_img_wrap{
	width:100%;
	margin:80px 0;
	}
.team_info{
	text-align:center;
	width:20%;
	height:auto;
	display:inline-block;
	float:left;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.team_pic{
	background-color:#aaa;
	width:120px;
	height:120px;
	}
.team_info > p{
	margin:4px auto;
	font-size:15px;
	color:#ccc;
	
	}
.team_info > .team_name{
	margin-top:10px;
	font-size:15px;
	}

h1{
	text-align:center;
	width:100%;
	height:auto;
	color:#aaa;
	margin:30px auto;
	font-size:17px;
	letter-spacing:3px;
	}
.hr_short {
  background-color: #333;
}	
.thanks{
	margin-top:30px;
	color:#999;
	}
.thanks li{
	width:100%;
	height:30px;
	line-height:30px;
	}

footer {
	clear: both;
	display: block;
	margin-top: 0;
	border-top: 1px solid #040404;
	background-color: #090909;;
}		