@charset "utf-8";
/* CSS Document */
#kCalendar {
	width: inherit;
	height: 250px;
}
#kCalendar #header {
	position:relative;
	width:100%;
	max-width: 210px;
	margin:0 auto;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color:#545454;
	font-size: 16px;
	padding-bottom:10px;
	border:none;
}

.left{
	color: #aaa;
	padding:0 10px 0 10px;
	text-decoration: none;
	position:absolute;
	left:0;
	}
.right{
	color: #aaa;
	padding:0 10px 0 10px;
	text-decoration: none;
	position:absolute;
	right:0;
	}
#kCalendar table {
	width:100%;
	max-width: 210px;
	height:auto;
	margin:0 auto;
	font-size:14px;
	font-weight:100;
	padding:0;
	
}
#kCalendar caption {
	display: none;
}
#kCalendar tr{
	padding:0;
	height:30px;
	width:30px;
	text-align: center;
	font-weight:100;
	}
#kCalendar td{
	padding:0;
	height:30px;
	width:30px;
	text-align: center;
	font-weight:100;
	}
#kCalendar td:hover{	
	color:#80c172;
	transition-duration:0.1s;
}
	
		
	
#kCalendar .sun {
	text-align: center;
	color:#b23939;
}
#kCalendar .sat {
	text-align: center;
	color:#4352af;
}
