body {
	position:relative;
	overflow: hidden;
	background-color: #f1f1f1;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1;
}
.eventshare_container{
	width:100%;
	height:100%;
	margin: 0 auto;
	/*background-color: rgba(245,245,245,0.75);*/
	overflow: hidden;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	}
.eventshare_wrap {
	max-width:700px;
	width: inherit;
	height:auto;
	padding: 15px;
	margin:0 auto;
	text-align: center;
	position: relative;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}	
.eventshare_wrap #header_text{
	font-size:17px;
	letter-spacing:3px;
	margin-bottom:40px;
	}
.unbox_event {
	position:relative;
	width:100%;
	max-width: 400px;
	max-height: 400px;
	margin:0 auto;
	clear:both;
	display:block;
	text-align:left;
}
.event_thumbnail {
	width: 100%;
	height: 0;
	padding-bottom:72%;
	background-color:#eee;
	position: relative;
	cursor: pointer;
}

.event_thumbnail a img{
	width:100%;
	height:inherit;
	display: block;
	max-width: 100%;
	height: auto;
	}	

.event_details {
	width: 100%;
	height: auto;
	padding: 15px;
	  background-color: #fefefe;
}
/*-------event_details-------*/

.event_title {
	margin: 10px 0 15px 0;
	width: 100%;
	height: 38px;
	line-height: 38px;
	font-size: 20px;
	font-weight: 500;
	float: left;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.event_address {
	clear: both;
	font-size: 15px;
	color: #767676;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.event_time_price {
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
}
.event_time_price div {
	display: inline-block;
}
.event_time {
	color: #767676;
	width:80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.event_price {
	color:#066ab3;
	width:20%;
	text-align:right;
	float: right;
}

/*
.share_wrapper {
	float:left;
	margin:0 auto;
	display:block;
	width:60%;
	padding: 15px;
	height:auto;
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
}*/
#footer{
	max-width:500px;
	width:100%;
	height:auto;
	background-color:transparent;
	margin-top:80px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	}
.share_wrapper {
	float:left;
	width:49%;
	border-right:1px solid #ddd;
	height:40px;
	line-height:40px;
	margin:30px 0;
}
.share_wrapper > a > div, .link_share > a > #link{
	display:inline-block;
	background:none;
	margin: 0 auto;
	width: 34px;
	height: 34px;
	margin:3px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.share_wrapper > a > #facebook {
	background-image: url('../img/facebook_icon.png');
}
.share_wrapper > a > #instagram {
	background-image: url('../img/instagram_icon.png');
}
.share_wrapper > a > #twitter {
	background-image: url('../img/twitter_icon.png');
}
.share_wrapper > a > #kakaostory {
	background-image: url('../img/kakaostory_icon.png');
}
.share_wrapper > a > #naver {
	background-image: url('../img/naver_icon.png');
}
.share_wrapper > a > #link {
	background-image: url('../img/link_icon.png');
}
/*---- icon hover ---*/
.share_wrapper > a > #facebook:hover {
	background-image: url('../img/facebook_icon_hover.png');
}
.share_wrapper > a > #instagram:hover {
	background-image: url('../img/instagram_icon_hover.png');
}
.share_wrapper > a > #twitter:hover {
	background-image: url('../img/twitter_icon_hover.png');
}
.share_wrapper > a > #kakaostory:hover {
	background-image: url('../img/kakaostory_icon_hover.png');
}
.share_wrapper > a > #naver:hover {
	background-image: url('../img/naver_icon_hover.png');
}
.share_wrapper > a > #link:hover {
	background-image: url('../img/link_icon_hover.png');
}
	
#facebook:hover, #instagram:hover, #twitter:hover, #kakaostory:hover, #naver:hover, #link:hover{
	opacity:0.7;
	transition:all 0.3s;
	}


.lnb_nav{
	float:right;
	width:50%;
	height:40px;
	line-height:40px;
	margin:30px 0;
	text-align:center;
	}
.lnb_nav a{
	padding:15px;
	color:#767676;
	}	
.lnb_nav a:hover{
	color:#066ab3;

	
	}
	
	
	
 @media screen and (max-width:420px) {
.eventshare_wrap {
  padding-bottom: 200px;
}
.share_wrapper {
  float: left;
  width: 100%;
  text-align: center;
}
#footer {
	position:absolute;
	height:130px;
	bottom:0;
  margin-top: 0;
}
.lnb_nav {
  float: right;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
}	
 }