#btn_top {
  bottom: 85px;
}
.prev_btn{
	width:50px;
	height:50px;
	position:fixed;
	top:48%;
	left:5px;
	background:url(../img/event_page/prev_btn.png) no-repeat center center;
	background-color:rgba(255,255,255,0.3);
	cursor:pointer;
	opacity:0.5;
	z-index:5;
	}
.next_btn{
	width:50px;
	height:50px;
	position:fixed;
	top:48%;
	right:5px;
	background:url(../img/event_page/next_btn.png) no-repeat center center;
	background-color:rgba(255,255,255,0.3);
	cursor:pointer;
	opacity:0.5;
	z-index:5;
	}
.prev_btn:hover, .next_btn:hover{
	opacity:1;
	}

.login_btn{
	float:right;
	margin-left:10px;
	color:#767676;
	}
.login_btn:hover{
	color:#066ab3;
	}
/*-----link_event_title------*/
#link_wrap {
	position: absolute;
	top: 43%;
	left: 5%;
	right: 5%;
	width: 90%;
	padding: 2%;
	height: 12%;
}
#link_wrap #event_title {
	font-size: 1.7em;
	color: #333;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
}
#link_wrap #event_date {
	font-size: 15px;
	color: #545454;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}
/*-----event_image------*/

.event_img {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 110px;
	width: 100%;
	height:0;
	padding-bottom:67%;
	overflow:hidden;
	background-color: #fafafa;
	border:1px solid #eee;
}
.event_img img{
	width:100%;
	height:auto;
	
	}
/*-----event_detail------*/	

.event_page_detail {
	max-width: 700px;
	margin: 0 auto;
	background-color: rgba(192,192,192,0);
}
.event_page_detail .profile_img_50x50 {
	  float: left;
	  width:50px;
	  height:50px;
	  background-color:#eee;
	  border:1px solid #eee;
  	 margin-right: 10px;
}
#event_title_wrap{
	width:100%;
	height:45px;
	clear:both;
	}
.event_page_detail #event_detail_title {
	width:85%;
	float:left;
	height: 45px;
	font-size: 22px;
	font-weight:bold;
	color: #333;
	line-height: 45px;
	letter-spacing: -0.3px;
}
.event_page_detail .event_detail_category {
	float: right;
	width:auto;
	font-size: 15px;
	line-height: 45px;
	color: #71a5cc;
}
.category_icon {
	position:relative;
	top:7.5px;
	width: 30px;
	height: 30px;
	border: none;
	display: block;
	background-color:transparent;
	border:1px solid #71a5cc;
	overflow: hidden;
	float:left;
}
#category {
	float:right;
	margin:0 6px;
}
	
.event_page_detail #short_description {
	clear:both;
	margin-top: 60px;
	height:auto;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color:#066ab3;
	color:#333;
}
.event_page_detail #long_description {
	margin-top: 20px;
	margin-bottom: 120px;
	height: auto;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	clear: both;
}
/*-----event_hashtag,bookmark------*/


.event_page_detail .hashtag_share_row {
	margin-top: 68px;
	height:40px;
	line-height:40px;
	margin-bottom: 36px;
}
.event_page_detail .hashtag_share_row #hashtag {
	margin-top: 16px;
	color: #80c172;
}
.event_page_detail .hashtag_share_row #share_bookmark {
	float: right;
}
.event_page_detail .hashtag_share_row #share_bookmark div {
	display: inline-block;
}
.share_icon {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 0;
	margin-bottom: 22px;
}
.event_page_detail .hashtag_share_row #share_bookmark #bookmark_icon {
	background-image: url('../img/event_page/bookmark_icon.png');
	cursor: pointer;
}
.event_page_detail .hashtag_share_row #share_bookmark #bookmark_icon:hover {
	background-image: url('../img/event_page/bookmark_icon_active.png');
}
.event_page_detail .hashtag_share_row #share_bookmark #share_icon {
	background-image: url('../img/event_page/share_icon.png');
	cursor: pointer;
}
.event_page_detail .hashtag_share_row #share_bookmark #share_icon:hover {
	background-image: url('../img/event_page/share_icon_active.png');
}
/*-----event_creator------*/

.section_wrap {
	width: 100%;
	height: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}
#event_creator_margin {
	position:relative;
	height: 80px;
	margin-bottom: 40px;
}
.event_creator > .profile_wrap {
	text-align: center;
	width:50px;
	height: inherit;
	  position: absolute;
  left: 0;
  top: 0;
}
.profile_wrap img {
	width: 50px;
	height: 50px;
	background-color:#eee;
	border: 1px solid #ddd;
}
.profile_wrap #profile_pic img{
	width:100%;
	height:100%;
	}
.profile_wrap #profile_name {
	text-align:center;
	color: #545454;
	width:50px;
	font-size: 13px;
	height: 30px;
	line-height:30px;
	clear:both;
}
.event_creator #description_wrap {
	position: relative;
	width: 100%;
	height: inherit;
	color: #545454;
	float: right;
	padding-left:60px;
	font-size: 15px;
}
.event_creator #description {
	color: #545454;
	  min-height: 50px;
  height: auto;
  overflow:auto;
	width: 100%;
	padding-right:70px;
	font-size: 14px;
	border: none;
	resize: none;
	background-color:transparent;
}
#webpage {
	color:#5f8774;
	width: 100%;
	padding-right:70px;
	font-size: 15px;
}
.event_creator #webpage:hover {
	text-decoration: underline;
}
#follow_btn {
	position: absolute;
	right: 0;
	top: 25px;
	width:60px;
	height: 20px;
	text-align: right;
	color: #71a5cc;
	border: none;
	background-color: transparent;
	font-size: 15px;
}
#follow_btn:hover {
	text-decoration: underline;
}

/*------------attendee------------*/
#event_attendee {
	position: relative;
	width: 100%;
	height: 150px;
}
#wrap_left {
	position: absolute;
	top: 0;
	left:0;
	width: 46%;
	height: auto;
	margin-top: 10px;
	margin-right: 3%;
	float: left;
}
#wrap_right {
	clear: both;
	float: right;
	width: 50%;
	height: auto;
	line-height: 46px;
	margin-top: 10px;
}
.section_title {
	width: 43%;
	height: 20px;
	line-height: 20px;
	margin-right: 1%;
	margin-bottom: 15px;
}

.section_contents{
	width:100%;
	height:50px;
	position:relative;
	}

/*----------left-section---------*/
#plus_icon {
	float:left;
	width: 20px;
	height: 20px;
	background: url(../img/event_page/plus_icon.png) no-repeat center center;
	background-size: cover;
	position: relative;
	margin: 15px;
}
#view_attendee_list, #write_comment {
	position:absolute;
	right:0;
	display: block;
	float: right;
	width: 60px;
	height: 50px;
	line-height: 50px;
	text-align: right;
	margin-left: 1%;
	margin-right: 1%;
}
/*----------right-section---------*/
#comment_wrap {
	width: 60%;
	height:50px;
	float:left;
}
#comment_name {
	width: auto;
	height: 25px;
	font-size: 13px;
	line-height: 25px;
}
#comment {
	width: 100%;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*------------map------------*/	

.location_info {
	width: 100%;
  padding-right: 80px;
	font-size: 15px;
	color: #767676;
}
#view_map {
	clear: both;
	float: right;
	margin-bottom: 60px;
}
#event_detail_hr {
	position: relative;
	width: 100%;
	display: block;
	height: 1px;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	margin: 30px 0;
	margin-top: 50px;
	padding: 0;
}
#event_detail_light_hr {
	clear: both;
	position: relative;
	width: 100%;
	display: block;
	height: 1px;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	;
	margin: 30px 0;
	padding: 0;
}
.small_header {
	width:100%;
	margin-bottom:15px;
	color: #adadad;
}
.small_header_desc {
	font-size: 15px;
	color: #767676;
	margin-left: 10px;
}
.small_margin_top {
	margin-top: 15px;
}
.small_margin_left {
	margin-left: 16px;
}
/*-----------date_select-----------*/	
.date_info, .time_info{
	margin-right:10px;
	  font-size: 15px;
  color: #767676;	
	}
.select_list {
	margin-top: 3%;
	margin-bottom: 12%;
	position: relative;
}
.date_select_wrap {
	width: 100%;
	height: 68px;
}
.date_select {
	max-width: 120px;
	width: 20%;
	height: inherit;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	line-height: 20px;
	color: #333;
	border: none;
	outline: none;
	text-align: center;
	border: 1px solid #e5e5e5;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
	background-color: transparent;
	float: left;
	cursor: pointer;
}
.date_select font{
	font-size:13px;
	/*color:#767676;*/
	}
.date_select:hover {
	border: 1px solid #71a5cc;
	background-color: transparent;
}
input[type="radio"]#date_select1:checked + .date_select,
input[type="radio"]#date_select2:checked + .date_select,
input[type="radio"]#date_select3:checked + .date_select
 {
	color:#066ab3;
	border: 1px solid #066ab3;
	background-color: transparent;
	transition-duration: 0.3s;
}
input[type=radio] {
	display: none;
}
/*-----------time_select-----------*/

.time_select {
	position: relative;
	height: 46px;
	max-width: 380px;
	width: 100%;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.time_select:hover {
	cursor:pointer;
	border: 1px solid #71a5cc;
}
input[type="radio"]#time_select1:checked + .time_select,
input[type="radio"]#time_select2:checked + .time_select,
input[type="radio"]#time_select3:checked + .time_select
{
	color:#066ab3;
	border: 1px solid #066ab3;
	background-color: transparent;
	transition-duration: 0.3s;
}
.time_select > span {
	margin-left: 4px;
	height: 46px;
	line-height: 44px;
	padding-left: 4%;
	font-weight: 500;
}
.time_select > .price {
	float: right;
	padding-right: 4%;
}
#time_select1, #time_select2, #time_select3 {
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	margin-left: 16px;
	margin-right: 8px;
	cursor: pointer;
}
/*-----------footer-----------*/

#footer {
	clear: both;
	width: 100%;
	background-color: rgba(245,245,245,0.9);
	border-top: 1px solid #f1f1f1;
	height: 70px;
}
.footer_wrap {
	max-width: 700px;
	width: 100%;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	margin-top: 17px;
	margin-bottom: 17px;
}
.footer_wrap span {
	height: inherit;
	line-height: inherit;
	color: #767676;
	font-size: 15px;
}
.footer_wrap span a:hover{
	text-decoration:underline;
	color:#066ab3;
	}
.footer_wrap .total_price {
	height: inherit;
	line-height: inherit;
	font-size: 18px;
	font-weight: 500;
	float: right;
	margin: 0 10px;
	color: #333;
}
.tickets_number {
	font-size: 16px;
	text-align: center;
	font-weight: 500;
}
.footer_wrap .join_btn {
	width: 90px;
	height: inherit;
	margin-left: 10px;
	float: right;
	cursor: pointer;
	border: none;
	font-weight: bold;
	color: #fff;
	outline: none;
	background-color:#066ab3;

  text-align: center;
  white-space: nowrap;
  display: inline-block;
}
.footer_wrap .join_btn:hover{
	background-color:#0047ab;
	}
.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(245,245,245,.85);
	margin: 0 auto;
	min-height: 1px;
	z-index: 1;
}

/*=============modal popup2 comment================*/
.user_comment_wrap {
  position: relative;
  width: 83%;
}
.comments_text {
  margin-bottom: 26px;
  width: 90%;
}
/*=============modal popup3 ticket buy================*/
.modal-content2 {
	position: relative;
	background-color: transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0;
	outline: 0;
	height:90%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: 100%;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.modal-content-innerwrap {
	width: 360px;
	height:auto;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
	box-shadow: 0 3px 9px rgba(0,0,0,.2);
}
.popup_wrap2 .close {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 30px;
	min-width: 30px;
	width: 10%;
	height: 30px;
	color:#767676;
	border: none;
	float: right;
	background-color: transparent;
	cursor: pointer;
}
.popup_wrap2 {
	position:relative;
	clear: both;
	width: 100%;
	height: auto;
	border: none;
	overflow: hidden;
	margin: 0;
	display: block;
	background-color: white;
	outline: 0;
}
.event_title_wrap{
	width:100%;
	height:65px;
	margin-top:20px;
	}
.event_title_wrap #event_title{
	width:100%;
	font-size:17px;
	color:#545454;
	font-weight:bold;
	height:20px;
	line-height:20px;
	text-align:center;
	}
.event_title_wrap #event_date{
	font-size:14px;
	color:#3a80cc;
	height:30px;
	line-height:30px;
	text-align:center;
	}	
.event_booking_wrap {
	position:relative;
	  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 180px;
  padding: 1px;
	background-color:#f5f5f5;
}
.booking_summary{
	width:100%;
	height:100%;
	float:left;
	padding:50px;
	padding-right:160px;
	}
#ticket_count{
	position:absolute;
	right:30px;
	top:65px;
	width:80px;
	height:50px;
	
	border: 1px solid #f2f2f2;
	overflow:hidden;
	cursor:pointer;
	z-index:10;
  padding: 0 10px;
  background: url(../img/create_event/down.png) no-repeat right center;
  background-color:#fff;
}
.right_sm{
	float:right;
	}
.hr2{
	width:108px;
	height:1px;
	margin:10px 0;
	background-color:#ccc;
	}
/* ----- 
.ticket_count_up_down_wrap{
	width:50%;
	height:100%;
	float:right;
	}
.ticket_count_up_icon, .ticket_count_down_icon{
	width:100%;
	height:50%;
	border-left:1px solid #f8f8f8;
	background:#eee;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor:pointer;
	}
.ticket_count_up_icon:hover,
.ticket_count_down_icon:hover{
	background:#f1f1f1;
	transition:all 0.2s;
	}	
.ticket_count_up_icon:active,
.ticket_count_down_icon:active{
	background:#ededed;
	opacity:0.7;
	
	}		
#upicon{
	width:40px;
	height:40px;
	background:url(../img/event_page/up.png) no-repeat center center;
	background-color:transparent;
	margin:0 auto;
	opacity:0.5;
	
	}
#downicon{
	width:40px;
	height:40px;
	background:url(../img/event_page/down.png) no-repeat center center;
	background-color:transparent;
	margin:0 auto;
	opacity:0.5;
	}	
.ticket_count_button_wrap{
	width:50%;
	height:100%;
	float:left;
	background:#e5e5e5;
	}	
.ticket_count_button {
	width:100%;
	height:33%;
	font-size:20px;
	color:#767676;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px solid #ddd;
}
#ticket_count_button_select{
	font-size:30px;
	height:34%;
	color:#545454;
	}
*/

/*---footer---*/
.modal-footer2{
	clear: both;
	padding:15px;
	
	background-color: #fff;
}
.modal-footer2 #ok_btn {
	display: block;
	width: 100px;
	height: 44px;
	text-align: center;
	color: #545454;
	font-size: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0;
	cursor: pointer;
	margin: 0 auto;
}
.modal-footer2 #ok_btn:hover {
	background: #fff;
	border: 1px solid orange;
	color: #333;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
}

/*---- share ---*/
.sns_icon_wrap > a > #facebook {
	background-image: url('../img/facebook_icon.png');
}
.sns_icon_wrap > a > #instagram {
	background-image: url('../img/instagram_icon.png');
}
.sns_icon_wrap > a > #twitter {
	background-image: url('../img/twitter_icon.png');
}
.sns_icon_wrap > a > #kakaostory {
	background-image: url('../img/kakaostory_icon.png');
}
.sns_icon_wrap > a > #naver {
	background-image: url('../img/naver_icon.png');
}
.sns_icon_wrap > a > #link {
	background-image: url('../img/link_icon.png');
}
/*---- icon hover ---*/
.sns_icon_wrap > a > #facebook:hover {
	background-image: url('../img/facebook_icon_hover.png');
}
.sns_icon_wrap > a > #instagram:hover {
	background-image: url('../img/instagram_icon_hover.png');
}
.sns_icon_wrap > a > #twitter:hover {
	background-image: url('../img/twitter_icon_hover.png');
}
.sns_icon_wrap > a > #kakaostory:hover {
	background-image: url('../img/kakaostory_icon_hover.png');
}
.sns_icon_wrap > a > #naver:hover {
	background-image: url('../img/naver_icon_hover.png');
}
.sns_icon_wrap > a > #link:hover {
	background-image: url('../img/link_icon_hover.png');
}
	
#facebook:hover, #instagram:hover, #twitter:hover, #kakaostory:hover, #naver:hover, #link:hover{
	opacity:0.7;
	transition:all 0.3s;
	}
 @media screen and (max-width:420px) {
.prev_btn, .next_btn{
	display:none;
	} 	 
.event_img {
  margin-top:0;
  margin-bottom: 30px;
  border:none;
}
.event_page_detail {
	padding:0 15px;
}
.event_page_detail #short_description {
  clear: both;
  margin-top: 30px;
  font-size: 16px;
  color: #066ab3;
  color: #333;
}


.section_wrap {
  width: 100%;
  height: auto;
  margin:0;
}

.event_creator #description {
	color: #545454;
	  min-height: 50px;
	padding-right:70px;
	font-size: 13px;	 
 }
 
 
 #wrap_left {
 position:relative;
  top: 0; 
  width: 100%;
    margin-top: 0;
 }
 #wrap_right {
  width: 100%;
  height: auto;
  line-height: 46px;
    margin: 30px 0;
}
.footer_wrap {
	padding:0 15px;
}

 }