@charset "utf-8";
/* CSS Document */


/*===============header===============*/

header {
	width: 100%;
	background-color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(240,240,240,0.6);
	z-index: 1;
}

.main_menu {
	width: 100%;
	margin-left: auto;
	height: 46px;
	line-height: 46px;
	display: inline-block;
}
.main_menu #logo {
	background:url(../img/unboxlogo.png) no-repeat center center ;
	background-size:cover;
	width:90px;
	height:30px;
	float:left;
	margin-top:6px;
	margin-right: 40px;
	cursor: pointer;
}
.main_menu .menu_item{
	height:inherit;
	margin-right:8px;
	}
.main_menu .menu_item a{
	color: #999;
	height:inherit;
	font-size:15px;
	padding:14px 5px;
	letter-spacing:-0.4px;
	cursor: pointer;
	font-weight:normal;
}
.main_menu .menu_item a:hover{
	color:#333;
	font-weight:bold;
}
#menu_item_active{
	color:#333;
	font-weight:bold;
	}
.menu_icon {
	display:inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 44px;
	height: 46px;
	float: right;
}
.main_menu .menu_icon_more {
	background-image: url('../img/bt_more.png');
	cursor: pointer;
	padding-right: 0;
}
.main_menu .menu_icon_more:hover {
	background-image: url('../img/bt_more_hover.png');
}
.main_menu .menu_icon_push {
	background-image: url('../img/bt_push.png');
	cursor: pointer;
}
.main_menu .menu_icon_push:hover {
	background-image: url('../img/bt_push_hover.png');
}
.main_menu .menu_icon_search {
	background-image: url('../img/bt_search.png');
	cursor: pointer;
}
.main_menu .menu_icon_search:hover {
	background-image: url('../img/bt_search_hover.png');
}



/*===========menu_icon_mouseover================*/


.mouseover {
	display:none;
	position: absolute;
	margin-right: 0;
	top: 46px;
	right:0;
	z-index: 5;
	background: #fff;
	float: right;
}
.menu_icon_more:hover #menu_icon_more_mouseover,
.menu_icon_more:active #menu_icon_more_mouseover {
	display:block;
	transition-duration: 0.3s;
}
.menu_icon_push:hover #menu_icon_push_mouseover,
.menu_icon_push:active #menu_icon_push_mouseover {
	display:inherit;
	transition-duration: 0.3s;
}

#menu_icon_push_mouseover {
	display:none;
	width: 360px;
	height:auto;
	right: -44px;
	box-shadow: 1px 1px 5px #ddd;
}
.push_content {
	line-height: 150%;
	color: #000;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #f1f1f1;
    /*border:1px solid red;*/
}
.push_content:hover {
	background-color: #eee;
	transition-duration: 0.4s;
	cursor: pointer;
}
.nav_pic {
	width: 40px;
	height: 40px;
	/*border-radius: 50%;*/
	float: left;
	background: #ddd;
	margin: 10px;
}
.nav_content_text {
	font-size: 14px;
	margin: 10px 0 0 0;
	color: #444;
	width: 246px;
	float: left;
	height: 40px;
	line-height: 140%;
}
.nav_content_text_time {
	float: right;
	font-size: 12px;
	color: #767676;
	height: 20px;
	line-height: 20px;
	position: relative;
	top: 30px;
	margin-right: 10px;
}
.push_detail_btn {
	clear: both;
	font-size: 14px;
	color: #767676;
	text-align: center;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.push_detail_btn:hover {
	background-color: #eee;
	transition-duration: 0.4s;
	cursor: pointer;
}

/*more*/

#menu_icon_more_mouseover {
	display:none;
	width: 140px;
	height: 220px;
	right: 0;
	box-shadow: 1px 1px 5px #ddd;
}


.more_mouseover_profile {
	width: 100%;
	height: 60px;
	text-align: left;
}
.more_mouseover_profile:hover, .more_list:hover {
	background: #eee;
	transition-duration: 0.4s;
	cursor: pointer;	
}

#user_pic {
	width: 40px;
	height: 40px;
	float: left;
	/*border-radius: 50%;*/
	background: #ddd;
	margin: 10px;
}
#user_name {
	width: 60px;
	height: 40px;
	line-height:40px;
	font-size: 15px;
	float: right;
	margin: 10px 10px 0 0;
	color: #222;
	font-weight:500;
}
#more_list_wrapper {
	clear: both;
	width: 100%;
	line-height: 40px;
	height: 40px;
	border-top: 1px solid #ddd;
}
.more_list {
	padding-left: 16px;
	height: 40px;
}

/*=======================================*/
