
/*--- profile ---*/

.profile {
	max-width:400px;
	width: 100%;
	height:auto;
	margin:0 auto;
	text-align:center;
}
#profile_img {
	margin: 0 auto;
	margin-top:20%;
	width: 70px;
	height: 70px;
	background-color: #555;
	background-position:center center;
	cursor: pointer;
	border:1px solid #fff;
}
.profile_img {
	width:inherit;
	height:inherit;
	background-size:cover;
	border:1px solid #ddd;
	cursor: pointer;
	overflow:hidden;
}
#name {
	margin: 0 auto;
	margin-top: 18px;
	margin-bottom:12px;
	width: 100%;
	font-size: 18px;
	font-weight:bold;
	color: #000;
	text-align: center;
	line-height:inherit;
}
#introduce {
	max-width: 400px;
	width:100%;
	height:auto;
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 170%;
	resize:none;
	border:none;
	background-color:transparent;
	margin: 0 auto;
	margin-bottom:8px;
}
#website {
	  color: #5f8774;
	display:block;
    max-width: 400px;
	width:100%;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#website:hover {
	text-decoration:underline;
}


/* ---- follow ---- */

.follow_wrap{
	max-width:390px;
	width:100%;
	height:auto;
	margin:15px auto;
	}
.follow_wrap > .follow{
	display: inline-block;
	margin:0;
	padding:0;
	border:0;
	width:32%;
	height:30px;
	line-height:30px;
	text-align:center;
	}
.follow_wrap > .follow > li{
	text-align:center;
	font-size:16px;
	}	
.follow_wrap > a {
	outline:none;
	border:0;
	padding:0;
	margin:0;
	}	
.follow_info{	
	color:#066ab3;
	margin-left:8px;
}

/*
.profile > table {
	max-width: 400px;
	width:100%;
	height: 30px;
	font-size: 15px;
	color: #767676;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	position: relative;
	border-collapse: collapse;
	table-layout: fixed;
}
.profile > table > td {
	font-weight: normal;
	cursor: pointer;
}
.profile > table > td:hover {
	color: #000;
	font-weight:500;
}

.border{border-right:1px solid #f1f1f1;}

#profile_edit_btn{
	border:none;
	background-color:transparent;
	color:#767676;
	}
*/

.profile > .follow_wrap > input[type="checkbox"]{
	display:none;
	}
.profile > .follow_wrap > .user_follow_btn{
	cursor:pointer;
	width: 120px;
	height: 36px;
	font-size:14px;
	text-align:center;
	line-height:34px;
	background-color:#066ab3;
	color:#fff;
	border:none;
  font-weight: 500;

	}
.profile > .follow_wrap > .user_follow_btn:hover{
	color:#fff;
	background-color: #066ab3;
	}	
.profile > .follow_wrap > input[type="checkbox"]#user_follow_btn:checked + .user_follow_btn {
	background-color: #0047ab;
  color:#fff;
  transition:all 0.2s;
}
/*
.profile > .follow_wrap > .user_follow_btn{
	cursor:pointer;
	width: 120px;
	height: 36px;
	font-size:14px;
	text-align:center;
	line-height:34px;
	background-color:transparent;
	color:#71a5cc;

	border:1px solid #71a5cc;

  font-weight: 500;

	}
.profile > .follow_wrap > .user_follow_btn:hover{
	color:#066ab3;

	border:1px solid #066ab3;
	}	
.profile > .follow_wrap > input[type="checkbox"]#user_follow_btn:checked + .user_follow_btn {
	background-color: #0047ab;
	/*
  background: -webkit-linear-gradient(#3baee7,#08c);
  background: linear-gradient(#3baee7,#08c);*/

.my_follow_btn{
	cursor:pointer;
	max-width: 120px;
	width:32%;
	height: 36px;
	font-size:14px;
	text-align:center;
	color:#555;
	line-height:34px;
	border:1px solid #eee;
	background-color:transparent;
	}
.my_follow_btn:hover {
	border:1px solid #066ab3;
	color:#066ab3;
}


/*======lnb=======*/

.lnb_nav {
	max-width:600px;
	width: 100%;
	height: 46px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.05);
	margin:0 auto;
	margin-top:12%;
	margin-bottom: 30px;
}
.lnb_nav > label {
	font-size: 14px;
	color: #767676;
	width:auto;
	height:auto;
	padding:15px 10px;
	cursor:pointer;
}

input[type="radio"]#all_box:checked + label,
input[type="radio"]#my_box:checked + label{
	color:#066ab3;
	}

/* -------------------- */


/*------ event ------*/
.unbox_event {
	width: 100%;
	max-width: 600px;
	margin:0 auto;
	margin-top: 4%;
	margin-bottom:90px;
	max-height: 600px;
}

.event_thumbnail {
	max-width:600px;
	width: 100%;
	height:inherit;
	padding-bottom:72%;
	height:0;
	max-height:422px;
	background-color:#eee;
	position: relative;
	cursor: pointer;
}

.event_thumbnail a img{
	width:100%;
	height:auto;
	display: block;
	max-width: 100%;
	}	


.hover_effect {
	opacity: 1;
}
.hover_effect:hover {
	opacity: 0.7;
	transition-duration: 0.2s;
	cursor: pointer;
}
.more_icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(../img/more_icon.png) no-repeat center center;
}
.more_btn_wrap {
	position: absolute;
	top: 40px;
	right: 0;
	width: 120px;
	height: 80px;
	text-align: center;
	background: rgba(255,255,255,0.95);
	display: none;
	z-index: 5;
}
.more_btn_wrap > li {
	font-size: 14px;
	height: 50%;
	color: #333;
	line-height: 40px;
}
.more_btn_wrap > li:hover {
	background: #fff;
	color: #111;
	cursor: pointer;
}
.more_icon:hover .more_btn_wrap, .more_icon:active .more_btn_wrap {
	display: block;
	transition-duration: 0.3s;
}
.event_details {
	width: 100%;
	height: inherit;
	padding: 15px;
}
/*-------event_details-------*/

.event_title {
	margin: 15px 5% 15px 0;
	width: 70%;
	height: 38px;
	line-height: 38px;
	font-size: 24px;
	font-weight: 500;
	float: left;
	color: #333;
}
.icon_wrap {
	position:relative;
	left:4px;
	min-width: 70px;
	width: 25%;
	height: 38px;
	float: right;
	margin: 15px 0;
}
.event_address {
	clear: both;
	font-size: 15px;
	color: #767676;
}
.event_time_price {
	font-size: 15px;
}
.event_time_price div {
	display: inline-block;
}
.event_time {
	color: #767676;float: left;
}
.event_price {
	color: #066ab3;
	float: right;
}
/*-------icon_wrap-------*/
	
.icon_wrap .event_thumbnail_menu_icon {
	cursor: pointer;
	width: 30px;
	margin-left: 6px;
	height: 38px;
	float: right;
}
.event_thumbnail_menu_icon #bookmark_icon {
	width: inherit;
	height: inherit;
	background-image: url('../img/bookmark.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.event_thumbnail_menu_icon #bookmark_icon:hover {
	background-image: url('../img/bookmark_hover.png');
}
.event_thumbnail_menu_icon #bookmark_icon:active {
	background-image: url('../img/bookmark_active.png');
}
.event_thumbnail_menu_icon #share_icon {
	width: 30px;
	height: 38px;
	background-image: url('../img/share.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.event_thumbnail_menu_icon #share_icon:hover {
	background-image: url('../img/share_hover.png');
}



.sns_icon_wrap > a > #facebook {
	background-image: url('../img/facebook_icon.png');
}
.sns_icon_wrap > a > #instagram {
	background-image: url('../img/instagram_icon.png');
}
.sns_icon_wrap > a > #twitter {
	background-image: url('../img/twitter_icon.png');
}
.sns_icon_wrap > a > #kakaostory {
	background-image: url('../img/kakaostory_icon.png');
}
.sns_icon_wrap > a > #naver {
	background-image: url('../img/naver_icon.png');
}
.sns_icon_wrap > a > #link {
	background-image: url('../img/link_icon.png');
}
/*---- icon hover ---*/
.sns_icon_wrap > a > #facebook:hover {
	background-image: url('../img/facebook_icon_hover.png');
}
.sns_icon_wrap > a > #instagram:hover {
	background-image: url('../img/instagram_icon_hover.png');
}
.sns_icon_wrap > a > #twitter:hover {
	background-image: url('../img/twitter_icon_hover.png');
}
.sns_icon_wrap > a > #kakaostory:hover {
	background-image: url('../img/kakaostory_icon_hover.png');
}
.sns_icon_wrap > a > #naver:hover {
	background-image: url('../img/naver_icon_hover.png');
}
.sns_icon_wrap > a > #link:hover {
	background-image: url('../img/link_icon_hover.png');
}
	
#facebook:hover, #instagram:hover, #twitter:hover, #kakaostory:hover, #naver:hover, #link:hover{
	opacity:0.7;
	transition:all 0.3s;
	}
@media screen and (max-width:400px){

.unbox_event {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  clear: none;
  display: block;
}
.unbox_event:nth-child(2n) {
  margin-left: 0;
  margin-bottom: 60px;
}
.event_details {
  padding: 10px;
}
.event_title {
  margin: 10px 0;
  width: 80%;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  font-weight: 500;
  float: left;
  color: #333;
}
.icon_wrap {
  min-width: 0;
  width: 20%;
  height: 38px;
  float: right;
  margin: 10px 0;
}
}


