


/*------ event user ------*/
.event_user_info{
	width:50px;
	height:auto;
	float:left;
	}
.event_user_info img{
	width:100%;
	height:50px;
	background-color:#eee;
	border:1px solid #eee;
	}
.event_user_info p{
	font-size:13px;
	margin-top:5px;
	color:#545454;
	text-align:center;
	
	}


	
/*------ event ------*/
.unbox_event {
	width: 100%;
	max-width: 650px;
	padding-left:60px;
	margin-bottom:90px;
	max-height: 600px;
}

.event_thumbnail {
	max-width:650px;
	width: 100%;
	height:inherit;
	padding-bottom:72%;
	height:0;
	max-height:422px;
	background-color:#eee;
	position: relative;
	cursor: pointer;
}

.event_thumbnail a img{
	width:100%;
	height:auto;
	display: block;
	max-width: 100%;
	}	


.hover_effect {
	opacity: 1;
}
.hover_effect:hover {
	opacity: 0.7;
	transition-duration: 0.2s;
	cursor: pointer;
}
.more_icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(../img/more_icon.png) no-repeat center center;
}
.more_btn_wrap {
	position: absolute;
	top: 40px;
	right: 0;
	width: 120px;
	height: 80px;
	text-align: center;
	background: rgba(255,255,255,0.95);
	display: none;
	z-index: 5;
}
.more_btn_wrap > li {
	font-size: 14px;
	height: 50%;
	color: #333;
	line-height: 40px;
}
.more_btn_wrap > li:hover {
	background: #fff;
	color: #111;
	cursor: pointer;
}
.more_icon:hover .more_btn_wrap, .more_icon:active .more_btn_wrap {
	display: block;
	transition-duration: 0.3s;
}
.event_details {
	width: 100%;
	height: inherit;
	padding: 15px;
}
/*-------event_details-------*/

.event_title {
	margin: 15px 5% 15px 0;
	width: 70%;
	height: 38px;
	line-height: 38px;
	font-size: 24px;
	font-weight: 500;
	float: left;
	color: #333;
}
.icon_wrap {
	position:relative;
	left:4px;
	width: auto;
	height: 38px;
	float: right;
	margin: 15px 0;
}
.event_address {
	clear: both;
	font-size: 15px;
	color: #767676;
}
.event_time_price {
	font-size: 15px;
}
.event_time_price div {
	display: inline-block;
}
.event_time {
	color: #767676;float: left;
}
.event_price {
	color: #066ab3;
	float: right;
}

/*-------icon_wrap-------*/
	
.icon_wrap .event_thumbnail_menu_icon {
	cursor: pointer;
	width: 30px;
	margin-left: 6px;
	height: 38px;
	float: right;
}
.event_thumbnail_menu_icon #bookmark_icon {
	width: inherit;
	height: inherit;
	background-image: url('../img/bookmark.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.event_thumbnail_menu_icon #bookmark_icon:hover {
	background-image: url('../img/bookmark_hover.png');
}
.event_thumbnail_menu_icon #bookmark_icon:active {
	background-image: url('../img/bookmark_active.png');
}
.event_thumbnail_menu_icon #share_icon {
	width: 30px;
	height: 38px;
	background-image: url('../img/share.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.event_thumbnail_menu_icon #share_icon:hover {
	background-image: url('../img/share_hover.png');
}



.sns_icon_wrap > a > #facebook {
	background-image: url('../img/facebook_icon.png');
}
.sns_icon_wrap > a > #instagram {
	background-image: url('../img/instagram_icon.png');
}
.sns_icon_wrap > a > #twitter {
	background-image: url('../img/twitter_icon.png');
}
.sns_icon_wrap > a > #kakaostory {
	background-image: url('../img/kakaostory_icon.png');
}
.sns_icon_wrap > a > #naver {
	background-image: url('../img/naver_icon.png');
}
.sns_icon_wrap > a > #link {
	background-image: url('../img/link_icon.png');
}
/*---- icon hover ---*/
.sns_icon_wrap > a > #facebook:hover {
	background-image: url('../img/facebook_icon_hover.png');
}
.sns_icon_wrap > a > #instagram:hover {
	background-image: url('../img/instagram_icon_hover.png');
}
.sns_icon_wrap > a > #twitter:hover {
	background-image: url('../img/twitter_icon_hover.png');
}
.sns_icon_wrap > a > #kakaostory:hover {
	background-image: url('../img/kakaostory_icon_hover.png');
}
.sns_icon_wrap > a > #naver:hover {
	background-image: url('../img/naver_icon_hover.png');
}
.sns_icon_wrap > a > #link:hover {
	background-image: url('../img/link_icon_hover.png');
}
	
#facebook:hover, #instagram:hover, #twitter:hover, #kakaostory:hover, #naver:hover, #link:hover{
	opacity:0.7;
	transition:all 0.3s;
	}
/*=====Temporary event=====*/	


.temporary_storage {
	padding-right:10px;
	width: 100%;
	height: 71px;
	margin-bottom:20px;
	cursor: pointer;
}
.temporary_event_detail_image {
	max-width: 100px;
	width:40%;
	height:inherit;
	background-color: #eee;
	border:1px solid #eee;
	float: left;
}

.temporary_event_detail_image img{
	width:100%;
	height:100%;
	}

.temporary_wrapper {
	width: 60%;
	height: 71px;
	padding-left: 10px;
	float: right;
}

.temporary_event_detail_title  {
	font-size: 14px;
	font-weight: bold;
	  height: 20px;
  line-height: 20px;
	color: #333;
	 margin-bottom: 4px;
}
.temporary_event_detail_time  {
	font-size: 13px;
	font-style: normal;
	font-weight: 200;
	color: #767676;
	line-height: 140%;
}


/*-----no result-----*/

#article_no_result {
	width: 65%;
	height: 100%;
	min-height:150px;
	margin-right: 5%;
	margin-top: 70px;
	margin-bottom: 100px;
	float: left;
}
#rightsection_temporary_storage_no_result {
	width: 30%;
	height: 100%;
	min-height:150px;
	margin-top: 70px;
	float: right;
}

.no_result_txt{
	width:100%;
	height:50px;
	text-align:center;
	}	
.no_result_txt p{
	width:inherit;
	height:inherit;
	line-height:50px;
	font-size:22px;
	color:#ccc;
	margin-top:30px;
	}	

   @media screen and (max-width:420px) {
	
   }