html, body {
	width: 100%;
	height: 100%;
}
.container {
	position: relative;
	width: 100%;
	height: auto;
	min-width: 740px;
	padding:0 15px;
	margin: 0 auto;
	
}
.container2 {
	width: 100%;
	max-width: 1000px;
	min-width: 740px;
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	margin: 0 auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.step {
	width: 100%;
	height:15%;
	text-align: center;
	font-size: 13px;
	position: relative;
	padding:7%;
	color: #888;
}
.section_text{
	margin-top:70px;
	}

/*---========step 1======---*/

.step_1_wrapper {
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
	height: auto;
	position: relative;
	margin-bottom: 10px;
}
/*------load image----*/
.event_picture {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom:67%;
	border: 1px solid #eee;
	background-color: #eee;
}
#section_described{
	position:absolute;
	top:45%;
	left:0;
	right:0;
	height:10%;
	width:100%;
	text-align:center;
	font-size:16px;
	letter-spacing:3px;
	line-height:normal;
	}
.load_wrap {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
	border-top:1px solid #ddd;
	background-color:#eee;
}
.load_icon_wrap {
	width: auto;
	height: inherit;
	display: inline-block;
	margin: 5px;
}
.load_icon_wrap p {
	font-size: 1em;
	color: #444;
}
#image_load_wrapper_left:hover, #image_load_wrapper_right:hover {
	opacity: 0.5;
	transition-duration: 0.3s;
}
.image_load {
	width: 60px;
	height: 45px;
	border: none;
	text-align: center;
	cursor: pointer;
}
#pic_icon {
	background: url(../img/create_event/pic_icon.png) no-repeat center center;
	background-size: contain;
}
#video_icon {
	background: url(../img/create_event/video_icon.png) no-repeat center center;
	background-size: contain;
}
#music_icon {
	background: url(../img/create_event/music_icon.png) no-repeat center center;
	background-size: contain;
}
/*------detail input-----*/




.event_page_detail {
	margin-top: 110px;
	max-width: 700px;
	width: 100%;
	margin-left: auto;
	height: 100%;
	margin-right: auto;
}
.event_create_input {
	padding-top: 100px;
	width: 100%;
	margin: 0 auto;
}
.event_input {
	width: 100%;
	background-color: transparent;
	border: none;
	color: #333;
}

input::-moz-placeholder {
 color: #aaa;
}
 textarea:-ms-input-placeholder {
 color: #aaa;
}
input:-ms-input-placeholder {
 color: #aaa;
}

#event_title {
	width: 100%;
	height: 45px;
	font-size: 22px;
	font-weight:bold;
	line-height: 45px;
}
#short_description {
	margin-top: 60px;
	height: auto;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #066ab3;
	color:#333;
}
#long_description {
	clear: both;
	margin-top: 20px;
	margin-bottom: 120px;
	height: 100px;
	font-size: 14px;
	line-height: 24px;
	resize: none;
	overflow: hidden;
}
.section {
	width: 100%;
	height: 16px;
	padding-left: 3px;
	font-size: 14px;
	line-height: 16px;
	color: #aaa;
}
.event_creator {
	max-width: 720px;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#event_creator_margin {
	margin-top: 15px;
	height: 80px;
	margin-bottom: 60px;
}
.event_creator > .profile_wrap {
	text-align: center;
	margin-right: 5%;
	height: inherit;
	float: left;
}
.event_creator > .profile_wrap #profile_pic {
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
}
.event_creator > .profile_wrap #profile_name {
	text-align: center;
	color: #545454;
	width: 100%;
	font-size: 13px;
	padding-left: 2%;
	height: 30px;
	line-height: 30px;
}
.event_creator #description_wrap {
	position: relative;
	width: 85%;
	height: inherit;
	color: #545454;
	float: right;
	font-size: 15px;
}
.event_creator #description {
	color: #545454;
	line-height: 160%;
	height: 50px;
	width: 80%;
	font-size: 14px;
	border: none;
	resize: none;
}
.event_creator #webpage {
	  color: #5f8774;
	width: 80%;
	height: 30px;
	font-size: 15px;
}
.event_creator #webpage:hover {
	text-decoration: underline;
}
#edit_btn {
	position: absolute;
	right: 0;
	top: 30px;
	width: 15%;
	margin-left: 5%;
	height: 20px;
	text-align: right;
	color: #71a5cc;
	border: none;
	background-color: transparent;
	font-size: 15px;
}
#edit_btn:hover {
	text-decoration: underline;
}
#event_detail_hr {
	position: relative;
	width: 100%;
	display: block;
	height: 1px;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	margin: 30px 0;
	margin-top: 50px;
	padding: 0;
}
.event_detail_hr_2 {
	position: relative;
	display: block;
	height: 1px;
	width: 100%;
	max-width: 720px;
	border: 0;
	margin: 0 auto;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 0;
}
/*------map-----*/

#map-canvas {
	margin: 0;
	padding: 0;
	height: 400px;
	width: 100%;
	clear: both;
	border: 1px solid rgba(0,0,0,0.05);
	background-color: #eee;
}
.map_search {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	line-height: 40px;
	font-size: 1em;
	color: #545454;
}
#search_input {
	padding-left: 10px;
	height: 40px;
	width: 87%;
	float: left;
	font-size: 15px;
	background-color: transparent;
	border: 1px solid #eee;
}
#search_btn {
	float: right;
	height: 40px;
	width: 13%;
	line-height: 40px;
}
#search_btn:hover {
	cursor: pointer;
}
#search_btn:active {
	background-color: rgba(250,250,250,0.2);
	border: 1px solid #ddd;
}
#map_description {
	margin-bottom: 60px;
	resize: none;
	border: 1px solid #eee;
	padding: 10px;
	height: 80px;
	width: 100%;
	line-height: 170%;
	font-size: 14px;
}


/*------date_time-----*/


.section_3 {
	width: 100%;
	height: 20px;
	color: #545454;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.date_select_wrap {
	width: 100%;
	height: 36px;
	margin-bottom: 10px;
}
.date_select, .time_select {
	max-width: 414px;
	width: 74.7%;
	height: 36px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	border: none;
	outline: none;
	border: 1px solid #e5e5e5;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	float: left;
	cursor: pointer;
	padding-left: 10px;
	text-align: left;
}
.date_select:hover, .time_select:hover {
	border: 1px solid #71a5cc;
	background-color: transparent;
}
.date_select:focus, .time_select:focus {
	background-color: white;
	border: 1px solid #066ab3;
}
.time_input {
	max-width: 100px;
	width: 30%;
	height: 34px;
	padding-left: 10px;
	font-weight: 500;
	float: left;
	margin: 0 1%;
}
.time_select span {
	float: left;
	height: 34px;
	line-height: 34px;
	margin: 0 10px;
}
.time_select > .price_input {
	width: 20%;
	text-align: right;
	height: 34px;
	font-weight: 500;
	float: right;
}
.price_input_label {
	float: right;
	height: 34px;
	line-height: 34px;
	margin: 0 10px;
}
.input_plus {
	height: 36px;
	text-align: center;
	max-width: 130px;
	width: 23.4%;
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
/*---input----*/

.input_box {
	border: 1px solid #ddd;
	height: 36px;
	margin-right: 1.8037%;
	margin-bottom: 10px;
	max-width: 130px;
	width: 23.4%;
	text-align: center;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	background-color: transparent;
	font-size: 14px;
}
label {
	display: inline-block;
	font-weight: normal;
	margin-right: 10px;
}
.money_input_label {
	position: relative;
	left: -40px;
	height: 36px;
	line-height: 36px;
	margin: 0 10px;
}	

/*---------checkbox---------*/

input[type="radio"] {
	display: none;
}
.input_box2 {
	display: inline-block;
	float: left;
	border: 1px solid #ddd;
	height: 36px;
	margin-right: 1.8037%;
	margin-bottom: 10px;
	max-width: 130px;
	width: 23.4%;
	text-align: center;
	background-color: transparent;
	font-size: 14px;
	line-height: 33px;
}
.cbox:hover {
	background-color: #fafafa;
	transition-duration: 0.3s;
	cursor: pointer;
}
input[type="radio"]#free:checked + .input_box2, input[type="radio"]#paid:checked + .input_box2, input[type="radio"]#event_public:checked + .input_box2, input[type="radio"]#event_private:checked + .input_box2, input[type="radio"]#list_public:checked + .input_box2, input[type="radio"]#list_private:checked + .input_box2 {
	border: 1px solid rgba(0,0,0,0);
	color: #fff;
	background-color: #066ab3;
	transition-duration: 0.3s;
}
.line {
	position: relative;
	height: 1px;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #eee;
	border: none;
}
.label_wrapper {
	width: 20%;
	margin-right: 3%;
	min-width: 140px;
	height: 100%;
	float: left;
	line-height: 38px;
	color: #333;
	font-size: 1em;
	text-align: left;
}
.label1 {
	font-size: 14px;
	color: #545454;
	height: 36px;
	margin-bottom: 10px;
}
.input_wrapper {
	width: 77%;
	height: 100%;
	float: right;
	color: #333;
	position: relative;
	margin-bottom: 40px;
}
#money {
	padding-left: 10px;
	text-align: left;
	max-width: 134px;
	width: 24.17%;
}
#account_number {
	max-width: 274px;
	width: 49.4227%;
	text-align: left;
	padding: 0 10px;
}
#name {
	max-width: 130px;
	width: 23.4%;
	margin-right: 0;
	float: right;
}
#bank_option {
	padding: 0 10px;
	background-color: #fff;
	background: url(../img/create_event/down.png) no-repeat right center;
}
.policy {
	border: 1px solid #ddd;
	background-color: transparent;
	height: 128px;
	width: 100%;
	padding: 10px;
	float: right;
	margin-bottom: 10px;
}
.policy:hover{
	border: 1px solid #71a5cc;
	background-color: transparent;
}
input[type=checkbox] {
	display: none;
}
#chk_button{
	display:none;
	}
#chk_btn {
	cursor:pointer;
	margin-right: 5px;
	float: left;
	width: 22px;
	height: 22px;
	background-color: transparent;
	background:url(../img/checkbtn_before.png) no-repeat center center;
	border: 1px solid #ddd;
}
#chk_btn:hover{
	border: 1px solid  #71a5cc;
	}
input[type=checkbox]#chk_button:checked + #chk_btn{
	border: 1px solid #066ab3;
	background:url(../img/checkbtn.png) no-repeat center center;
	background-color:#066ab3;
	}
#chk_btn_label {
	width: auto;
	height: 22px;
	text-align: left;
	font-size: 13px;
	line-height: 22px;
	color: #666;
}
#btn_wrap {
	clear: both;
	width: 100%;
	height: 180px;
	text-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#btn_wrap > a > .btn1{
	width:100px;
	height:36px;
	line-height:36px;
	}
	
/*---  input fucus---*/

.input_box:hover, .input_box2:hover, #search_input:hover ,#map_description:hover{
	cursor:pointer;
	border: 1px solid #71a5cc;
	background-color: transparent;
}
.input_box:focus, .input_box2:focus, #search_input:focus ,#map_description:focus {
	background-color: white;
	border: 1px solid #066ab3;
}
	
	
	
.clear{
	clear:both;
	width:100%;
	height:300px;
	}	
	
	
/*---========step 2======---*/

.step_2_wrapper {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	min-height:400px;
	height: 55%;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.wrap {
	position:relative;
	width: inherit;
	height: 420px;
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
}
#from_wrapper {
	width: 40%;
	height: 50%;
}
.from_input {
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
	font-size: 14px;
	width: 100%;
	background-color:#fefefe;
}
#from_name {
	height: inherit;
	line-height: inherit;
	padding-left: 10px;
	font-size: 14px;
	width: auto;
	background-color: transparent;
}
.section_1 {
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	padding-left:8px;
	margin-top: 10px;
	margin-bottom: 16px;
	color: #333;
}
#to_wrapper {
	position:absolute;
	right:20px;
	bottom:20px;
	height:auto;
	width: 50%;
	float: right;
}
.to_input {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 14px;
	width: 100%;
	color: #666;
	background-color: #fefefe;
}
.plus_friend, .plus_friend2 {
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 8px;
	font-size: 1em;
	width: 26px;
	border: none;
	border-radius: 50%;
	background: url(../img/create_event/plus.png) no-repeat center center;
	background-color: transparent;
	float: right;
	color: #666;
}
.plus_friend:hover {
	background: url(../img/create_event/plus_hover.png) no-repeat center center;
	cursor: pointer;
}
.category {
	position: relative;
	background-color: #fff;
	background: url(../img/create_event/down.png) no-repeat right center;
	height: 34px;
	line-height: 34px;
	margin: 3px;
	font-size: 0.95em;
	width: 70%;
	float: right;
	border: 1px solid #eee;
	color: #666;
}
.from_hashtag {
	height: 34px;
	line-height: 34px;
	margin: 3px;
	padding-left: 5px;
	font-size: 0.95em;
	width: 70%;
	float: right;
	border: 1px solid #eee;
	color: #666;
}
.category:focus, .from_hashtag:focus {
	background-color: white;
	border: 1px solid #71a5cc;
}
#next_btn_wrap {
	width: 100%;
	text-align: center;
}
#next_btn_wrap > a > .btn1{
	width: 100px;
	height: 36px;
	line-height: 36px;
	}	
	
	
	
	
	
/*--------modal popup reaffirm------*/
.modal-content4 {
	height: auto;
}
.reaffirm_wrap {
  position: relative;
  width: inherit;
  height: 100%;
  padding:0;
  margin: 0 auto;
  clear: both;
  display: block;
  background-color: white;
}
.reaffirm-footer {
	clear: both;
	padding: 15px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.reaffirm-footer #ok_btn {
	display: block;
	width: 100px;
	height: 44px;
	text-align: center;
	color: #545454;
	font-size: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0;
	cursor: pointer;
	margin: 0 auto;
}
.reaffirm-footer #ok_btn:hover {
	background: #fff;
	border: 1px solid orange;
	color: #333;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
}
#reaffirm_img{
	width: 100%;
	  height: 0;
  padding-bottom: 67%;
}
#reaffirm_img img{
	width:100%;
	height:auto;
	}
#step_3_list_left_wrapper {
	width: 25%;
	margin: 5%;
	padding-left: 5%;
	text-align: left;
	font-size: 1em;
	color: #333;
	float: left;
}
#step_3_list_right_wrapper {
	width: 60%;
	margin: 5% 5% 5% 0;
	text-align: left;
	font-size: 1em;
	color: #333;
	float: right;
}
.list_left {
	width: 100%;
	height: 34px;
	line-height: 34px;
}
.list_right {
	height: 34px;
	line-height: 34px;
	margin-right: 8px;
}
#reaffirm_text {
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 1em;
	color: #333;
}


   @media screen and (max-width:420px) {

.container, .container2 {
	min-width: 100px;
	padding:0;
}
   }