.banner_wrap{
	width:100%;
	margin:0 auto;
	max-width:970px;
	
	}
.best_event {
	margin:0 auto;
	margin-top:70px;
	width: 100%;
  height: 0;
  padding-bottom:62%;
	overflow: hidden;
	margin-bottom: 2%;
}
.best_event img {
	width:100%;
	height:auto;
	cursor: pointer;
}
/*----- filter ------*/
.fixed {
	box-sizing:border-box;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	background-color:#fefefe;
	/*border-bottom: 1px solid rgba(230,230,230,0.55);*/
	min-height: 1px;
	height: 50px;
	z-index: 1;
}
.filter_wrap {
	width: 100%;
	  padding: 6px 0;
  height: 50px;
	background-color: transparent;
	border: 1px solid rgba(230,230,230,0);
}
.filter_button {
	cursor: pointer;
	width: 90px;
	height: 36px;
	line-height: 34px;
	color: #333;
	background-color: rgba(250,250,250,0.3);
	border: 1px solid #eee;
	float: right;
}
.filter_button:hover {
	border: 1px solid;
	border-color: #ddd;
}
.view_button_wrap {
	/*background-color: rgba(250,250,250,0.3);
	border: 1px solid #eee;*/
	float: left;
	  height: 38px;
}
.view_button_wrap #view1 {
	background: url(../img/view1.png) no-repeat center center;
}
.view_button_wrap #view2 {
	background: url(../img/view2.png) no-repeat center center;
}
.view_button_wrap > input[type=radio] {
	display: none;
}
.view_button {
	display: inline-block;
	border: 1px solid rgba(240,240,240,0);
	height: 36px;
	width: 36px;
	text-align: center;
	background-color: transparent;
	line-height: 38px;
	-webkit-filter: grayscale(100%);
	filter: gray;
	opacity: 0.3;
}
.view_button:hover {
	-webkit-filter: grayscale(40%);
	filter: none;
	transition-duration: 0.6s;
	cursor: pointer;
	opacity: 0.7;
}
input[type="radio"]#viewmode1:checked + .view_button {
	-webkit-filter: grayscale(0%);
	filter: none;
	transition-duration: 0.6s;
	cursor: pointer;
	opacity: 1;
}
input[type="radio"]#viewmode2:checked + .view_button {
	-webkit-filter: grayscale(0%);
	filter: none;
	transition-duration: 0.6s;
	cursor: pointer;
	opacity: 1;
}
/*----- filter-table ------*/	
	
.filter_selection {
	width: 100%;
	height:auto;
	display: none;
	padding: 0;
	background-color: transparent;
	border-bottom: 1px solid rgba(240,240,240,0.4);
	clear: both;
	margin-top: auto;
	margin-bottom:10px;
}
.filter_open_wrap {
	clear: both;
	width: 100%;
	background-color: rgba(250,250,250,0.95);
	border: 1px solid #eee;
	height: auto;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
}
td, th {
	color: #767676;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}
table th {
	text-align: left;
	padding-left: 18%;
	border-bottom: 1px solid #eee;
}
table.group-a, table.group-b, table.group-c, table.group-d {
	position: relative;
	margin: 3%;
	width: 19%;
	float: left;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.check_button {
	width: 100%;
	padding: 0 5%;
	margin: 0;
	background-color: transparent;
}
input[type="checkbox"] {
	display: none;
}
.all_check_button {
	padding-left: 18%;
	text-align: left;
}
/*-----all check-----*/
input[type="checkbox"]#all_check1:checked + .check_button, input[type="checkbox"]#all_check2:checked + .check_button, input[type="checkbox"]#all_check3:checked + .check_button, input[type="checkbox"]#all_check4:checked + .check_button {
	text-align: left;
	padding-left: 18%;
	transition: all 0.4s;
	color: #427bc1;
	font-weight: bold;
}
/*-----like check-----*/	
input[type="checkbox"]#like1:checked + .check_button, input[type="checkbox"]#like2:checked + .check_button, input[type="checkbox"]#like3:checked + .check_button, input[type="checkbox"]#like4:checked + .check_button, input[type="checkbox"]#like5:checked + .check_button, input[type="checkbox"]#like6:checked + .check_button {
	transition: all 0.4s;
	color: #427bc1;
	font-weight: bold;
}
/*-----location check-----*/	
input[type="checkbox"]#local1:checked + .check_button, input[type="checkbox"]#local2:checked + .check_button, input[type="checkbox"]#local3:checked + .check_button, input[type="checkbox"]#local4:checked + .check_button, input[type="checkbox"]#local5:checked + .check_button, input[type="checkbox"]#local6:checked + .check_button {
	transition: all 0.4s;
	color: #427bc1;
	font-weight: bold;
}
/*-----time check-----*/	
input[type="checkbox"]#time1:checked + .check_button, input[type="checkbox"]#time2:checked + .check_button {;
	transition: all 0.4s;
	color: #427bc1;
	font-weight: bold;
}
/*-----price check-----*/	
input[type="checkbox"]#price1:checked + .check_button, input[type="checkbox"]#price2:checked + .check_button {
	transition: all 0.4s;
	color: #427bc1;
	font-weight: bold;
}
label {
	cursor: pointer;
}
/*------ event no result ------*/

.no_result {
	width: 100%;
	  max-height: 600px;
  height: 100%;
  background-color:rgba(0,0,0,0.4);
	overflow: hidden;
	margin-bottom: 40px;
}
.no_result img {
	width:100%;
	height:auto;
	cursor: pointer;
}



/*------ event user ------*/
.event_user_info{
	width:50px;
	height:auto;
	position:absolute;
	left:-60px;
	}
.event_user_info img{
	width:100%;
	height:50px;
	background-color:#eee;
	border:1px solid #eee;
	}
.event_user_info p{
	font-size:13px;
	margin-top:5px;
	color:#545454;
	text-align:center;
	
	}

/*------ event ------*/
#event_container{
	margin-top:4%;
	}
.unbox_event {
	position:relative;
	width: 48%;
	max-width: 500px;
	max-height: 500px;
	margin:0 auto;
	  margin-bottom: 90px;
	clear:none;
	display:block;
}
.view1 {
	float: none;
	margin:0 auto;
  margin-bottom: 90px;
	clear:both;
}
.view2{
	float:left;
	clear:none;
	  margin-bottom: 90px;
	}
	
.unbox_event:nth-child(2n) {
	margin-left: 4%;
	  margin-bottom: 90px;
}
.event_thumbnail {
	width: 100%;
	height: inherit;
	height: 0;
	overflow: hidden;
	padding-bottom:72%;
	background-color:#eee;
	position: relative;
	cursor: pointer;
}

.event_thumbnail a img{
	width:100%;
	height:inherit;
	display: block;
	max-width: 100%;
	height:auto;
	}	





.more_icon {
	position: absolute;
	right:5px;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(../img/more_icon.png) no-repeat center center;
}
.more_btn_wrap {
	position: absolute;
	top: 40px;
	right: 0;
	width: 120px;
	height: 80px;
	text-align: center;
	background: rgba(255,255,255,0.95);
	display: none;
	z-index: 5;
}
.more_btn_wrap > li {
	font-size: 14px;
	height: 50%;
	color: #333;
	line-height: 40px;
}
.more_btn_wrap > li:hover {
	background: #fff;
	color: #111;
	cursor: pointer;
}
.more_icon:hover .more_btn_wrap, .more_icon:active .more_btn_wrap {
	display: block;
	transition-duration: 0.3s;
}
.event_details {
	width: 100%;
	height: inherit;
	padding: 15px;
}
/*-------event_details-------*/

.event_title {
	margin: 15px 0;
	width: 80%;
	height: 38px;
	line-height: 38px;
	font-size: 20px;
	font-weight: 500;
	float: left;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.icon_wrap {
	min-width: 70px;
	position:relative;
	left:5px;
	width: 20%;
	height: 38px;
	float: right;
	margin: 15px 0;
}
.event_address {
	clear: both;
	font-size: 15px;
	color: #767676;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.event_time_price {
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
}
.event_time_price div {
	display: inline-block;
}
.event_time {
	color: #767676;
	width:80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.event_price {
	color:#066ab3;
	width:20%;
	text-align:right;
	float: right;
}
/*-------icon_wrap-------*/
	
.icon_wrap .event_thumbnail_menu_icon {
	cursor: pointer;
	width:30px;
	margin-left: 6px;
	height: 38px;
	float: right;
}
.event_thumbnail_menu_icon #bookmark_icon {
	width: inherit;
	height: inherit;
	background-image: url('../img/bookmark.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.event_thumbnail_menu_icon #bookmark_icon:hover {
	background-image: url('../img/bookmark_hover.png');
}
.event_thumbnail_menu_icon #bookmark_icon:active {
	background-image: url('../img/bookmark_active.png');
}
.event_thumbnail_menu_icon #share_icon {
	width:30px;
	height: 38px;
	background-image: url('../img/share.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.event_thumbnail_menu_icon #share_icon:hover {
	background-image: url('../img/share_hover.png');
}




.sns_icon_wrap > a > #facebook {
	background-image: url('../img/facebook_icon.png');
}
.sns_icon_wrap > a > #instagram {
	background-image: url('../img/instagram_icon.png');
}
.sns_icon_wrap > a > #twitter {
	background-image: url('../img/twitter_icon.png');
}
.sns_icon_wrap > a > #kakaostory {
	background-image: url('../img/kakaostory_icon.png');
}
.sns_icon_wrap > a > #naver {
	background-image: url('../img/naver_icon.png');
}
.sns_icon_wrap > a > #link {
	background-image: url('../img/link_icon.png');
}
/*---- icon hover ---*/
.sns_icon_wrap > a > #facebook:hover {
	background-image: url('../img/facebook_icon_hover.png');
}
.sns_icon_wrap > a > #instagram:hover {
	background-image: url('../img/instagram_icon_hover.png');
}
.sns_icon_wrap > a > #twitter:hover {
	background-image: url('../img/twitter_icon_hover.png');
}
.sns_icon_wrap > a > #kakaostory:hover {
	background-image: url('../img/kakaostory_icon_hover.png');
}
.sns_icon_wrap > a > #naver:hover {
	background-image: url('../img/naver_icon_hover.png');
}
.sns_icon_wrap > a > #link:hover {
	background-image: url('../img/link_icon_hover.png');
}
	
#facebook:hover, #instagram:hover, #twitter:hover, #kakaostory:hover, #naver:hover, #link:hover{
	opacity:0.7;
	transition:all 0.3s;
	}

 @media screen and (min-width:960px) {
}

@media screen and (min-width:768px) and (max-width:959px){
.event_title {
  margin: 15px 2% 15px 0;
  width: 70%;
  height: 38px;
  line-height: 38px;
  font-size: 24px;
  font-weight: 500;
  float: left;
  color: #333;
}
.icon_wrap {
  min-width: 80px;
  width: 28%;
  height: 38px;
  float: right;
  margin: 15px 0;
}
}

@media screen and (max-width:767px){
.event_title {
  margin: 15px 2% 15px 0;
  width: 70%;
  height: 38px;
  line-height: 38px;
  font-size: 24px;
  font-weight: 500;
  float: left;
  color: #333;
}
.icon_wrap {
  min-width: 80px;
  width: 28%;
  height: 38px;
  float: right;
  margin: 15px 0;
}	
}
@media screen and (max-width:400px){
.best_event {
  margin: 0 auto;
  margin-top: 0;
  width: 100%;
  height: 0;
  padding-bottom: 62%;
  overflow: hidden;
  margin-bottom: 4%;
}
.fixed {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  top:auto;
}

.filter_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  padding:0;
  background-color: rgba(230,230,230,0.92);
  border:none;
  border-top: 1px solid rgba(230,230,230,0.7);
  z-index: 1;
}
.filter_button {
  cursor: pointer;
  width: 100%;
  height:50px;
  line-height:48px;
  color: #333;
  background-color:transparent;
  border: none;
  float: right;
}

.filter_selection {
  position: fixed;
  bottom: 50px;
  z-index: 10;
}

.filter_open_wrap {
 position: fixed;
  bottom: 50px;
	}


table.group-a, table.group-b, table.group-c, table.group-d {
  position: relative;
  margin: 10px;
  width: 40%;
  float: left;
}
.view_button_wrap {
	display:none;
}


.unbox_event {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  clear: none;
  display: block;
}
.unbox_event:nth-child(2n) {
  margin-left: 0;
  margin-bottom: 60px;
}
.event_details {
  padding: 10px;
}
.event_title {
  margin: 10px 0;
  width: 80%;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  font-weight: 500;
  float: left;
  color: #333;
}
.icon_wrap {
  min-width: 0;
  width: 20%;
  height: 38px;
  float: right;
  margin: 10px 0;
}
}


