
body {
	overflow: hidden;
	background-color: #f9f9f9;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	//background: url(../img/intro/bg_img_.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1;
}
.container {
	position: relative;
	max-width:100%;
	width: 100%;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	display: block;
	z-index: 5;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*--------login_description------*/

.section_wrap {
	max-width: 1080px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin: 0 auto;
	text-align: center;
	
}
.section {
	overflow: hidden;
}
.section_wrap > p {
	font-size: 3em;
	padding-top: 15%;
}
.description > p {
	font-size: 1.5em;
	padding-top: 5%;
}
.login_wrap {
	width:270px;
	background-color: transparent;
	margin: 0 auto;
}
h1 {
	padding:10px 15px;
	font-weight: 900;
	letter-spacing: 10px;
	text-align: center;
	font-size: 26px;
	color: #767676;
	margin-bottom: 5%;
}
.login_wrap input[type=submit] {
	width: 100%;
	display: block;
	position: relative;
}
#password1 {
	border-radius: 0;
}
.login_wrap input[type=email], input[type=text], input[type=password] {
	height: 40px;
	font-size: 15px;
	width: 100%;
	margin-bottom: 0;
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 0 8px;
}
.login, .signup {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	width: 100%;
	height: 40px;
}
.login_submit {
	border: 0px;
	color: #fff;
	background-color: #066ab3;
	opacity:0.8;
	
}
.login_submit:hover {
	opacity:1;
	cursor: pointer;
	transition:all 0.2s;
}
.signup_error{
	width:100%;
	height: 40px;
	line-height: 40px;
  text-align: center;
	font-size: 14px;
	margin-bottom: 0;
	-webkit-appearance: none;
	color:#fff;
	background:rgba(0, 0, 0,0.5);
	border: 0;
	margin-top:15px;
	padding: 0 8px;
	}
	
form{
	position:relative;
	}
/*----signup_email_input_description-----*/

#email_description {
	display: none;
	text-align: center;
	position:absolute;
	top: 0;
	left: 284px;
	width: 180px;
	height: 80px;
	background-color: #fff;
	/*border-radius: 3px;*/
	z-index: 100;
}
#description {
	text-align: left;
	font-size: 14px;
	color: #767676;
	padding: 10px;
	line-height: 20px;
}
#triangle {
	position: absolute;
	top: 10px;
	left: -12px;
	background-color: rgba(210,210,210,0.0);
	width : 0px;
	height: 0PX;
	border-left: 6px solid transparent;
	border-right: 6px solid white;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
/*---------------------*/

#facebook_wrap {
	position: relative;
	height: 40px;
	width: 100%;
	margin-top: 8px;
	border-radius: 3px;
}
#facebook_icon {
	position: absolute;
	top: 10px;
	left: 10px;
}
.facebook_login_submit {
	  width: 100%;
	font-size: 15px;
	font-weight: 500;
	height:inherit;
	border: 0px;
	color: #fff;
	opacity:0.8;
	background-color: #3c5a98;
}
.facebook_login_submit:hover {
	opacity:1;
	cursor: pointer;
	transition:all 0.2s;
	background-color: #3c5a98;
	
}
/*-------checkbox-----------*/
input[type=checkbox] {
	display: none;
}
#chk_btn {
	cursor:pointer;
	margin-right: 5px;
	float: left;
	width: 22px;
	height: 22px;
	background-color: transparent;
	background:url(../img/checkbtn_before.png) no-repeat center center;
	border: 1px solid #ccc;
}
#chk_btn:hover{
	opacity:0.7;
	}
input[type=checkbox]#chk_button:checked + #chk_btn{
	border: 1px solid #066ab3;
	background:url(../img/checkbtn.png) no-repeat center center;
	background-color:#066ab3;
	}
#chk_btn_label {
	width: auto;
	height: 22px;
	text-align: left;
	font-size: 13px;
	margin-left:5px;
	color: #767676;
}	
#chk_box_wrap {
	line-height: 1.5;
	margin-top: 18px;
	margin-bottom: 18px;
}
#chk_box_wrap a:hover {
	text-decoration: underline;
}
#chk_box {
	margin-right: 6px;
	width: 14px;
	height: 14px;
	float: left;
}
.chk_box_label {
	font-size: 14px;
}
.login_wrap a {
	text-decoration: none;
	color: #767676;
	text-align: center;
	display: inline-block;
	transition: opacity ease 0.4s;
}
.login_wrap a:hover {
	color:#333;
}
.login_help {
	width: 100%;
	color: #767676;
	text-align: center;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom:30px;
}
/*-----------forgot_passward---------*/
#email1{
	background-color:#eee;
	}
.forgot_password {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 500;
	height: 44px;
	border: 0px;
	color: #fff;
	background-color:  #066ab3;
	opacity:0.8;
}
.forgot_password:hover {
	cursor: pointer;
	opacity:1;
	transition-duration: 0.3s;
	background-color:  #066ab3;
}
/*==============join=================*/

.container_join {
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;
}
/*-----------join_header---------------*/


#nav_wrap {
	position: fixed;
	width: 100%;
	height: 65px;
	background-color: rgba(255,255,255,0.95);
	border-bottom: 1px solid rgba(0,0,0,0.15);
	z-index: 9999;
}
#menu {
	max-width: 1000px;
	width: 80%;
	height: 65px;
	background-color: rgba(255,255,255,0);
	margin: 0 auto;
}
.goto_main {
	max-width: 300px;
	min-width: 150px;
	width: 10%;
	height: 65px;
	line-height: 65px;
	text-align: center;
	background-color: rgba(255,255,255,0);
	border-bottom: 1px solid rgba(0,0,0,0);
	float: left;
}
#menu > li {
	display: inline;
	height: 65px;
	line-height: 65px;
	margin: 0;
	padding: 0;
}
#menu > li > a {
	color: #767676;
	height: 65px;
	padding: 24px 15px;
	line-height: 65px;
	border-bottom: 1px solid rgba(0,0,0,0);
}
#menu > li > a:hover {
	background-color: rgba(0,0,0,0.08);
	color: #555;
}
#menu > .active {
	background-color: transparent;
	color: #222;
	padding-bottom: 22px;
	border-bottom: 3px solid #090;
}
#skip_btn {
	max-width: 100px;
	min-width: 60px;
	width: 10%;
	height: 65px;
	background-color: transparent;
	border: none;
	color: #767676;
	cursor: pointer;
	float: right;
}
/*-----------join_verify---------*/

.verify_box {
	position: relative;
	top: 28%;
	max-width: 380px;
	width: 100%;
	height: 200px;
	border-radius: 4px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.0);
}
.verify_wrap {
	max-width: 380px;
	width: 100%;
	height: 44px;
	position: relative;
	top: 50px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#verify_text {
	width: 100%;
	font-size: 20px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.verify_select {
	width: 25%;
	border-radius: 3px 0 0 3px;
	height: 44px;
	border: none;
	background: white;
	float: left;
}
.verify_input {
	padding-left: 3%;
	width: 46.7%;
	height: 44px;
	border: none;
	border-left: 0.1em solid #eee;
	background: white;
	overflow: hidden;
}
.verify_input2 {
	padding-left: 3%;
	width: 72%;
	height: 44px;
	border: none;
	background: white;
	border-radius: 3px 0 0 3px;
}
.verify_input_button {
	float: right;
	height: 44px;
	width: 25%;
	border: none;
	background: #ddd;
	color: #fff;
	border-radius: 0 3px 3px 0;
	font-size: 15px;
	font-weight: 500;
}
.verify_input_button:hover {
	cursor: pointer;
	background: rgba(200,200,200,0.9);
	transition-duration: 0.3s;
}
.verify_input_button:active {
	background: rgba(150,150,150,0.8);
	transition-duration: 0.3s;
	color: white;
}
/*-----------verify-description---------*/
#ve_description {
	position: relative;
	top: 30%;
	max-width: 380px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	color: #eee;
	height: 150px;
	border-top: 1px solid white;
	background-color: transparent;
}
h2 {
	margin-top: 16px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}
.ve_text {
	height: 50px;
	font-size: 14px;
	line-height: 150%;
	margin-top: 10px;
}
/*-----------join_profile---------*/

.join_box {
	position: relative;
	top: 20%;
	margin: 0 auto;
	max-width: 460px;
	width: 100%;
	height: 460px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0);
}
#join_container {
	position: relative;
	top: 20px;
	margin: 0 auto;
	max-width: 440px;
	background-color: #eee;
	width: 100%;
	height: 455px;
	border-radius: 5px;
	margin: 0 auto;
}
.join_header {
	position: absolute;
	top: 13%;
	width: 100%;
	font-size: 20px;
	height: 24px;
	line-height: 24px;
 //padding-bottom: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
/*-------------------*/

.join_img_wrap {
	width: 100%;
	height: 100px;
	background-color: #eee;
	border-radius: 5px;
	display: block;
}
.upload_img {
	position: relative;
	top: 10px;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background: url(../photoicon.png) no-repeat center center;
	background-color: #fff;
	border-radius: 50%;
	color: #333;
}
.upload_img:hover {
	cursor: pointer;
	opacity: 0.7;
	transition-duration: 0.3s;
}
/*-------------------*/
.join_txt {
	border: none;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	width: 98%;
	height: 44px;
	color: #222;
	padding-left: 2%;
	line-height: 44px;
}
.join_input {
	background-color: #fff;
	padding-left: 10px;
	border: none;
	color: #000;
	height: 44px;
	border-bottom: 1px solid #eee;
	line-height: 44px;
	font-size: 12pt;
	max-width: 320px;
	width: 100%;
	float: right;
}
input:hover, #email:hover {
	background-color: #f1f1f1;
	outline: none;
}
input[type=radio] {
	display: none;
}
.sex_cbox {
	max-width: 165px;
	width: 100%;
	height: 44px;
	font-size: 15px;
	line-height: 44px;
	color: #333;
	border: none;
	float: right;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.sex_cbox:hover {
	background-color: #f1f1f1;
	transition-duration: 0.3s;
}
input[type="radio"]#sex_cbox_men:checked + .sex_cbox {
	background-color: #98c7ed;
	transition-duration: 0.3s;
}
input[type="radio"]#sex_cbox_women:checked + .sex_cbox {
	background-color: #ea9898;
	transition-duration: 0.3s;
}
/*-----
#date_wrapper {
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	max-width: 290px;
	width:100%;
	float: right;
}
.select_year {
	color: #333;
	background-color: rgba(0,0,0,0);
	border: none;
	height: 44px;
	line-height: 44px;
	width:32%;
}
.select_month {
	color: #333;
	background-color: rgba(0,0,0,0);
	border: none;
	height: 44px;
	line-height: 44px;
	width:32%;
}
.select_day {
	color: #333;
	background-color: rgba(0,0,0,0);
	border: none;
	height: 44px;
	line-height: 44px;
	width:32%;
}
.select_year:hover, .select_month:hover, .select_day:hover {
	background-color:#f1f1f1;
	transition-duration: 0.3s;
	color: #000;
	outline: none;
}
----*/


/*-------------------*/

.join_txt_wrap {
	position: relative;
	clear: both;
	width: 100%;
	height: 150px;
	margin-top: 5px;
}
.join_txt2 {
	max-width: 420px;
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #fff;
	border: 0;
	margin: 0;
}
#textarea {
	resize: none;
 //border-radius:3px 3px 0 0;
	height: 88px;
	border: 0;
	line-height: 150%;
}
#homepage {
	height: 24px;
	line-height: 44px;
	position: relative;
	top: -5px;
	border: 0;
	border-top: 1px solid #eee;
 //border-radius: 0 0 3px 3px;
}
#homepage:focus {
	background: #fff;
	transition-duration: 0.3s;
}
#textarea:hover {
	background: #f1f1f1;
}
#textarea:focus {
	background: #fff;
	transition-duration: 0.3s;
}
/*-------------------*/
#btn_wrap {
	margin-top: 5px;
	width: 100%;
	height: 56px;
	background-color: #eee;
}
#join_btn {
	float: right;
	width: 100px;
	height: 44px;
	background-color: #fff;
	border-radius: 3px;
	color: gray;
	text-align: center;
	line-height: 44px;
	margin: 0 auto;
	margin-top: 5px;
	margin-right: 10px;
	border: 0;
}
#join_btn:hover {
	cursor: pointer;
	background-color: rgba(80,120,80,0.8);
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}
/*-----------join_findfriends---------*/

#find_wrap {
	position: relative;
	top: 15%;
	width: 600px;
	text-align: center;
	height: 100%;
	margin: 0 auto;
	padding: 0;/*border:1px solid red;*/
}
nav {
	width: 100%;
	/*border:1px solid red;*/
	text-align: center;
	height: 45px;
	margin-top: 50px;
	margin-bottom: 20px;
}
#nav_menu {
	width: 600px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border-collapse: collapse;
	border-bottom: 1px solid #dbdbdb;
	/*border:1px solid red;*/
	display: inline-block;
	color: #939393;
	table-layout: fixed;
	cursor: pointer;
}
.nav {
	width: 200px;
}
.nav:hover {
	color: #000;
	border-bottom: 1px solid #666;
	transition: all;
}
#select_menu {
	color: black;
	border-bottom: 1px solid #000;
}
/**********Find Friend**********/


.find_content_wrapper {
	width: 100%;
	height: 100%;
	color: #444;
	line-height: 180%;
	text-align: center;
}
.find_sns_wrapper {
	width: 100%;
	height: 600px;
	padding-top: 60px;
	margin: 30px auto;/*border: 1px solid red;*/
}
.fb_icon {
	background-size: cover;
	background-color: #365b9a;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.tw_icon {
	background-size: cover;
	background-color: #365b9a;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.find_txt {
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 16px;/*font-weight:bold;*/
}
.find_btn {
	background: transparent;
	width: 100px;
	line-height: 40px;
	text-align: center;
	color: #545454;
	font-size: 0.9em;
	border: 1px solid #aaa;
	border-radius: 20px;
	height: 40px;
	padding: 0;
	margin: 20px auto;
	cursor: pointer;
}
.find_btn:hover {
	border: 1px solid #333;
	color: #333;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
}
/**********facebook after**********/

.find_content_wrapper_fb_after {
	width: 100%;
	height: 100%;
	line-height: 20px;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 16px;/*border: 1px solid red;*/

}
.fb_friend {
	width: 100px;
	margin: 0 auto;
	margin-bottom: 4px;
	height: 134px;
	/*border: 1px solid red;*/
	display: inline-block;
	padding: 21px;
}
.fb_friend_pic {
	width: 100px;
	height: 100px;
	background-color: #bfbfbf;
	border-radius: 50%;
}
.fb_friend_pic:hover {
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}
.fb_friend_name {
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	margin-top: 10px;
}
/**********share**********/

#unbox_logo {
	background-size: cover;
	background-color: #eee;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top: 90px;
}
.find_share_txt {
	font-size: 18px;
	line-height: 40px;
	margin-top: 30px;
	height: 40px;
	width: 100%;
	color: #333;
}
.find_share_wrapper {
	width: 500px;
	height: 100%;
	padding-top: 40px;
	margin: 0 auto;
	margin-top: 150px;/*border: 1px solid red;*/
}
#share_wrapper {
	width: 500px;
	height: 100px;
	text-align: center;
	line-height: 20px;
	border-collapse: collapse;
	/*border: 1px solid red;*/
	display: inline-block;
	color: #939393;
	table-layout: fixed;
	cursor: pointer;
}
td {
	width: 90px;
	cursor: pointer;
}
td:hover {
	opacity: 0.7;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}
/*-----------footer---------*/


#login_footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	height: 60px;
	line-height:60px;
	  z-index: 1000;
	margin-top:0;
	border-top:1px solid rgba(0,0,0,0);
	background-color: transparent;
}

#copyright {
	position: relative;
	width: 40%;
	height:inherit;
	color: #eee;
	color: #767676;
	font-size: 13px;
	line-height:inherit;
	float: left;
	text-align:left;
}
#login_footer > #footer_menu {
	width: 60%;
	text-align: right;
	height: inherit;
	line-height:inherit;
	float: right;
}
#footer_menu > .footer_menu {
	font-size: 0.9em;
	line-height:inherit;
	display: inline;
	padding: 0 0 0 15px;
	text-decoration: none;
}
#last_menu {
	border-right: none;
}
#footer_menu li {
	text-decoration: none;
	list-style: none;
}
.footer_menu a, .footer_menu a:link {
	text-decoration: none;
	list-style: none;
	color: #eee;
	color: #767676;
}
.footer_menu a:hover {
	color: #333;
}
 @media screen and (min-width:960px) {
}
 @media screen and (min-width:768px) and (max-width:959px) {
}
 @media screen and (max-width:767px) {

 }
  @media screen and (max-width:420px) {
.container {
	position: relative;
	max-width:100%;
	width: 100%;
	height: 100%;
	padding:30px;
}
	  
h1{
  font-size:32px;
}

#email_description {
	display: none;
	text-align: center;
	position:absolute;
	top: 40px;
	left:0;
	width: 100%;
	height: 80px;
	background-color: #fff;
	/*border-radius: 3px;*/
	z-index: 100;
}
#description {
	text-align: left;
	font-size: 14px;
	color: #767676;
	padding: 10px;
	line-height: 20px;
}
#triangle {
	display:none;
}


#copyright {
	position: relative;
	width:100%;
	height:inherit;
	color: #767676;
	font-size: 13px;
	line-height:inherit;
	float: left;
	text-align:center;
}

#footer_menu {
	display:none;
}

  }
 
/* 스마트폰 (가로 및 세로) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* 스마트폰 (가로 ) ----------- */
@media only screen and (min-width : 321px) {

}

/* 스마트폰 (세로) ----------- */
@media only screen and (max-width : 320px) {

}

/* 아이패드 (가로 및 세로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* 아이패드 (가로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* 아이패드 (세로) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* PC 및 노트북 ----------- */
@media only screen and (min-width : 1224px) {
/* 사용자 코드 */
}

/* 대형 스크린 ----------- */
@media only screen and (min-width : 1824px) {
/* 사용자 코드 */
}

/* 아이폰 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* 사용자 코드 */
}

/* 아이폰 5 & 5S 가로 및 세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

}
/* 아이폰 5 & 5S 가로 ------ */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 5 & 5S 세로 ------ */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이폰 6 세로 및 가로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
/* 사용자 코드 */
}

/* 아이폰 6 가로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 6 세로 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 가로 및 세로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 가로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
/* 사용자 코드 */
}

/* 아이폰 6 Plus 세로 */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
/* 사용자 코드 */
}

/* 아이패드 미니 가로 및 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}

/* 아이패드 미니 가로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}

/* 아이패드 미니 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
/* 사용자 코드 */
}
 

