
/*---left_section---*/

	
.wrapper_my_event {
	max-width: 700px;
	width: 100%;
	height: 0;
	padding-bottom:72%;
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
}
.bg_black {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: 100%;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.event_image {
	width: inherit;
	height: auto;
	background-size: cover;
	background-color: #f1f1f1;
	border:1px solid #eee;
}
#event_detail_wrap {
	width: 100%;
	height:auto;
	text-align: center;
	
}
#event_detail_wrap .event_detail_title {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	width: 100%;
	height: 30px;
	line-height: 30xx;
}
#event_detail_wrap > p {
	letter-spacing: 2px;
  margin-top: 10px;
  font-size: 14px;
	color: #fff;
}
/*=====weather=====*/	



.weather {
	width: 40%;
	height: 160px;
	margin-bottom:30px;
	float: left;
}
.weather_wrapper {
	width: 100%;
	height: 100px;
	text-align: center;
}
.weather_icon {
	margin: 0 auto;
	width: 80px;
	height: 60px;
	font-size: 12px;
}
.weather_icon img{
	width:100%;
	height:auto;
	}
.weather_info {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
}
#degree {
	font-size: 32px;
	line-height: 32px;
	color: #595959;
}
/*=====button_icon=====*/	


.button_icon {
	width: 60%;
	height: 160px;
	margin-bottom: 20px;
	float: right;
	position: relative;
}
.button_icon_wrapper {
	width: 100%;
	height: 100px;
	text-align: center;
}
#left_line {
	position: absolute;
	left: 0;
	width: 1px;
	height: 100px;
	background: #eee;
}
.icon_wrap {
	display: inline-block;
	width: 90px;
	height: 70px;
	margin: 0 auto;
	margin-top: 10px;
}
.icon {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-color: red;
}
.icon_text {
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: 6px;
	font-size: 13px;
	color: #545454;
	text-align: center;
}
#attendant_icon {
	background: url(../img/participation_page/attendant_icon.png) no-repeat center center;
	cursor: pointer;
	background-color: transparent;
}
#comment_icon {
	background: url(../img/participation_page/comment_icon.png) no-repeat center center;
	cursor: pointer;
	background-color: transparent;
}
#receipt_icon {
	background: url(../img/participation_page/receipt_icon.png) no-repeat center center;
	cursor: pointer;
	background-color: transparent;
}
/*=====map=====*/	



.map {
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
}
.map_widget {
	width: 100%;
	height: 180px;
	border: 1px solid #ddd;
	background-color: #eee;
	position: relative;
}
#map-canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: inherit;
}
.bg_black2 {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	width: 100%;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.map_info {
	font-size: 16px;
	color: #fff;
	text-align: center;
	width: 100%;
	padding:10px;
	//text-shadow: -40px 0 50px #000;
}
#map_icon {
	width: 21px;
	height: 26px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../img/Participation_page/map_icon.png) no-repeat center center;
}
#map_info_detail {
	font-size: 14px;
	font-weight: normal;
	color: #eee;
	padding-top: 4px;
}
/*=====Establishmen=====*/



.wrapper_2 {
	width: 100%;
	height: 100%;
	margin-bottom: 48px;
}
#profile_img_wrap {
	width: 10%;
	width:auto;
	height: 80px;
	margin-right: 5%;
	float: left;
}
#profile_img {
	width: 50px;
	height: 50px;
	background: #eee;
	border:1px solid #eee;
	/*border-radius: 50%;*/
	cursor: pointer;
}
#profile_img img{
	width:100%;
	height:100%;
	}
#profile_img:hover {
	opacity: 0.6;
	transition-duration: 0.4s;
}
#profile_name {
	text-align: center;
	color: #545454;
	width: 100%;
	font-size: 13px;
	padding-left: 2%;
	height: 30px;
	line-height: 30px;
}
#profile_about_wrap {
	position: relative;
	width: 85%;
	height: inherit;
	color: #545454;
	float: right;
	font-size: 14px;
}
#profile_about {
	color: #545454;
	line-height: 160%;
	min-height: 50px;
	height:50px;
	width: 80%;
	font-size: 14px;
	border: none;
	resize: none;
}
#profile_homepage {
	color:#57ad68;
	width: 80%;
	height: 30px;
	  line-height: 30px;
	font-size: 14px;
}
#profile_homepage:hover {
	text-decoration: underline;
}
#profile_follow {
	position: absolute;
	right: 0;
	top: 30px;
	width:auto;
	margin-left: 5%;
	height: 20px;
	text-align: right;
	color: #71a5cc;
	border: none;
	background-color: transparent;
	font-size: 15px;
	cursor: pointer;
}
#profile_follow:hover {
	text-decoration:underline;
}
/*=====attendant=====*/
.attendant_wrap {
	width: 88%;
	height: 80px;
	float: left;
}
.view_attendee_list {
	width: 12%;
	min-width: 60px;
	text-align: right;
	height: 80px;
	line-height: 80px;
	float: right;
}
.view_attendee_list:hover {
	text-decoration: underline;
}
.view_attendee_list a {
	color: #71a5cc;
}
.attendant {
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 20px;
	margin-right: 10px;
	height: 70px;
	/*border: 1px solid red;*/
	display: inline-block;
}
.attendant_pic {
	width: 50px;
	height: 50px;
	border:1px solid #eee;
	background-color: #eee;/*border-radius: 50%;*/
}
.attendant_pic img{
	width:inherit;
	height:inherit;
	}
.attendant_pic:hover {
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}
.attendant_name {
	width: 100%;
	height: 16px;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	color: #333;
	margin-top: 6px;
}
/*=====Comments=====*/
		
.comments {
	color: #000;
	width: 100%;
	min-height: 50px;
	height:auto;
	clear: both;/*border:1px solid red;*/
}
.user_pic {
	width: 10%;
	min-width: 50px;
	max-width: 50px;
	height: 50px;
	border:1px solid #eee;
	/*border-radius: 50%;*/
	background: #eee;
	cursor: pointer;
	float: left;
}
.user_pic img{
	width:100%;
	height:100%;
	}
.user_pic:hover {
	opacity: 0.7;
	transition-duration: 0.4s;
	cursor: pointer;
}	
.user_comment_wrap {
	position: relative;
	width: 89%;
	min-height: 50px;
	height:auto;
	float: right;
}
.user_name {
	font-size: 13px;
	color: #333;
	width:100%;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}
.comments_text {
	font-size: 13px;
	color: #767676;
	margin-bottom:10px;
	width: 85%;
	min-height: 20px;
	height:auto;
	line-height: 20px;/*border:1px solid red;*/
}
.more_btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	margin: 0;
	cursor: pointer;
	float: right;
}
.more_btn_wrap {
	position: absolute;
	top: 30px;
	right: 0;
	width: 84px;
	height: 84px;
	text-align: center;
	background: white;
	border: 1px solid #ddd;
	display: none;
	z-index: 5;
}
.more_btn_wrap > li {
	font-size: 13px;
	height: 28px;
	color: #767676;
	line-height: 28px;
}
.more_btn_wrap > li:hover {
	background: #eee;
	color: #333;
	cursor: pointer;
}
.more_btn:hover .more_btn_wrap, .more_btn:active .more_btn_wrap {
	display: block;
	transition-duration: 0.3s;
}
#more {
	color: #a0a0a0;
	width: 130px;
	height: 40px;
	margin:20px auto;
	line-height: 40px;
	font-size: 14px;
	clear: both;
	text-align: center;/*border-bottom:1px solid #f6f6f6;*/
}
#more:hover {
	color: #066ab3;
	cursor: pointer;
}
#my_comments {
	position:relative;
	color: #222;
	width: 100%;
	height: 50px;
	clear: both;
	margin-top: 30px;
}

.my_pic {
	width: 10%;
	min-width: 50px;
	max-width: 50px;
	height: inherit;
	border:1px solid #eee;
	/*border-radius: 50%;*/
	background: #eee;
	float: left;
}
.my_pic img{
	width:100%;
	height:100%;
	}
.my_comments {
	font-size: 14px;
	color: #333;
	width: 89%;
	height: inherit;
	margin-left: 1%;
	padding-left: 10px;
	padding-right:60px;
	float: right;
	line-height: 170%;
	background-color:transparent;
	border: 1px solid #eee;
	  border-right: none;
	  overflow:auto;
}
#comment_enter{
	position:absolute;
	right:0;
	width:55px;
	height:inherit;
	}
/*--- right section ticketlist---*/	

.ticketlist {
	padding-right:10px;
	width: 100%;
	height: 71px;
	margin-bottom:20px;
	cursor: pointer;
}

.ticketlist_detail_image_wrap {
	max-width: 100px;
	width:40%;
	height: 71px;
	background-color: #eee;
	border:1px solid #eee;
	float: left;

}
.ticketlist_detail_image {
	width: 100%;
	height: 100%;
}
/*
#check_event{
	  background-color: #fafafa;
  z-index: 200;
  border: 1px solid #eee;
	}
	*/
.ticketlist_wrapper {
	width: 60%;
	height: 71px;
	padding-left: 10px;
	float: right;
}
.ticketlist_wrapper .ticketlist_detail_title {
		font-size: 14px;
	font-weight: bold;
	  height: 20px;
  line-height: 20px;
	color: #333;
	 margin-bottom: 4px;
}
.ticketlist_wrapper .ticketlist_detail_time {
	font-size: 13px;
	font-style: normal;
	font-weight: 200;
	color: #767676;
	line-height: 140%;
}


.temporary_storage:hover{
	cursor: pointer;
	background:#f9f9f9;
	transition:all ease-out 0.4s;
	}
.temporary_event_detail_image {
	max-width: 100px;
	width:40%;
	height: 71px;
	background-color: #eee;
	float: left;
}



/*--------modal popup receipt------*/
.modal-content4 .close2 {
  position: absolute;
  top: -10px;
  right: 0;
  max-width: 40px;
  min-width: 40px;
  width: 10%;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

#receipt_top{
	position:absolute;
	top:-15px;
	width:100%;
	height:15px;
	background-color:#eee;
	background:url(../img/Participation_page/receipt_top.png) no-repeat center center;
	background-size:cover;
	}
#receipt_bottom{
	position:absolute;
	bottom:-15px;
	width:100%;
	height:15px;
	background-color:#eee;
	background:url(../img/Participation_page/receipt_bottom.png) no-repeat center center;
	background-size:cover;
	}	

.receipt_wrap {
  position: relative;
  width: inherit;
  height: 100%;
  padding:40px 20px;
  margin: 0 auto;
  clear: both;
  display: block;
  background-color: white;
}
/*--------modal popup section_1------*/
.receipt_wrap .receipt_section_1 {
	width: 100%;
	height: 30%;
	margin: 0 auto;
	display: block;
	padding:5px 30px;
}

.receipt_wrap > .receipt_section_1 > h1 {
	text-align: left;
	font-size:22px;
	font-weight:bold;
	margin-bottom: 16px;
}
.receipt_wrap > .receipt_section_1 > #time {
	text-align: left;
	float: left;
	font-size: 0.9em;
	width: 70%;
	height: 20px;
	line-height: 20px;
	margin-right: 0;
}
#ticket {
	text-align: right;
	font-size: 0.9em;
	height: 20px;
	width: 29%;
	margin-left: 1%;
	line-height: 20px;
	float: right;
}
#ticketnumber_wrap {
	text-align: left;
	clear: both;
	float: left;
}
#ticket_no {
	margin-top: 15px;
	font-size: 0.9em;
	height: 20px;
	line-height: 20px;
	color: #b7b7b7;
}
#ticket_number {
	font-size: 1.2em;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
}
#price_wrap {
	margin-top: 15px;
	font-size: 0.9em;
	height: 30px;
	float: right;
	line-height: 30px;
}
#per {
	font-size: 1.2em;
	color: #b7b7b7;
	margin-right: 5px;
}
#price {
	color: #333;
	font-weight: bold;
	font-size: 1.2em;
}

/*--------modal popup section_2------*/

.receipt_wrap .receipt_section_2 {
	width: 100%;
	height: 25%;
	margin: 0 auto;
	padding:0 30px;
	border-top:1px dashed #eee;
	border-bottom:1px dashed #eee;
	border-width: 1px;
}

.contacts_info{
	width:100%;
	height:50%;
	padding:15px 0;
	  max-height: 70px;
	}


#icon1 {
	width: 36px;
	height: 36px;
	margin: 2px;
	display: block;
	float: left;
	background: url(../img/participation_page/phone_icon.png) no-repeat center center;
}
#icon2 {
	width: 36px;
	height: 36px;
	margin: 2px;
	float: left;
	display: block;
	background: url(../img/participation_page/phone_icon.png) no-repeat center center;
}
.name_wrap {
	width: 80px;
	float: left;
	margin-left: 10px;
	text-align: left;
	height: 40px;
}
.name_wrap > .section2_text {
	font-size: 0.9em;
	height: 20px;
	color: #767676;
	line-height: 20px;
}
.name {
	font-size: 1em;
	height: 20px;
	color: #333;
	line-height: 20px;
}
.tel {
	font-size: 1em;
	height: 40px;
	color: #333;
	float: right;
	line-height: 40px;
}
/*--------modal popup section_3------*/

.receipt_wrap .receipt_section_3 {
	width:100%;
	clear: both;
	height: 45%;
	margin: 0 auto;
	padding:10px 30px;
}

.policy_info{
	width:100%;
	height:50%;
	margin-top: 10px;
	}
.section_text2 {
	text-align: left;
	clear: both;
	font-size: 0.9em;
	height: 15px;
	color: #767676;
	line-height: 15px;
}
.textarea {
	resize: none;
	margin-top: 10px;
	font-size: 0.9em;
	width: 100%;
	overflow:auto;
	min-height:70px;
	height: 80%;
	color: #333;
	border: none;
}







 
   @media screen and (max-width:420px) {

	.wrapper_2 {
	width: 100%;
	height: 100%;
	padding:0 15px;
	margin-bottom: 48px;
}   
.section_top{
	padding:16px 0;
	border:none;
	}
	   .section_text {
		   padding-left:10px;
	   }
	   .left_section {
  width:100%;
  height: 100%;
  padding:0;
  margin-right: 0;
  margin-bottom: 60px;
  float:none;
	   
   }
   .right_section {
  width: 100%;
  height: 100%;
   padding: 50px 15px 20px 15px;
  float:none;
}
.weather {
  width: 30%;
}
.weather_icon {
  margin: 0 auto;
  width: 70px;
}
#degree {
  font-size: 20px;
  line-height: 20px;
}
.button_icon{
  width: 70%;
}
.icon_wrap {
  display: inline-block;
  width: 60px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}

#profile_about_wrap {
  width: 78%;
}


.user_comment_wrap {
  width:78%;
}

.my_comments {
	font-size: 13px;
	width:78%;
}
#comment_enter {
  width: 50px;
  height: inherit;
  float: right;
}	
.ticketlist_wrapper {
  width: 65%;
  float: left;
}

   }